@font-face {
    font-family: ostrich-sans-heavy;
    src: url("ostrich-sans-heavy.eot");
    src: url("ostrich-sans-heavy.eot?#iefix") format("embedded-opentype"),
         url("ostrich-sans-heavy.woff") format("woff"),
         url("ostrich-sans-heavy.ttf") format("truetype"),
         url("ostrich-sans-heavy.svg#false") format("svg");
    font-weight: false;
    font-style: false;
}