@font-face {
    font-family: ostrich-sans-medium;
    src: url("ostrich-sans-medium.eot");
    src: url("ostrich-sans-medium.eot?#iefix") format("embedded-opentype"),
         url("ostrich-sans-medium.woff") format("woff"),
         url("ostrich-sans-medium.ttf") format("truetype"),
         url("ostrich-sans-medium.svg#false") format("svg");
    font-weight: false;
    font-style: false;
}