<input type="hidden" class="js-show-art" value="yes">


<div class="art_block">
    <div class="content_art">
       
        <div class="main_art">
            <a href="/">
                
            </a>
            <div class="center_text_art">
                JENYA ANANICHEVA<br/>
                <span>ART</span>
                <a href="/">
                    <div class="logo_art">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126.08 138.14"><title>1</title><path d="M13.56,18.5C4.85,18.5,0,23.84,0,33.13,0,41.27,5.67,45.71,11.1,50V49.9c4,3.12,7.81,6.17,7.81,10,0,4.36-1.89,5.84-5.34,5.84a4.83,4.83,0,0,1-3.42-1c-1.15-1-1.89-2.88-1.89-6.82V56.81a3,3,0,0,0-3-3H3a3,3,0,0,0-3,3v1.07c0,10.77,4.52,16,13.56,16,8.75,0,13.63-4.91,13.63-14.11,0-8-5.51-12.17-10.93-16.36H16.3c-4-3.12-8.05-6.33-8.05-10.52s1.89-6.17,5.34-6.17c3.62,0,5.34,2.47,5.34,7.89v1.15a3,3,0,0,0,3,3h2.22a3,3,0,0,0,3-3V34.61c0-10.42-4.71-16.11-13.59-16.11" transform="translate(0.04 0.05)" style="fill:#fff"/><path d="M59,19.52H56.65a3.14,3.14,0,0,0-2.88,2.21L46.45,51.8l-7.3-30.07a3.22,3.22,0,0,0-2.88-2.21H34A2.75,2.75,0,0,0,31.09,23L42.75,70.5a3,3,0,0,0,2.88,2.21h1.73a3.12,3.12,0,0,0,2.88-2.21L61.9,23A2.83,2.83,0,0,0,59,19.53" transform="translate(0.04 0.05)" style="fill:#fff"/><path d="M80,74a12.76,12.76,0,0,0,9.2-3.29c2.55-2.55,4.27-6.33,4.27-12.82V34.61c0-10.44-4.44-16-13.48-16s-13.47,5.67-13.47,16V57.88c0,6.49,1.81,10.27,4.35,12.82A12.71,12.71,0,0,0,80,74M74.69,34.61c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89V57.88c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V34.61Z" transform="translate(0.04 0.05)" style="fill:#fff"/><path d="M103.2,72.71H121a2.89,2.89,0,0,0,3-2.78V67.75A2.89,2.89,0,0,0,121,64.91H108.38V50h10.36a2.89,2.89,0,0,0,3-2.78V45.06a2.89,2.89,0,0,0-2.94-2.84H108.38V27.41H121a2.89,2.89,0,0,0,3-2.78V22.44A2.89,2.89,0,0,0,121,19.6H103.2a2.89,2.89,0,0,0-3,2.78v47.5a2.89,2.89,0,0,0,2.94,2.84h0.06" transform="translate(0.04 0.05)" style="fill:#fff"/><path d="M103.2,9h2.38a3,3,0,0,0,3-3V2.95a3,3,0,0,0-3-3H103.2a3,3,0,0,0-3,3V6.07a3,3,0,0,0,3,3" transform="translate(0.04 0.05)" style="fill:#fff"/><path d="M118.57,9H121a3,3,0,0,0,3-3V2.95a3,3,0,0,0-3-3h-2.38a3,3,0,0,0-3,3V6.07a3,3,0,0,0,3,3" transform="translate(0.04 0.05)" style="fill:#fff"/><path d="M12.15,82.64H4a3,3,0,0,0-3,3v49.45a3,3,0,0,0,3,3h8.12c9.61,0,13.89-5.26,13.89-15.86,0-5-1.4-9.21-3.54-11.84,0,0,3.54-4.19,3.54-11.84,0-10.61-4.27-15.87-13.89-15.87m0,47.27H9.29V114.37h2.86c4,0,5.67,2.22,5.67,7.81s-1.67,7.73-5.67,7.73m0-23.72H9.29V90.78h2.86c4,0,5.67,2.22,5.67,7.73s-1.67,7.68-5.67,7.68" transform="translate(0.04 0.05)" style="fill:#fff"/><path d="M56.21,83.61h-2.3A2.9,2.9,0,0,0,51,86.51v36.68c0,3.87-1.15,6.77-5.34,6.77-4,0-5.34-2.5-5.34-6.77V86.51a2.92,2.92,0,0,0-2.94-2.9H35a2.9,2.9,0,0,0-2.88,2.9v36.68c0,8.55,3.62,14.76,13.48,14.76,9.57,0,13.5-5.71,13.5-14.76V86.51a2.92,2.92,0,0,0-2.94-2.9H56.15" transform="translate(0.04 0.05)" style="fill:#fff"/><path d="M90,110.43c2.55-2.55,3.45-6.66,3.45-11.76,0-11-3.54-16.11-13.64-16.11H69.43a3,3,0,0,0-3,3V135a3,3,0,0,0,3,3h2.3a2.93,2.93,0,0,0,2.88-3v-20.2h3.7c4,0,6.33,2.3,6.33,6.41V135a3,3,0,0,0,3,3h2.3a3,3,0,0,0,3-3V121.28c0-4.27-1.15-7.64-3.54-10.19l0.66-.66m-11.67-3.86h-3.7V90.78h5.18c4.27,0,5.51,2.3,5.51,7.89s-2.38,7.89-7,7.89" transform="translate(0.04 0.05)" style="fill:#fff"/><path d="M112.57,82.64c-9,0-13.48,5.67-13.48,16V121.9c0,6.49,1.81,10.27,4.36,12.82a14.41,14.41,0,0,0,18.32,0c2.55-2.55,4.27-6.33,4.27-12.82V98.67c0-10.44-4.44-16-13.48-16M117.82,122c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V98.67c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89V122Z" transform="translate(0.04 0.05)" style="fill:#fff"/></svg>    
                    </div>
                </a>
                <div class="box_ugol_art">
                    <div class="one_ugol"></div>
                    <div class="two_ugol"></div>
                </div>
            </div>
            
        </div>
        
        <div class="main_art main_art_mobile">
            <a href="/">
                <div class="main_logo main_logo_mobile">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 126.04 166.27"><defs><clipPath id="a"><rect x="-371.69" y="-209.34" width="841.89" height="595.28" style="fill:none"/></clipPath></defs><title>logo</title><g style="clip-path:url(#a)"><path d="M13.56,18.5C4.85,18.5,0,23.84,0,33.13,0,41.27,5.67,45.71,11.1,50V49.9c4,3.12,7.81,6.17,7.81,10,0,4.36-1.89,5.84-5.34,5.84a4.83,4.83,0,0,1-3.42-1c-1.15-1-1.89-2.88-1.89-6.82V56.81a3,3,0,0,0-3-3H3a3,3,0,0,0-3,3v1.07c0,10.77,4.52,16,13.56,16,8.75,0,13.63-4.91,13.63-14.11,0-8-5.51-12.17-10.93-16.36H16.3c-4-3.12-8.05-6.33-8.05-10.52s1.89-6.17,5.34-6.17c3.62,0,5.34,2.47,5.34,7.89v1.15a3,3,0,0,0,3,3h2.22a3,3,0,0,0,3-3V34.61c0-10.42-4.71-16.11-13.59-16.11" style="fill:#FFF"/><path d="M59,19.52H56.65a3.14,3.14,0,0,0-2.88,2.21L46.45,51.8l-7.3-30.07a3.22,3.22,0,0,0-2.88-2.21H34A2.75,2.75,0,0,0,31.09,23L42.75,70.5a3,3,0,0,0,2.88,2.21h1.73a3.12,3.12,0,0,0,2.88-2.21L61.9,23A2.83,2.83,0,0,0,59,19.53" style="fill:#FFF"/><path d="M80,74a12.76,12.76,0,0,0,9.2-3.29c2.55-2.55,4.27-6.33,4.27-12.82V34.61c0-10.44-4.44-16-13.48-16s-13.47,5.67-13.47,16V57.88c0,6.49,1.81,10.27,4.35,12.82A12.71,12.71,0,0,0,80,74M74.69,34.61c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89V57.88c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V34.61Z" style="fill:#FFF"/><path d="M103.2,72.71H121a2.89,2.89,0,0,0,3-2.78V67.75A2.89,2.89,0,0,0,121,64.91H108.38V50h10.36a2.89,2.89,0,0,0,3-2.78V45.06a2.89,2.89,0,0,0-2.94-2.84H108.38V27.41H121a2.89,2.89,0,0,0,3-2.78V22.44A2.89,2.89,0,0,0,121,19.6H103.2a2.89,2.89,0,0,0-3,2.78v47.5a2.89,2.89,0,0,0,2.94,2.84h0.06" style="fill:#FFF"/><path d="M103.2,12h2.38a3,3,0,0,0,3-3V5.95a3,3,0,0,0-3-3H103.2a3,3,0,0,0-3,3V9.07a3,3,0,0,0,3,3" style="fill:#FFF"/><path d="M118.57,12H121a3,3,0,0,0,3-3V5.95a3,3,0,0,0-3-3h-2.38a3,3,0,0,0-3,3V9.07a3,3,0,0,0,3,3" style="fill:#FFF"/><path d="M12.15,82.64H4a3,3,0,0,0-3,3v49.45a3,3,0,0,0,3,3h8.12c9.61,0,13.89-5.26,13.89-15.86,0-5-1.4-9.21-3.54-11.84,0,0,3.54-4.19,3.54-11.84,0-10.61-4.27-15.87-13.89-15.87m0,47.27H9.29V114.37h2.86c4,0,5.67,2.22,5.67,7.81s-1.67,7.73-5.67,7.73m0-23.72H9.29V90.78h2.86c4,0,5.67,2.22,5.67,7.73s-1.67,7.68-5.67,7.68" style="fill:#FFF"/><path d="M56.21,83.61h-2.3A2.9,2.9,0,0,0,51,86.51v36.68c0,3.87-1.15,6.77-5.34,6.77-4,0-5.34-2.5-5.34-6.77V86.51a2.92,2.92,0,0,0-2.94-2.9H35a2.9,2.9,0,0,0-2.88,2.9v36.68c0,8.55,3.62,14.76,13.48,14.76,9.57,0,13.5-5.71,13.5-14.76V86.51a2.92,2.92,0,0,0-2.94-2.9H56.15" style="fill:#FFF"/><path d="M90,110.43c2.55-2.55,3.45-6.66,3.45-11.76,0-11-3.54-16.11-13.64-16.11H69.43a3,3,0,0,0-3,3V135a3,3,0,0,0,3,3h2.3a2.93,2.93,0,0,0,2.88-3v-20.2h3.7c4,0,6.33,2.3,6.33,6.41V135a3,3,0,0,0,3,3h2.3a3,3,0,0,0,3-3V121.28c0-4.27-1.15-7.64-3.54-10.19l0.66-.66m-11.67-3.86h-3.7V90.78h5.18c4.27,0,5.51,2.3,5.51,7.89s-2.38,7.89-7,7.89" style="fill:#FFF"/><path d="M112.57,82.64c-9,0-13.48,5.67-13.48,16V121.9c0,6.49,1.81,10.27,4.36,12.82a14.41,14.41,0,0,0,18.32,0c2.55-2.55,4.27-6.33,4.27-12.82V98.67c0-10.44-4.44-16-13.48-16M117.82,122c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V98.67c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89V122Z" style="fill:#FFF"/><path d="M11,156.74H9.67l0.65-3.26a0.7,0.7,0,0,0-.53-0.83l-0.18,0H9a0.75,0.75,0,0,0-.71.59l-0.67,3.52H6.58l0.63-3.24a0.72,0.72,0,0,0-.55-0.85l-0.16,0H5.89a0.72,0.72,0,0,0-.74.56c-0.22,1.19-.46,2.33-0.69,3.52H2.35a0.74,0.74,0,0,0-.73.73V158a0.74,0.74,0,0,0,.73.73h1.8c-0.12.69-.2,1-0.28,1.4h-2a0.73,0.73,0,0,0-.73.73v0.57a0.73,0.73,0,0,0,.73.73H3.53l-0.65,3.24a0.7,0.7,0,0,0,.53.83l0.18,0H4.15a0.75,0.75,0,0,0,.71-0.59c0.22-1.19.45-2.31,0.69-3.5H6.62L6,165.41a0.7,0.7,0,0,0,.53.83l0.18,0H7.29A0.72,0.72,0,0,0,8,165.67c0.22-1.19.47-2.31,0.67-3.5h1.82a0.74,0.74,0,0,0,.73-0.73v-0.55a0.74,0.74,0,0,0-.73-0.73H9.09l0.26-1.4H11a0.72,0.72,0,0,0,.71-0.73h0v-0.57a0.72,0.72,0,0,0-.71-0.73h0m-4,3.42H5.89c0.12-.69.18-1,0.28-1.4H7.24c-0.12.69-.18,1-0.28,1.4" style="fill:#FFF"/><path d="M17.67,152.63H17.15a0.73,0.73,0,0,0-.73.73v9.21c0,1.17-.39,1.7-1.11,1.7a1,1,0,0,1-.73-0.2,2,2,0,0,1-.4-1.5v-0.28a0.74,0.74,0,0,0-.73-0.71H12.84a0.72,0.72,0,0,0-.73.71h0v0.28c0,2.43,1,3.7,3.16,3.7s3.11-1.28,3.11-3.7v-9.21a0.72,0.72,0,0,0-.71-0.73h0" style="fill:#FFF"/><path d="M25,152.63H20.59a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.71.73H25a0.73,0.73,0,0,0,.73-0.73V165a0.73,0.73,0,0,0-.73-0.73h-3.1v-3.82h2.55a0.73,0.73,0,0,0,.73-0.73v-0.52a0.73,0.73,0,0,0-.73-0.73H21.86v-3.8H25a0.73,0.73,0,0,0,.73-0.73v-0.55a0.73,0.73,0,0,0-.73-0.73" style="fill:#FFF"/><path d="M33,152.63H32.43a0.73,0.73,0,0,0-.73.73V160l-2.81-7a0.8,0.8,0,0,0-.67-0.45H27.73a0.74,0.74,0,0,0-.73.73V165.5a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45H33a0.73,0.73,0,0,0,.73-0.73V153.36a0.73,0.73,0,0,0-.73-0.73" style="fill:#FFF"/><path d="M41.59,152.63H40.93a0.93,0.93,0,0,0-.67.43l-1.62,3.72L37,153.06a0.86,0.86,0,0,0-.67-0.43H35.69a0.7,0.7,0,0,0-.67,1c0.87,2,1.76,4,2.63,6.05v5.85a0.72,0.72,0,0,0,.71.73h0.57a0.73,0.73,0,0,0,.73-0.73V159.7l2.61-6.07a0.71,0.71,0,0,0-.67-1" style="fill:#FFF"/><path d="M46.21,153.19a0.78,0.78,0,0,0-.71-0.57H45.06a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.51.85l0.2,0h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06L47,165.69a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H44.71Z" style="fill:#FFF"/><path d="M55.78,153.19a0.78,0.78,0,0,0-.71-0.57H54.62a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.51.85l0.2,0h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H54.28Z" style="fill:#FFF"/><path d="M65.15,152.63H64.62a0.73,0.73,0,0,0-.73.73V160l-2.81-7a0.8,0.8,0,0,0-.67-0.45H59.93a0.74,0.74,0,0,0-.73.73V165.5a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45h0.42a0.73,0.73,0,0,0,.73-0.73V153.36a0.73,0.73,0,0,0-.73-0.73" style="fill:#FFF"/><path d="M72.23,153.19a0.78,0.78,0,0,0-.71-0.57H71.08a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.51.85l0.2,0h0.61a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06L73,165.69a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H70.73Z" style="fill:#FFF"/><path d="M81.64,152.63H81.07a0.73,0.73,0,0,0-.73.73V160l-2.81-7a0.8,0.8,0,0,0-.67-0.45H76.38a0.74,0.74,0,0,0-.73.73V165.5a0.74,0.74,0,0,0,.73.73H77a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45h0.47a0.73,0.73,0,0,0,.73-0.73V153.36a0.73,0.73,0,0,0-.73-0.73" style="fill:#FFF"/><path d="M85.15,152.63H84.62a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.71.73h0.55a0.74,0.74,0,0,0,.73-0.73V153.36a0.74,0.74,0,0,0-.73-0.73" style="fill:#FFF"/><path d="M90.59,152.63a3.23,3.23,0,0,0-2.25.79,4.15,4.15,0,0,0-1.09,3.16v5.73a4.17,4.17,0,0,0,1.07,3.16,3.55,3.55,0,0,0,4.51,0,4.17,4.17,0,0,0,1.05-3.16V162a0.72,0.72,0,0,0-.71-0.73H92.58a0.73,0.73,0,0,0-.73.73v0.28a2.76,2.76,0,0,1-.34,1.6,1.32,1.32,0,0,1-.93.36c-0.87,0-1.3-.61-1.3-2v-5.73c0-1.36.45-1.94,1.3-1.94s1.27,0.59,1.27,1.94v0.28a0.73,0.73,0,0,0,.73.73h0.57a0.72,0.72,0,0,0,.71-0.73h0v-0.28a4.15,4.15,0,0,0-1.07-3.16,3.21,3.21,0,0,0-2.23-.79" style="fill:#FFF"/><path d="M100.83,152.63h-0.57a0.73,0.73,0,0,0-.73.73v5.1H97.28v-5.1a0.73,0.73,0,0,0-.73-0.73H96a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.71.73h0.59a0.72,0.72,0,0,0,.73-0.71s0,0,0,0v-5.08h2.25v5.08a0.72,0.72,0,0,0,.71.73h0.59a0.72,0.72,0,0,0,.73-0.71s0,0,0,0V153.36a0.73,0.73,0,0,0-.73-0.73" style="fill:#FFF"/><path d="M108.31,152.63h-4.37a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.71.73h4.39a0.72,0.72,0,0,0,.73-0.71s0,0,0,0V165a0.72,0.72,0,0,0-.71-0.73h-3.12v-3.82h2.55a0.73,0.73,0,0,0,.73-0.73v-0.52a0.73,0.73,0,0,0-.73-0.73h-2.55v-3.8h3.1a0.73,0.73,0,0,0,.73-0.73v-0.55a0.73,0.73,0,0,0-.73-0.73" style="fill:#FFF"/><path d="M116.56,152.61H116a0.78,0.78,0,0,0-.71.57l-1.8,7.71-1.8-7.71a0.8,0.8,0,0,0-.71-0.57h-0.57a0.7,0.7,0,0,0-.71.89l2.87,12.18a0.74,0.74,0,0,0,.71.57h0.42a0.77,0.77,0,0,0,.71-0.57l2.87-12.18a0.72,0.72,0,0,0-.53-0.87l-0.18,0" style="fill:#FFF"/><path d="M123.72,165.38l-2.79-12.19a0.78,0.78,0,0,0-.71-0.57h-0.45a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.51.85l0.2,0h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16H121l0.69,3.16a0.8,0.8,0,0,0,.71.57H123a0.72,0.72,0,0,0,.71-0.89m-4.29-4.84,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24h-1.14Z" style="fill:#FFF"/></g></svg>
                </div>
            </a>
            
            <div class="center_text_art">
               
                <span>ART</span>
                
                <div class="box_ugol_art">
                    <div class="one_ugol"></div>
                    <div class="two_ugol"></div>
                </div>
            </div>
            
        </div>


       <% @art.each do |item|%>
           <div class="point_art_slide" id="<%=item.id%>">
               <div class="image_art" style="background-image:url(<%=item.photo.url()%>)"></div>
               <div class="info_art">


                    <div class="scroll_to_up">
                        Вверх
                    </div> 
                   <div class="description_art">
                       <%=item.detail%>
                   </div>

                   <% if not item.href.blank? %>
                       <a href="<%=item.href%>" style="text-decoration: none;">
                           <div class="look_interior">
                               Посмотреть <br/> в интерьере
                           </div>

                       </a>
                    <% end %>

                   <div class="social_art">
                       <div class="title_social_art">
                           Поделиться:
                       </div> 
                       <a target="_blank" title='FaceBook' href="https://www.facebook.com/sharer/sharer.php?u=http://svoeburo.com/share_art/<%=item.id%>">
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.92 29.92"><title>FaceBook</title><path d="M21.44,9.58h3.68V5H21.44a5.76,5.76,0,0,0-5.51,6v2.3H12.25v4.56h3.67V28.92h4.59V17.86h4.59V13.3H20.52V11A1.26,1.26,0,0,1,21.44,9.58Z" transform="translate(0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1px"/><path d="M24.24,1H5.63A4.67,4.67,0,0,0,1,5.65V24.26a4.67,4.67,0,0,0,4.65,4.65H24.24a4.66,4.66,0,0,0,4.65-4.65V5.65A4.67,4.67,0,0,0,24.24,1h0Z" transform="translate(0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1px"/></svg>
                      </a>
                       <a target="_blank" title='Вконтакте' href="http://vk.com/share.php?url=http://svoeburo.com/share_art/<%=item.id%>">
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.89 28.91"><title>Вконтакте</title><path d="M23.76,0.5H5.15A4.67,4.67,0,0,0,.52,5.15V23.76a4.67,4.67,0,0,0,4.65,4.65H23.76a4.66,4.66,0,0,0,4.65-4.65V5.15A4.67,4.67,0,0,0,23.76.5h0Z" transform="translate(-0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10"/><path d="M20.38,14.79c-1.29-1-3.29-.51-1.84-0.9s2.16-2.27,2.16-3.68A3.46,3.46,0,0,0,17,6.64H8.71v16.3h8a4.92,4.92,0,0,0,5.09-4.43C21.83,17,21.68,15.81,20.38,14.79ZM12.78,9.5h2.27a1.52,1.52,0,0,1,1.63,1.63,1.65,1.65,0,0,1-1.82,1.82H12.78V9.5ZM15.4,20H12.78V15.69h2.87a1.91,1.91,0,0,1,2.05,2.05A2.08,2.08,0,0,1,15.4,20Z" transform="translate(-0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10"/></svg>

                        </a>
                       <a target="_blank" title='Pinterest' data-pin-do="buttonPin" data-pin-count="above" href="https://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fsvoeburo.com%2Fart&media=http%3A%2F%2Fsvoeburo.com<%=item.photo.url(:big)%>%3F1458848162&description=<%=item.detail%>">
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.92 28.92"><title>Pinterest</title><path d="M24.24,1H5.63A4.67,4.67,0,0,0,1,5.65V24.26a4.67,4.67,0,0,0,4.65,4.65H24.24a4.66,4.66,0,0,0,4.65-4.65V5.65A4.67,4.67,0,0,0,24.24,1h0Z" transform="translate(-0.48 -0.5)" style="fill:none;stroke:#000;stroke-miterlimit:10"/><path d="M13.8,18.65l0,0.18-0.61,2.4a7.21,7.21,0,0,1-.66,1.65,12.63,12.63,0,0,1-1.16,1.76l-0.06.07a0.12,0.12,0,0,1-.21-0.06q0-.08,0-0.15a13.8,13.8,0,0,1-.12-1.6,9.9,9.9,0,0,1,0-1.49,9.8,9.8,0,0,1,.2-1L12,17l0.35-1.48a0.63,0.63,0,0,1,0-.08,0.19,0.19,0,0,0,0-.15A3.94,3.94,0,0,1,12,13.71a3.27,3.27,0,0,1,.27-1.32,2.36,2.36,0,0,1,.56-0.77,1.63,1.63,0,0,1,.81-0.42,1.55,1.55,0,0,1,.77.05,1.17,1.17,0,0,1,.67.63,1.75,1.75,0,0,1,.16.68,3.13,3.13,0,0,1-.07.77,13.17,13.17,0,0,1-.3,1.31c-0.15.47-.29,0.94-0.42,1.42q0,0.18-.08.36a1.55,1.55,0,0,0,1.1,1.67,1.82,1.82,0,0,0,.71.08,2.37,2.37,0,0,0,1.41-.62,3.82,3.82,0,0,0,.72-0.93A6.18,6.18,0,0,0,19,15.08a7.83,7.83,0,0,0,.23-1.39,3.66,3.66,0,0,1,0-.65A4.37,4.37,0,0,0,19,11.37a3.42,3.42,0,0,0-1.83-2A4.4,4.4,0,0,0,16,9,5.82,5.82,0,0,0,15,9a5.19,5.19,0,0,0-2,.42,4.79,4.79,0,0,0-2.84,4.73,2.77,2.77,0,0,0,.63,1.61l0.12,0.15a0.39,0.39,0,0,1,.06.34l-0.16.66,0,0.19a0.94,0.94,0,0,1,0,.11,0.32,0.32,0,0,1-.41.21h0l-0.13-.05a2.88,2.88,0,0,1-1.21-1A4,4,0,0,1,8.37,15a5.76,5.76,0,0,1,.46-4.11A6.44,6.44,0,0,1,11.77,8a7.33,7.33,0,0,1,1.82-.61,9.06,9.06,0,0,1,1.2-.15h0.56a7,7,0,0,1,.82,0,6.35,6.35,0,0,1,4,2,5.52,5.52,0,0,1,1.39,2.61,5,5,0,0,1,.12,1,9.27,9.27,0,0,1-.36,2.8,7,7,0,0,1-1,2,5.22,5.22,0,0,1-1.75,1.61,4.7,4.7,0,0,1-1.63.56,4.39,4.39,0,0,1-.9,0,3.09,3.09,0,0,1-1.86-.73,1.85,1.85,0,0,1-.36-0.42l-0.08-.1h0Z" transform="translate(-0.48 -0.5)" style="fill:#000"/></svg>
                       </a>
                   </div>
               </div>
           </div>
        <%end%>
 
        <div class="loader_new_art">
            
        </div>
        
        
        <div class="load_more" id="2">
            <div class="load_icon_art">
                
            </div>
            <div class="text_load_art">
                Больше артов
            </div>
            
        </div>

        <div class="copyright">
            © Mayakovsky, 2016-2018
        </div>

    </div>

</div>
