<div class="head_block">

    <div class="mini_logo_block" onclick='mySwipe.prev()'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.45 110.06"><title>23123123213</title><path d="M0,42.27A2.25,2.25,0,0,1,2.26,40h2a2.34,2.34,0,0,1,2.36,2.25v0.81c0,3,.59,4.42,1.51,5.17a4,4,0,0,0,2.76.81c2.76,0,4.27-1.13,4.27-4.42,0-2.93-3-5.23-6.24-7.6v0.06C4.54,33.85,0,30.49,0,24.32c0-7,3.87-11.09,10.83-11.09s10.83,4.3,10.83,12.21v0.88a2.25,2.25,0,0,1-2.25,2.25h-2a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V25.44c0-4.11-1.37-6-4.27-6S6.57,20.9,6.57,24.14s3.22,5.63,6.43,8H12.93c4.33,3.17,8.72,6.36,8.72,12.38,0,7-3.87,10.72-10.83,10.72C3.61,55.22,0,51.23,0,43.06V42.27H0Z" transform="translate(0 0)" style="fill:#fff"/><path d="M37.11,38.71L43,15a2.5,2.5,0,0,1,2.25-1.74h1.9A2.25,2.25,0,0,1,49.36,16L40.13,53.48a2.49,2.49,0,0,1-2.25,1.74H36.46a2.36,2.36,0,0,1-2.25-1.74L24.81,16a2.18,2.18,0,0,1,2.25-2.75H29A2.57,2.57,0,0,1,31.22,15Z" transform="translate(0 0)" style="fill:#fff"/><path d="M52.27,25.44c0-7.88,3.61-12.15,10.76-12.15S73.8,17.53,73.8,25.44V43.08c0,4.92-1.37,7.79-3.38,9.73a10.54,10.54,0,0,1-7.34,2.49A10.48,10.48,0,0,1,55.8,52.8c-2-1.94-3.48-4.8-3.48-9.73V25.44h0Zm6.56,17.64c0,4.11,1.37,6,4.2,6s4.2-1.81,4.2-6V25.44c0-4.18-1.37-6-4.2-6s-4.2,1.94-4.2,6V43.08Z" transform="translate(0 0)" style="fill:#fff"/><path d="M95.39,13.29a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12v1.68a2.25,2.25,0,0,1-2.25,2.25H85.34v11.7h8.27A2.25,2.25,0,0,1,96,33.31s0,0.08,0,.12V35.1a2.25,2.25,0,0,1-2.25,2.25H85.34V49.12h10a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12v1.68a2.25,2.25,0,0,1-2.25,2.25H81.21a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V15.48a2.25,2.25,0,0,1,2.25-2.25H95.39v0.07Z" transform="translate(0 0)" style="fill:#fff"/><path d="M2.39,110A2.25,2.25,0,0,1,0,107.9s0-.08,0-0.12V70.25A2.25,2.25,0,0,1,2.28,68H8.89C16.57,68,20,72,20,80a14.15,14.15,0,0,1-2.83,9A13.88,13.88,0,0,1,20,98c0,8-3.38,12-11.09,12H2.39v0ZM6.59,74.2V85.89H8.84c3.22,0,4.5-1.68,4.5-5.85S12,74.18,8.84,74.18H6.59v0Zm0,17.89v11.75H8.84c3.22,0,4.5-1.68,4.5-5.85s-1.24-6-4.46-6H6.64Z" transform="translate(0 0)" style="fill:#fff"/><path d="M24.5,70.19a2.25,2.25,0,0,1,2.25-2.25h1.83a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12V98.54c0,3.3,1,5.23,4.27,5.23s4.27-2.25,4.27-5.23V70.19a2.25,2.25,0,0,1,2.25-2.25h1.83a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12V98.54c0,7-3.15,11.4-10.76,11.4-7.88,0-10.76-4.8-10.76-11.4V70.19H24.5Z" transform="translate(0 0)" style="fill:#fff"/><path d="M72.94,107.7A2.25,2.25,0,0,1,70.69,110h-2a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V97.29c0-3.12-1.83-4.86-5.05-4.86H58.37v15.26a2.25,2.25,0,0,1-2.25,2.25H54.24a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V70.19a2.25,2.25,0,0,1,2.25-2.25h8.39c8.07,0,10.9,3.86,10.9,12.21,0,3.86-.72,7-2.76,8.92l-0.53.5A10.48,10.48,0,0,1,73,97.28v10.41h0ZM58.37,86.14h2.95c3.68,0,5.63-1.74,5.63-6s-1-6-4.4-6H58.37v12Z" transform="translate(0 0)" style="fill:#fff"/><path d="M77.93,80.16C77.93,72.28,81.54,68,88.69,68s10.76,4.23,10.76,12.15V97.8c0,4.92-1.37,7.79-3.38,9.73a12,12,0,0,1-14.63,0c-2-1.94-3.48-4.8-3.48-9.73V80.16h0ZM84.47,97.8c0,4.11,1.37,6,4.2,6s4.2-1.81,4.2-6V80.16c0-4.18-1.37-6-4.2-6s-4.2,1.92-4.2,6V97.8Z" transform="translate(0 0)" style="fill:#fff"/><circle cx="82.53" cy="4.28" r="4.28" style="fill:#fff"/><circle cx="94.98" cy="4.28" r="4.28" style="fill:#fff"/></svg>
    </div>


    <div class="clear"></div>
</div>

<div class="title_object title_object_mobile">
    <%=@page.name%>
    <% if not @page.href.blank?%>
        <a href="http://<%=@page.href%>">
            <% if @page.name_href.blank?%>
                <%=@page.href%>
            <%else%>
                <%=@page.name_href%>
            <% end %>
        </a>
    <% end %>
</div>

<% if not @page.panoram.blank?%>
    <div class="slide_mobile">
        <iframe src="http://1panorama.ru/embed/<%=@page.panoram%>" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </div>
<% end %>


<% @page.images.each do |img|%>
    <div class="slide_mobile">
        <img src="<%=img.image.url(:mobile)%>" alt="<%=img.alt%>">
        <div class="social_object">
           <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://svoeburo.com/share_image/<%=img.id%>">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.92 29.92"><title>FaceBook</title><path d="M21.44,9.58h3.68V5H21.44a5.76,5.76,0,0,0-5.51,6v2.3H12.25v4.56h3.67V28.92h4.59V17.86h4.59V13.3H20.52V11A1.26,1.26,0,0,1,21.44,9.58Z" transform="translate(0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:1px"/><path d="M24.24,1H5.63A4.67,4.67,0,0,0,1,5.65V24.26a4.67,4.67,0,0,0,4.65,4.65H24.24a4.66,4.66,0,0,0,4.65-4.65V5.65A4.67,4.67,0,0,0,24.24,1h0Z" transform="translate(0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:1px"/></svg>
            </a>
           <a target="_blank" href="http://vk.com/share.php?url=http://svoeburo.com/share_image/<%=img.id%>">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.89 28.91"><title>Вконтакте</title><path d="M23.76,0.5H5.15A4.67,4.67,0,0,0,.52,5.15V23.76a4.67,4.67,0,0,0,4.65,4.65H23.76a4.66,4.66,0,0,0,4.65-4.65V5.15A4.67,4.67,0,0,0,23.76.5h0Z" transform="translate(-0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><path d="M20.38,14.79c-1.29-1-3.29-.51-1.84-0.9s2.16-2.27,2.16-3.68A3.46,3.46,0,0,0,17,6.64H8.71v16.3h8a4.92,4.92,0,0,0,5.09-4.43C21.83,17,21.68,15.81,20.38,14.79ZM12.78,9.5h2.27a1.52,1.52,0,0,1,1.63,1.63,1.65,1.65,0,0,1-1.82,1.82H12.78V9.5ZM15.4,20H12.78V15.69h2.87a1.91,1.91,0,0,1,2.05,2.05A2.08,2.08,0,0,1,15.4,20Z" transform="translate(-0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/></svg>
         </a>
           <a target="_blank" data-pin-do="buttonPin" data-pin-count="above" href="https://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fsvoeburo.com%2Fart&media=http%3A%2F%2Fsvoeburo.com<%=img.image.url()%>%3F1458848162&description=<%=img.alt%>">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.92 28.92"><title>Pinterest</title><path d="M24.24,1H5.63A4.67,4.67,0,0,0,1,5.65V24.26a4.67,4.67,0,0,0,4.65,4.65H24.24a4.66,4.66,0,0,0,4.65-4.65V5.65A4.67,4.67,0,0,0,24.24,1h0Z" transform="translate(-0.48 -0.5)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><path d="M13.8,18.65l0,0.18-0.61,2.4a7.21,7.21,0,0,1-.66,1.65,12.63,12.63,0,0,1-1.16,1.76l-0.06.07a0.12,0.12,0,0,1-.21-0.06q0-.08,0-0.15a13.8,13.8,0,0,1-.12-1.6,9.9,9.9,0,0,1,0-1.49,9.8,9.8,0,0,1,.2-1L12,17l0.35-1.48a0.63,0.63,0,0,1,0-.08,0.19,0.19,0,0,0,0-.15A3.94,3.94,0,0,1,12,13.71a3.27,3.27,0,0,1,.27-1.32,2.36,2.36,0,0,1,.56-0.77,1.63,1.63,0,0,1,.81-0.42,1.55,1.55,0,0,1,.77.05,1.17,1.17,0,0,1,.67.63,1.75,1.75,0,0,1,.16.68,3.13,3.13,0,0,1-.07.77,13.17,13.17,0,0,1-.3,1.31c-0.15.47-.29,0.94-0.42,1.42q0,0.18-.08.36a1.55,1.55,0,0,0,1.1,1.67,1.82,1.82,0,0,0,.71.08,2.37,2.37,0,0,0,1.41-.62,3.82,3.82,0,0,0,.72-0.93A6.18,6.18,0,0,0,19,15.08a7.83,7.83,0,0,0,.23-1.39,3.66,3.66,0,0,1,0-.65A4.37,4.37,0,0,0,19,11.37a3.42,3.42,0,0,0-1.83-2A4.4,4.4,0,0,0,16,9,5.82,5.82,0,0,0,15,9a5.19,5.19,0,0,0-2,.42,4.79,4.79,0,0,0-2.84,4.73,2.77,2.77,0,0,0,.63,1.61l0.12,0.15a0.39,0.39,0,0,1,.06.34l-0.16.66,0,0.19a0.94,0.94,0,0,1,0,.11,0.32,0.32,0,0,1-.41.21h0l-0.13-.05a2.88,2.88,0,0,1-1.21-1A4,4,0,0,1,8.37,15a5.76,5.76,0,0,1,.46-4.11A6.44,6.44,0,0,1,11.77,8a7.33,7.33,0,0,1,1.82-.61,9.06,9.06,0,0,1,1.2-.15h0.56a7,7,0,0,1,.82,0,6.35,6.35,0,0,1,4,2,5.52,5.52,0,0,1,1.39,2.61,5,5,0,0,1,.12,1,9.27,9.27,0,0,1-.36,2.8,7,7,0,0,1-1,2,5.22,5.22,0,0,1-1.75,1.61,4.7,4.7,0,0,1-1.63.56,4.39,4.39,0,0,1-.9,0,3.09,3.09,0,0,1-1.86-.73,1.85,1.85,0,0,1-.36-0.42l-0.08-.1h0Z" transform="translate(-0.48 -0.5)" style="fill:#fff"/></svg>
           </a>
          <a href="tel:89852469174">
               <svg class='svg_phone' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.89 28.91"><title>icon</title><path d="M23.76,0.5H5.15A4.67,4.67,0,0,0,.52,5.15V23.76a4.67,4.67,0,0,0,4.65,4.65H23.76a4.66,4.66,0,0,0,4.65-4.65V5.15A4.67,4.67,0,0,0,23.76.5h0Z" transform="translate(-0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><path d="M15.22,4.24v6.9h3.14a27.83,27.83,0,0,1-1.57,4.65,28.27,28.27,0,0,1-2.35,3.92l-2.3-2.09-4.7,4.76,5,2.3a15.94,15.94,0,0,0,7.79-7.27c2.46-5.17.84-10.24-.68-11.08S15.22,4.24,15.22,4.24Z" transform="translate(-0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/></svg>
           </a>
           <div class="clear"></div>
       </div>
    </div>
<% end %>

<% @page.visuals.each do |img|%>
    <div class="slide_mobile">
        <img src="<%=img.image.url(:mobile)%>" alt="<%=img.alt%>">
        <div class="social_object">
           <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://svoeburo.com/share_image/<%=img.id%>">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.92 29.92"><title>FaceBook</title><path d="M21.44,9.58h3.68V5H21.44a5.76,5.76,0,0,0-5.51,6v2.3H12.25v4.56h3.67V28.92h4.59V17.86h4.59V13.3H20.52V11A1.26,1.26,0,0,1,21.44,9.58Z" transform="translate(0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:1px"/><path d="M24.24,1H5.63A4.67,4.67,0,0,0,1,5.65V24.26a4.67,4.67,0,0,0,4.65,4.65H24.24a4.66,4.66,0,0,0,4.65-4.65V5.65A4.67,4.67,0,0,0,24.24,1h0Z" transform="translate(0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:1px"/></svg>
            </a>
           <a target="_blank" href="http://vk.com/share.php?url=http://svoeburo.com/share_image/<%=img.id%>">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.89 28.91"><title>Вконтакте</title><path d="M23.76,0.5H5.15A4.67,4.67,0,0,0,.52,5.15V23.76a4.67,4.67,0,0,0,4.65,4.65H23.76a4.66,4.66,0,0,0,4.65-4.65V5.15A4.67,4.67,0,0,0,23.76.5h0Z" transform="translate(-0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><path d="M20.38,14.79c-1.29-1-3.29-.51-1.84-0.9s2.16-2.27,2.16-3.68A3.46,3.46,0,0,0,17,6.64H8.71v16.3h8a4.92,4.92,0,0,0,5.09-4.43C21.83,17,21.68,15.81,20.38,14.79ZM12.78,9.5h2.27a1.52,1.52,0,0,1,1.63,1.63,1.65,1.65,0,0,1-1.82,1.82H12.78V9.5ZM15.4,20H12.78V15.69h2.87a1.91,1.91,0,0,1,2.05,2.05A2.08,2.08,0,0,1,15.4,20Z" transform="translate(-0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/></svg>
            </a>
           <a target="_blank" data-pin-do="buttonPin" data-pin-count="above" href="https://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fsvoeburo.com%2Fart&media=http%3A%2F%2Fsvoeburo.com<%=img.image.url()%>%3F1458848162&description=<%=img.alt%>">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.92 28.92"><title>Pinterest</title><path d="M24.24,1H5.63A4.67,4.67,0,0,0,1,5.65V24.26a4.67,4.67,0,0,0,4.65,4.65H24.24a4.66,4.66,0,0,0,4.65-4.65V5.65A4.67,4.67,0,0,0,24.24,1h0Z" transform="translate(-0.48 -0.5)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><path d="M13.8,18.65l0,0.18-0.61,2.4a7.21,7.21,0,0,1-.66,1.65,12.63,12.63,0,0,1-1.16,1.76l-0.06.07a0.12,0.12,0,0,1-.21-0.06q0-.08,0-0.15a13.8,13.8,0,0,1-.12-1.6,9.9,9.9,0,0,1,0-1.49,9.8,9.8,0,0,1,.2-1L12,17l0.35-1.48a0.63,0.63,0,0,1,0-.08,0.19,0.19,0,0,0,0-.15A3.94,3.94,0,0,1,12,13.71a3.27,3.27,0,0,1,.27-1.32,2.36,2.36,0,0,1,.56-0.77,1.63,1.63,0,0,1,.81-0.42,1.55,1.55,0,0,1,.77.05,1.17,1.17,0,0,1,.67.63,1.75,1.75,0,0,1,.16.68,3.13,3.13,0,0,1-.07.77,13.17,13.17,0,0,1-.3,1.31c-0.15.47-.29,0.94-0.42,1.42q0,0.18-.08.36a1.55,1.55,0,0,0,1.1,1.67,1.82,1.82,0,0,0,.71.08,2.37,2.37,0,0,0,1.41-.62,3.82,3.82,0,0,0,.72-0.93A6.18,6.18,0,0,0,19,15.08a7.83,7.83,0,0,0,.23-1.39,3.66,3.66,0,0,1,0-.65A4.37,4.37,0,0,0,19,11.37a3.42,3.42,0,0,0-1.83-2A4.4,4.4,0,0,0,16,9,5.82,5.82,0,0,0,15,9a5.19,5.19,0,0,0-2,.42,4.79,4.79,0,0,0-2.84,4.73,2.77,2.77,0,0,0,.63,1.61l0.12,0.15a0.39,0.39,0,0,1,.06.34l-0.16.66,0,0.19a0.94,0.94,0,0,1,0,.11,0.32,0.32,0,0,1-.41.21h0l-0.13-.05a2.88,2.88,0,0,1-1.21-1A4,4,0,0,1,8.37,15a5.76,5.76,0,0,1,.46-4.11A6.44,6.44,0,0,1,11.77,8a7.33,7.33,0,0,1,1.82-.61,9.06,9.06,0,0,1,1.2-.15h0.56a7,7,0,0,1,.82,0,6.35,6.35,0,0,1,4,2,5.52,5.52,0,0,1,1.39,2.61,5,5,0,0,1,.12,1,9.27,9.27,0,0,1-.36,2.8,7,7,0,0,1-1,2,5.22,5.22,0,0,1-1.75,1.61,4.7,4.7,0,0,1-1.63.56,4.39,4.39,0,0,1-.9,0,3.09,3.09,0,0,1-1.86-.73,1.85,1.85,0,0,1-.36-0.42l-0.08-.1h0Z" transform="translate(-0.48 -0.5)" style="fill:#fff"/></svg>
           </a>
           <a href="tel:89852469174">
               <svg class='svg_phone' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.89 28.91"><title>icon</title><path d="M23.76,0.5H5.15A4.67,4.67,0,0,0,.52,5.15V23.76a4.67,4.67,0,0,0,4.65,4.65H23.76a4.66,4.66,0,0,0,4.65-4.65V5.15A4.67,4.67,0,0,0,23.76.5h0Z" transform="translate(-0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><path d="M15.22,4.24v6.9h3.14a27.83,27.83,0,0,1-1.57,4.65,28.27,28.27,0,0,1-2.35,3.92l-2.3-2.09-4.7,4.76,5,2.3a15.94,15.94,0,0,0,7.79-7.27c2.46-5.17.84-10.24-.68-11.08S15.22,4.24,15.22,4.24Z" transform="translate(-0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/></svg>
           </a>
           <div class="clear"></div>
       </div>

    </div>
<% end %>


<div class="copyright copyright_white">
    © Mayakovsky, 2016-2018
</div>
