<input type="hidden" class="load_detail" value="<%=@page.id%>">

<div class="title_object">
    <%=@page.name%>
    <% if not @page.href.blank?%>
        <a href="http://<%=@page.href%>">
            <% if @page.name_href.blank?%>
                <%=@page.href%>
            <%else%>
                <%=@page.name_href%>
            <% end %>
            
        </a>
    <% end %>
</div>

<div class="slider_detail">

    <% if not @page.panoram.blank?%>
        <div class="slide">
            <iframe src="http://1panorama.ru/embed/<%=@page.panoram%>" frameborder="0" scrolling="no" allowfullscreen></iframe>
        </div>
    <% end %>
    <% @page.images.each do |img|%>
        <a class="gallery_detail" data-fancybox-group="gallery_detail_<%=@page.id%>" href="<%=img.image.url()%>">
            <div class="slide">
                <img src="<%=img.image.url()%>" alt="<%=img.alt%>">
            </div>
        </a>
    <% end %>

    <% @page.visuals.each do |img|%>
        <a class="gallery_detail" data-fancybox-group="gallery_detail_<%=@page.id%>" href="<%=img.image.url()%>">
            <div class="slide">
                <img src="<%=img.image.url()%>" alt="<%=img.alt%>">
                <div class="slide_info three_d_icon">

                </div>
            </div>
        </a>
    <% end %>


</div>

