<input type="hidden" class="mobile_site_main" value="yes">

<div class="js-open-logo">
    
    <div class="back_white_contact_us">
        <div class="box_contact_main">
        <div class="contact_main" style="display: block;">
               Евгения Ананичева <br>
              <i class="fa fa-phone"></i> <a href="tel:8 905 541 76 99">8 905 541 76 99</a> <br>
              <i class="fa fa-envelope"></i> <a href="mailto:ananicheva-ev@yandex.ru">ananicheva-ev@yandex.ru</a>
            </div>
        </div>
    </div>
   


    <a href="/team">
        <div <% if cookies[:open_logo]=='yes'%>style="display:block"<%end%> class="left_top main_block main_block_mobile box_black_logo_mobile">
            <div class="box_black_logo logo_left_top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126.04 166.27"><title>SVOЁ BURO</title><path d="M27.41,24.31c-8.71,0-13.56,5.34-13.56,14.63,0,8.14,5.67,12.58,11.1,16.85V55.71c4,3.12,7.81,6.17,7.81,10,0,4.36-1.89,5.84-5.34,5.84A4.83,4.83,0,0,1,24,70.51c-1.15-1-1.89-2.88-1.89-6.82V62.62a3,3,0,0,0-3-3h-2.3a3,3,0,0,0-3,3v1.07c0,10.77,4.52,16,13.56,16C36.12,79.72,41,74.78,41,65.58c0-8-5.51-12.17-10.93-16.36h0.08c-4-3.12-8.05-6.33-8.05-10.52s1.89-6.17,5.34-6.17c3.62,0,5.34,2.47,5.34,7.89v1.15a3,3,0,0,0,3,3H38a3,3,0,0,0,3-3V40.42C41,30,36.29,24.31,27.41,24.31" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M72.88,25.33H70.5a3.14,3.14,0,0,0-2.88,2.21L60.3,57.61,53,27.54a3.22,3.22,0,0,0-2.88-2.21h-2.3a2.75,2.75,0,0,0-2.88,3.47L56.6,76.31a3,3,0,0,0,2.88,2.21h1.73a3.12,3.12,0,0,0,2.88-2.21L75.75,28.81a2.83,2.83,0,0,0-2.88-3.47" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M93.8,79.8a12.76,12.76,0,0,0,9.2-3.29c2.55-2.55,4.27-6.33,4.27-12.82V40.42c0-10.44-4.44-16-13.48-16s-13.47,5.67-13.47,16V63.69c0,6.49,1.81,10.27,4.35,12.82A12.71,12.71,0,0,0,93.8,79.8M88.54,40.42c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89V63.69c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V40.42Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M117.05,78.52H134.8a2.89,2.89,0,0,0,3-2.84V73.56a2.89,2.89,0,0,0-3-2.84H122.23V55.83h10.36a2.89,2.89,0,0,0,3-2.84V50.87a2.89,2.89,0,0,0-3-2.84H122.23V33.22H134.8a2.89,2.89,0,0,0,3-2.84V28.25a2.89,2.89,0,0,0-3-2.84H117.05a2.89,2.89,0,0,0-3,2.84V75.69a2.89,2.89,0,0,0,3,2.84" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M117.05,14.85h2.38a3,3,0,0,0,3-3V8.76a3,3,0,0,0-3-3h-2.38a3,3,0,0,0-3,3v3.12a3,3,0,0,0,3,3" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M132.42,14.85h2.38a3,3,0,0,0,3-3V8.76a3,3,0,0,0-3-3h-2.38a3,3,0,0,0-3,3v3.12a3,3,0,0,0,3,3" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M26,88.45H17.88a3,3,0,0,0-3,3V140.9a3,3,0,0,0,3,3H26c9.61,0,13.89-5.26,13.89-15.86,0-5-1.4-9.21-3.54-11.84,0,0,3.54-4.19,3.54-11.84,0-10.61-4.27-15.87-13.89-15.87m0,47.27H23.14V120.18H26c4,0,5.67,2.22,5.67,7.81S30,135.72,26,135.72M26,112H23.14V96.59H26c4,0,5.67,2.22,5.67,7.73S30,112,26,112" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M70.06,89.42h-2.3a2.9,2.9,0,0,0-2.88,2.9V129c0,3.87-1.15,6.77-5.34,6.77-4,0-5.34-2.5-5.34-6.77V92.32a2.92,2.92,0,0,0-3-2.9h-2.3a2.9,2.9,0,0,0-2.88,2.9V129c0,8.55,3.62,14.76,13.48,14.76C69.07,143.78,73,138.05,73,129V92.32a2.92,2.92,0,0,0-3-2.9" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M103.83,116.24c2.55-2.55,3.45-6.66,3.45-11.76,0-11-3.54-16.11-13.64-16.11H83.28a3,3,0,0,0-3,3v49.49a3,3,0,0,0,3,3h2.3a2.93,2.93,0,0,0,2.88-3V120.68h3.7c4,0,6.33,2.3,6.33,6.41v13.73a3,3,0,0,0,3,3h2.3a3,3,0,0,0,3-3V127.09c0-4.27-1.15-7.64-3.54-10.19l0.66-.66m-11.67-3.86h-3.7V96.59h5.18c4.27,0,5.51,2.3,5.51,7.89s-2.38,7.89-7,7.89" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M126.42,88.45c-9,0-13.48,5.67-13.48,16v23.26c0,6.49,1.81,10.27,4.36,12.82a14.41,14.41,0,0,0,18.32,0c2.55-2.55,4.27-6.33,4.27-12.82V104.48c0-10.44-4.44-16-13.48-16m5.26,39.29c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V104.48c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89v23.26Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M24.86,162.55H23.52l0.65-3.26a0.7,0.7,0,0,0-.71-0.85H22.87a0.75,0.75,0,0,0-.71.59l-0.67,3.52H20.43l0.63-3.24a0.72,0.72,0,0,0-.71-0.87H19.74A0.72,0.72,0,0,0,19,159c-0.22,1.19-.46,2.33-0.69,3.52H16.2a0.74,0.74,0,0,0-.73.73v0.57a0.74,0.74,0,0,0,.73.73H18c-0.12.69-.2,1-0.28,1.4h-2a0.73,0.73,0,0,0-.73.73v0.57a0.73,0.73,0,0,0,.73.73h1.66l-0.65,3.24a0.7,0.7,0,0,0,.71.85H18a0.75,0.75,0,0,0,.71-0.59c0.22-1.19.45-2.31,0.69-3.5h1.07l-0.61,3.24a0.7,0.7,0,0,0,.71.85h0.57a0.72,0.72,0,0,0,.71-0.59c0.22-1.19.47-2.31,0.67-3.5h1.82a0.74,0.74,0,0,0,.73-0.73V166.7a0.74,0.74,0,0,0-.73-0.73h-1.4l0.26-1.4h1.7a0.72,0.72,0,0,0,.71-0.73v-0.57a0.72,0.72,0,0,0-.71-0.73m-4,3.42H19.74c0.12-.69.18-1,0.28-1.4h1.07c-0.12.69-.18,1-0.28,1.4" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M31.52,158.44H31a0.73,0.73,0,0,0-.73.73v9.21c0,1.17-.39,1.7-1.11,1.7a1,1,0,0,1-.73-0.2,2,2,0,0,1-.4-1.5v-0.28a0.74,0.74,0,0,0-.73-0.71H26.69a0.72,0.72,0,0,0-.73.71v0.28c0,2.43,1.05,3.7,3.16,3.7s3.11-1.28,3.11-3.7v-9.21a0.72,0.72,0,0,0-.71-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M38.81,158.44H34.44a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.73.73h4.37a0.73,0.73,0,0,0,.73-0.73V170.8a0.73,0.73,0,0,0-.73-0.73h-3.1v-3.82h2.55a0.73,0.73,0,0,0,.73-0.73V165a0.73,0.73,0,0,0-.73-0.73H35.71v-3.8h3.1a0.73,0.73,0,0,0,.73-0.73v-0.55a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M46.84,158.44H46.28a0.73,0.73,0,0,0-.73.73v6.68l-2.81-7a0.8,0.8,0,0,0-.67-0.45H41.58a0.74,0.74,0,0,0-.73.73v12.18a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45h0.47a0.73,0.73,0,0,0,.73-0.73V159.17a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M55.44,158.44H54.78a0.93,0.93,0,0,0-.67.43l-1.62,3.72-1.64-3.72a0.86,0.86,0,0,0-.67-0.43H49.54a0.7,0.7,0,0,0-.67,1c0.87,2,1.76,4,2.63,6.05v5.85a0.72,0.72,0,0,0,.71.73h0.57a0.73,0.73,0,0,0,.73-0.73v-5.83l2.61-6.07a0.71,0.71,0,0,0-.67-1" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M60.06,159a0.78,0.78,0,0,0-.71-0.57H58.91a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.71.87h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H58.56Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M69.63,159a0.78,0.78,0,0,0-.71-0.57H68.47a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.71.87h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H68.13Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M79,158.44H78.47a0.73,0.73,0,0,0-.73.73v6.68l-2.81-7a0.8,0.8,0,0,0-.67-0.45H73.78a0.74,0.74,0,0,0-.73.73v12.18a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45H79a0.73,0.73,0,0,0,.73-0.73V159.17a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M86.08,159a0.78,0.78,0,0,0-.71-0.57H84.93a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.71.87H82.7a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H84.58Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M95.49,158.44H94.92a0.73,0.73,0,0,0-.73.73v6.68l-2.81-7a0.8,0.8,0,0,0-.67-0.45H90.23a0.74,0.74,0,0,0-.73.73v12.18a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45h0.47a0.73,0.73,0,0,0,.73-0.73V159.17a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M99,158.44H98.47a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.73.73H99a0.74,0.74,0,0,0,.73-0.73V159.17a0.74,0.74,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M104.44,158.44a3.23,3.23,0,0,0-2.25.79,4.15,4.15,0,0,0-1.09,3.16v5.73a4.17,4.17,0,0,0,1.07,3.16,3.55,3.55,0,0,0,4.51,0,4.17,4.17,0,0,0,1.05-3.16v-0.28a0.72,0.72,0,0,0-.71-0.73h-0.59a0.73,0.73,0,0,0-.73.73v0.28a2.76,2.76,0,0,1-.34,1.6,1.32,1.32,0,0,1-.93.36c-0.87,0-1.3-.61-1.3-2v-5.73c0-1.36.45-1.94,1.3-1.94s1.27,0.59,1.27,1.94v0.28a0.73,0.73,0,0,0,.73.73H107a0.72,0.72,0,0,0,.71-0.73v-0.28a4.15,4.15,0,0,0-1.07-3.16,3.21,3.21,0,0,0-2.23-.79" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M114.68,158.44h-0.57a0.73,0.73,0,0,0-.73.73v5.1h-2.25v-5.1a0.73,0.73,0,0,0-.73-0.73h-0.57a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.73.73h0.57a0.72,0.72,0,0,0,.73-0.73v-5.08h2.25v5.08a0.72,0.72,0,0,0,.73.73h0.57a0.72,0.72,0,0,0,.73-0.73V159.17a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M122.16,158.44h-4.37a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.73.73h4.37a0.72,0.72,0,0,0,.73-0.73V170.8a0.72,0.72,0,0,0-.73-0.73h-3.1v-3.82h2.55a0.73,0.73,0,0,0,.73-0.73V165a0.73,0.73,0,0,0-.73-0.73h-2.55v-3.8h3.1a0.73,0.73,0,0,0,.73-0.73v-0.55a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M130.41,158.42h-0.59a0.78,0.78,0,0,0-.71.57l-1.8,7.71-1.8-7.71a0.8,0.8,0,0,0-.71-0.57h-0.57a0.7,0.7,0,0,0-.71.89l2.87,12.18a0.74,0.74,0,0,0,.71.57h0.42a0.77,0.77,0,0,0,.71-0.57l2.87-12.18a0.72,0.72,0,0,0-.71-0.89" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M137.57,171.19L134.78,159a0.78,0.78,0,0,0-.71-0.57h-0.45a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.71.87h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89m-4.29-4.84,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24h-1.13Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/></svg>
            </div>
            <div class="name_menu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 40"><title>TEAM & CONTACT US</title><path d="M15,7.1H31V8.55H23.65v29h-1.4v-29H15V7.1Z" style="fill:#aaa"/><path d="M44.27,7.15v1.4H34.73V21.67h9.54v1.4H34.73V36.23h9.54v1.4H33.33V7.15H44.27Z" style="fill:#aaa"/><path d="M58.61,28.31H50.56l-2.08,9.32H47L49.43,27V26.91L54,7.15h1.13l7,30.48H60.69Zm-7.69-1.4H58.3L54.59,11Z" style="fill:#aaa"/><path d="M73.13,37.63L66,12.94V37.63h-1.4V7.15h1.22l7.82,27.18L81.45,7.15h1.27V37.63H81.27V12.94L74.22,37.63H73.13Z" style="fill:#aaa"/><path d="M102,37.63c-4.21,0-6.83-3.21-6.83-7.51a7.91,7.91,0,0,1,1.36-4.66,17.2,17.2,0,0,1,3-3c0.23-.23.5-0.5,0.77-0.72l0.81-.68a22.44,22.44,0,0,1-1.76-3.21,11.36,11.36,0,0,1-1.18-4.48A10.12,10.12,0,0,1,99,8.91,3.25,3.25,0,0,1,102,7.15a3.2,3.2,0,0,1,3.21,2.08,10.74,10.74,0,0,1,.63,4.12,12.72,12.72,0,0,1-1.13,5.25,11,11,0,0,1-1.81,2.67l5.92,10.18a19.76,19.76,0,0,0,.9-6.83V24.15h1.45v0.45a20.06,20.06,0,0,1-1.4,8.28v0s0,0,0,0l2.71,4.66h-1.63L109,34.37A7.92,7.92,0,0,1,102,37.63Zm-1.58-14.11a14,14,0,0,0-2.71,2.71,6.31,6.31,0,0,0-1.13,3.89,6.84,6.84,0,0,0,1.31,4.21,5.06,5.06,0,0,0,4.12,1.9A6.59,6.59,0,0,0,108.14,33L101.85,22.3a7.76,7.76,0,0,1-.68.59C100.95,23.11,100.68,23.29,100.45,23.52ZM99.64,13.34a9.6,9.6,0,0,0,.95,3.75A21.11,21.11,0,0,0,102.12,20a7.14,7.14,0,0,0,.9-1.22,10.38,10.38,0,0,0,1.4-5.47,8.87,8.87,0,0,0-.63-3.89,1.81,1.81,0,0,0-1.76-.9,1.72,1.72,0,0,0-1.67.81A7.9,7.9,0,0,0,99.64,13.34Z" style="fill:#aaa"/><path d="M131,37.63a6.09,6.09,0,0,1-4.39-1.54c-1.27-1.22-2.13-3.17-2.13-6.56V15.2c0-3.3.86-5.38,2.13-6.56a7.13,7.13,0,0,1,8.73,0c1.27,1.18,2.13,3.26,2.13,6.56v0.72H136V15.2c0-4.66-1.76-6.65-5-6.65s-5.07,2-5.07,6.65V29.54c0,4.66,1.67,6.69,5.07,6.69a4.62,4.62,0,0,0,3.75-1.58A8.34,8.34,0,0,0,136,29.54V28.81h1.45v0.72c0,3.39-.86,5.34-2.13,6.56A6.05,6.05,0,0,1,131,37.63Z" style="fill:#aaa"/><path d="M146.58,37.63a6.05,6.05,0,0,1-4.34-1.54c-1.27-1.22-2.13-3.17-2.13-6.56V15.2c0-5.2,2.17-8.05,6.47-8.05s6.51,2.8,6.51,8.05V29.54c0,3.39-.86,5.34-2.13,6.56A6.09,6.09,0,0,1,146.58,37.63Zm0-29.08c-3.44,0-5.07,2.13-5.07,6.65V29.54c0,4.57,1.67,6.69,5.07,6.69s5.07-2,5.07-6.69V15.2C151.65,10.54,150,8.55,146.58,8.55Z" style="fill:#aaa"/><path d="M168.16,37.63l-10.54-26.1v26.1h-1.45V7.15h1.22l10.49,26.1V7.15h1.45V37.63h-1.18Z" style="fill:#aaa"/><path d="M172.28,7.1h16V8.55H181v29h-1.4v-29h-7.28V7.1Z" style="fill:#aaa"/><path d="M202.22,28.31h-8l-2.08,9.32h-1.45L193,27V26.91l4.61-19.76h1.13l7,30.48H204.3Zm-7.69-1.4h7.37L198.19,11Z" style="fill:#aaa"/><path d="M214.79,37.63a6.09,6.09,0,0,1-4.39-1.54c-1.27-1.22-2.13-3.17-2.13-6.56V15.2c0-3.3.86-5.38,2.13-6.56a7.13,7.13,0,0,1,8.73,0c1.27,1.18,2.13,3.26,2.13,6.56v0.72h-1.45V15.2c0-4.66-1.76-6.65-5-6.65s-5.07,2-5.07,6.65V29.54c0,4.66,1.67,6.69,5.07,6.69a4.62,4.62,0,0,0,3.75-1.58,8.34,8.34,0,0,0,1.27-5.11V28.81h1.45v0.72c0,3.39-.86,5.34-2.12,6.56A6.05,6.05,0,0,1,214.79,37.63Z" style="fill:#aaa"/><path d="M223.7,7.1h16V8.55h-7.33v29H231v-29H223.7V7.1Z" style="fill:#aaa"/><path d="M257.49,37.59a5.71,5.71,0,0,1-4-1.4c-1.18-1.08-2-3-2-6.06V7.1h1.4v23c0,2.71.68,4.21,1.58,5.07a5.18,5.18,0,0,0,6.11,0c0.9-.86,1.58-2.35,1.58-5.07V7.1h1.4v23c0,3.08-.86,5-2,6.06A5.79,5.79,0,0,1,257.49,37.59Z" style="fill:#aaa"/><path d="M273.82,37.59c-4.34,0-6.51-2.67-6.51-8.05V28.86h1.4v0.68c0,3,.77,4.66,1.76,5.56a4.81,4.81,0,0,0,3.35,1.08c3.26,0,5.11-2.4,5.11-6.42a5.91,5.91,0,0,0-1.9-4.57A11.21,11.21,0,0,0,274,23.43l-0.77-.32a9.94,9.94,0,0,1-3.57-2.26,7.48,7.48,0,0,1-2.31-5.65c0-4.57,2.35-8.1,6.51-8.1s6.56,2.85,6.56,8.1v0.72h-1.45V15.2c0-4.57-1.67-6.65-5.11-6.65-3.26,0-5.11,2.71-5.11,6.65a6.11,6.11,0,0,0,1.9,4.66,9.09,9.09,0,0,0,3.17,1.94l0.72,0.32a11,11,0,0,1,3.53,2,7.31,7.31,0,0,1,2.35,5.61C280.37,34.28,278,37.59,273.82,37.59Z" style="fill:#aaa"/></svg>    
            </div>
        </div>
    </a>
    <a href="/object">
        <div <% if cookies[:open_logo]=='yes'%>style="display:block"<%end%> class="right_top main_block main_block_mobile box_black_logo_mobile">
            <div class="box_black_logo logo_right_top">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 126.04 166.27"><defs><clipPath id="a"><rect x="-371.69" y="-209.34" width="841.89" height="595.28" style="fill:none"/></clipPath></defs><title>logo_w-01</title><g style="clip-path:url(#a)"><path d="M13.56,18.5C4.85,18.5,0,23.84,0,33.13,0,41.27,5.67,45.71,11.1,50V49.9c4,3.12,7.81,6.17,7.81,10,0,4.36-1.89,5.84-5.34,5.84a4.83,4.83,0,0,1-3.42-1c-1.15-1-1.89-2.88-1.89-6.82V56.81a3,3,0,0,0-3-3H3a3,3,0,0,0-3,3v1.07c0,10.77,4.52,16,13.56,16,8.75,0,13.63-4.91,13.63-14.11,0-8-5.51-12.17-10.93-16.36H16.3c-4-3.12-8.05-6.33-8.05-10.52s1.89-6.17,5.34-6.17c3.62,0,5.34,2.47,5.34,7.89v1.15a3,3,0,0,0,3,3h2.22a3,3,0,0,0,3-3V34.61c0-10.42-4.71-16.11-13.59-16.11" style="fill:#fff"/><path d="M59,19.52H56.65a3.14,3.14,0,0,0-2.88,2.21L46.45,51.8l-7.3-30.07a3.22,3.22,0,0,0-2.88-2.21H34A2.75,2.75,0,0,0,31.09,23L42.75,70.5a3,3,0,0,0,2.88,2.21h1.73a3.12,3.12,0,0,0,2.88-2.21L61.9,23A2.83,2.83,0,0,0,59,19.53" style="fill:#fff"/><path d="M80,74a12.76,12.76,0,0,0,9.2-3.29c2.55-2.55,4.27-6.33,4.27-12.82V34.61c0-10.44-4.44-16-13.48-16s-13.47,5.67-13.47,16V57.88c0,6.49,1.81,10.27,4.35,12.82A12.71,12.71,0,0,0,80,74M74.69,34.61c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89V57.88c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V34.61Z" style="fill:#fff"/><path d="M103.2,72.71H121a2.89,2.89,0,0,0,3-2.78V67.75A2.89,2.89,0,0,0,121,64.91H108.38V50h10.36a2.89,2.89,0,0,0,3-2.78V45.06a2.89,2.89,0,0,0-2.94-2.84H108.38V27.41H121a2.89,2.89,0,0,0,3-2.78V22.44A2.89,2.89,0,0,0,121,19.6H103.2a2.89,2.89,0,0,0-3,2.78v47.5a2.89,2.89,0,0,0,2.94,2.84h0.06" style="fill:#fff"/><path d="M103.2,12h2.38a3,3,0,0,0,3-3V5.95a3,3,0,0,0-3-3H103.2a3,3,0,0,0-3,3V9.07a3,3,0,0,0,3,3" style="fill:#fff"/><path d="M118.57,12H121a3,3,0,0,0,3-3V5.95a3,3,0,0,0-3-3h-2.38a3,3,0,0,0-3,3V9.07a3,3,0,0,0,3,3" style="fill:#fff"/><path d="M12.15,82.64H4a3,3,0,0,0-3,3v49.45a3,3,0,0,0,3,3h8.12c9.61,0,13.89-5.26,13.89-15.86,0-5-1.4-9.21-3.54-11.84,0,0,3.54-4.19,3.54-11.84,0-10.61-4.27-15.87-13.89-15.87m0,47.27H9.29V114.37h2.86c4,0,5.67,2.22,5.67,7.81s-1.67,7.73-5.67,7.73m0-23.72H9.29V90.78h2.86c4,0,5.67,2.22,5.67,7.73s-1.67,7.68-5.67,7.68" style="fill:#fff"/><path d="M56.21,83.61h-2.3A2.9,2.9,0,0,0,51,86.51v36.68c0,3.87-1.15,6.77-5.34,6.77-4,0-5.34-2.5-5.34-6.77V86.51a2.92,2.92,0,0,0-2.94-2.9H35a2.9,2.9,0,0,0-2.88,2.9v36.68c0,8.55,3.62,14.76,13.48,14.76,9.57,0,13.5-5.71,13.5-14.76V86.51a2.92,2.92,0,0,0-2.94-2.9H56.15" style="fill:#fff"/><path d="M90,110.43c2.55-2.55,3.45-6.66,3.45-11.76,0-11-3.54-16.11-13.64-16.11H69.43a3,3,0,0,0-3,3V135a3,3,0,0,0,3,3h2.3a2.93,2.93,0,0,0,2.88-3v-20.2h3.7c4,0,6.33,2.3,6.33,6.41V135a3,3,0,0,0,3,3h2.3a3,3,0,0,0,3-3V121.28c0-4.27-1.15-7.64-3.54-10.19l0.66-.66m-11.67-3.86h-3.7V90.78h5.18c4.27,0,5.51,2.3,5.51,7.89s-2.38,7.89-7,7.89" style="fill:#fff"/><path d="M112.57,82.64c-9,0-13.48,5.67-13.48,16V121.9c0,6.49,1.81,10.27,4.36,12.82a14.41,14.41,0,0,0,18.32,0c2.55-2.55,4.27-6.33,4.27-12.82V98.67c0-10.44-4.44-16-13.48-16M117.82,122c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V98.67c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89V122Z" style="fill:#fff"/><path d="M11,156.74H9.67l0.65-3.26a0.7,0.7,0,0,0-.53-0.83l-0.18,0H9a0.75,0.75,0,0,0-.71.59l-0.67,3.52H6.58l0.63-3.24a0.72,0.72,0,0,0-.55-0.85l-0.16,0H5.89a0.72,0.72,0,0,0-.74.56c-0.22,1.19-.46,2.33-0.69,3.52H2.35a0.74,0.74,0,0,0-.73.73V158a0.74,0.74,0,0,0,.73.73h1.8c-0.12.69-.2,1-0.28,1.4h-2a0.73,0.73,0,0,0-.73.73v0.57a0.73,0.73,0,0,0,.73.73H3.53l-0.65,3.24a0.7,0.7,0,0,0,.53.83l0.18,0H4.15a0.75,0.75,0,0,0,.71-0.59c0.22-1.19.45-2.31,0.69-3.5H6.62L6,165.41a0.7,0.7,0,0,0,.53.83l0.18,0H7.29A0.72,0.72,0,0,0,8,165.67c0.22-1.19.47-2.31,0.67-3.5h1.82a0.74,0.74,0,0,0,.73-0.73v-0.55a0.74,0.74,0,0,0-.73-0.73H9.09l0.26-1.4H11a0.72,0.72,0,0,0,.71-0.73h0v-0.57a0.72,0.72,0,0,0-.71-0.73h0m-4,3.42H5.89c0.12-.69.18-1,0.28-1.4H7.24c-0.12.69-.18,1-0.28,1.4" style="fill:#fff"/><path d="M17.67,152.63H17.15a0.73,0.73,0,0,0-.73.73v9.21c0,1.17-.39,1.7-1.11,1.7a1,1,0,0,1-.73-0.2,2,2,0,0,1-.4-1.5v-0.28a0.74,0.74,0,0,0-.73-0.71H12.84a0.72,0.72,0,0,0-.73.71h0v0.28c0,2.43,1,3.7,3.16,3.7s3.11-1.28,3.11-3.7v-9.21a0.72,0.72,0,0,0-.71-0.73h0" style="fill:#fff"/><path d="M25,152.63H20.59a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.71.73H25a0.73,0.73,0,0,0,.73-0.73V165a0.73,0.73,0,0,0-.73-0.73h-3.1v-3.82h2.55a0.73,0.73,0,0,0,.73-0.73v-0.52a0.73,0.73,0,0,0-.73-0.73H21.86v-3.8H25a0.73,0.73,0,0,0,.73-0.73v-0.55a0.73,0.73,0,0,0-.73-0.73" style="fill:#fff"/><path d="M33,152.63H32.43a0.73,0.73,0,0,0-.73.73V160l-2.81-7a0.8,0.8,0,0,0-.67-0.45H27.73a0.74,0.74,0,0,0-.73.73V165.5a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45H33a0.73,0.73,0,0,0,.73-0.73V153.36a0.73,0.73,0,0,0-.73-0.73" style="fill:#fff"/><path d="M41.59,152.63H40.93a0.93,0.93,0,0,0-.67.43l-1.62,3.72L37,153.06a0.86,0.86,0,0,0-.67-0.43H35.69a0.7,0.7,0,0,0-.67,1c0.87,2,1.76,4,2.63,6.05v5.85a0.72,0.72,0,0,0,.71.73h0.57a0.73,0.73,0,0,0,.73-0.73V159.7l2.61-6.07a0.71,0.71,0,0,0-.67-1" style="fill:#fff"/><path d="M46.21,153.19a0.78,0.78,0,0,0-.71-0.57H45.06a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.51.85l0.2,0h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06L47,165.69a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H44.71Z" style="fill:#fff"/><path d="M55.78,153.19a0.78,0.78,0,0,0-.71-0.57H54.62a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.51.85l0.2,0h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H54.28Z" style="fill:#fff"/><path d="M65.15,152.63H64.62a0.73,0.73,0,0,0-.73.73V160l-2.81-7a0.8,0.8,0,0,0-.67-0.45H59.93a0.74,0.74,0,0,0-.73.73V165.5a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45h0.42a0.73,0.73,0,0,0,.73-0.73V153.36a0.73,0.73,0,0,0-.73-0.73" style="fill:#fff"/><path d="M72.23,153.19a0.78,0.78,0,0,0-.71-0.57H71.08a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.51.85l0.2,0h0.61a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06L73,165.69a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H70.73Z" style="fill:#fff"/><path d="M81.64,152.63H81.07a0.73,0.73,0,0,0-.73.73V160l-2.81-7a0.8,0.8,0,0,0-.67-0.45H76.38a0.74,0.74,0,0,0-.73.73V165.5a0.74,0.74,0,0,0,.73.73H77a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45h0.47a0.73,0.73,0,0,0,.73-0.73V153.36a0.73,0.73,0,0,0-.73-0.73" style="fill:#fff"/><path d="M85.15,152.63H84.62a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.71.73h0.55a0.74,0.74,0,0,0,.73-0.73V153.36a0.74,0.74,0,0,0-.73-0.73" style="fill:#fff"/><path d="M90.59,152.63a3.23,3.23,0,0,0-2.25.79,4.15,4.15,0,0,0-1.09,3.16v5.73a4.17,4.17,0,0,0,1.07,3.16,3.55,3.55,0,0,0,4.51,0,4.17,4.17,0,0,0,1.05-3.16V162a0.72,0.72,0,0,0-.71-0.73H92.58a0.73,0.73,0,0,0-.73.73v0.28a2.76,2.76,0,0,1-.34,1.6,1.32,1.32,0,0,1-.93.36c-0.87,0-1.3-.61-1.3-2v-5.73c0-1.36.45-1.94,1.3-1.94s1.27,0.59,1.27,1.94v0.28a0.73,0.73,0,0,0,.73.73h0.57a0.72,0.72,0,0,0,.71-0.73h0v-0.28a4.15,4.15,0,0,0-1.07-3.16,3.21,3.21,0,0,0-2.23-.79" style="fill:#fff"/><path d="M100.83,152.63h-0.57a0.73,0.73,0,0,0-.73.73v5.1H97.28v-5.1a0.73,0.73,0,0,0-.73-0.73H96a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.71.73h0.59a0.72,0.72,0,0,0,.73-0.71s0,0,0,0v-5.08h2.25v5.08a0.72,0.72,0,0,0,.71.73h0.59a0.72,0.72,0,0,0,.73-0.71s0,0,0,0V153.36a0.73,0.73,0,0,0-.73-0.73" style="fill:#fff"/><path d="M108.31,152.63h-4.37a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.71.73h4.39a0.72,0.72,0,0,0,.73-0.71s0,0,0,0V165a0.72,0.72,0,0,0-.71-0.73h-3.12v-3.82h2.55a0.73,0.73,0,0,0,.73-0.73v-0.52a0.73,0.73,0,0,0-.73-0.73h-2.55v-3.8h3.1a0.73,0.73,0,0,0,.73-0.73v-0.55a0.73,0.73,0,0,0-.73-0.73" style="fill:#fff"/><path d="M116.56,152.61H116a0.78,0.78,0,0,0-.71.57l-1.8,7.71-1.8-7.71a0.8,0.8,0,0,0-.71-0.57h-0.57a0.7,0.7,0,0,0-.71.89l2.87,12.18a0.74,0.74,0,0,0,.71.57h0.42a0.77,0.77,0,0,0,.71-0.57l2.87-12.18a0.72,0.72,0,0,0-.53-0.87l-0.18,0" style="fill:#fff"/><path d="M123.72,165.38l-2.79-12.19a0.78,0.78,0,0,0-.71-0.57h-0.45a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.51.85l0.2,0h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16H121l0.69,3.16a0.8,0.8,0,0,0,.71.57H123a0.72,0.72,0,0,0,.71-0.89m-4.29-4.84,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24h-1.14Z" style="fill:#fff"/></g></svg>
            </div>
            <div class="name_menu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 40"><title>CAFE & RESTAURANTS</title><path d="M15.67,37.63a6.09,6.09,0,0,1-4.39-1.54C10,34.87,9.15,32.93,9.15,29.54V15.2c0-3.3.86-5.38,2.13-6.56a6.25,6.25,0,0,1,4.39-1.49A6.21,6.21,0,0,1,20,8.64c1.27,1.18,2.13,3.26,2.13,6.56v0.72H20.69V15.2c0-4.66-1.76-6.65-5-6.65s-5.07,2-5.07,6.65V29.54c0,4.66,1.67,6.69,5.07,6.69a4.62,4.62,0,0,0,3.75-1.58,8.34,8.34,0,0,0,1.27-5.11V28.81h1.45v0.72c0,3.39-.86,5.34-2.13,6.56A6.05,6.05,0,0,1,15.67,37.63Z" style="fill:#aaa"/><path d="M36.38,28.31H28.33l-2.08,9.32H24.8L27.2,27V26.91L31.81,7.15h1.13l7,30.48H38.46Zm-7.69-1.4h7.37L32.36,11Z" style="fill:#aaa"/><path d="M53.34,7.15v1.4H43.8V21.67h9.54v1.4H43.8V37.63H42.4V7.15H53.34Z" style="fill:#aaa"/><path d="M67.41,7.15v1.4H57.87V21.67h9.54v1.4H57.87V36.23h9.54v1.4H56.46V7.15H67.41Z" style="fill:#aaa"/><path d="M86,37.63c-4.21,0-6.83-3.21-6.83-7.51a7.91,7.91,0,0,1,1.36-4.66,17.2,17.2,0,0,1,3-3c0.23-.23.5-0.5,0.77-0.72L85.14,21a22.48,22.48,0,0,1-1.76-3.21,11.37,11.37,0,0,1-1.18-4.48A10.12,10.12,0,0,1,83,8.91,3.25,3.25,0,0,1,86,7.15a3.2,3.2,0,0,1,3.21,2.08,10.74,10.74,0,0,1,.63,4.12,12.72,12.72,0,0,1-1.13,5.25,11,11,0,0,1-1.81,2.67l5.92,10.18a19.76,19.76,0,0,0,.9-6.83V24.15h1.45v0.45a20.06,20.06,0,0,1-1.4,8.28v0s0,0,0,0l2.71,4.66H94.86L93,34.37A7.92,7.92,0,0,1,86,37.63ZM84.46,23.52a14,14,0,0,0-2.71,2.71,6.31,6.31,0,0,0-1.13,3.89,6.85,6.85,0,0,0,1.31,4.21A5.06,5.06,0,0,0,86,36.23,6.59,6.59,0,0,0,92.15,33L85.86,22.3a7.83,7.83,0,0,1-.68.59C85,23.11,84.69,23.29,84.46,23.52ZM83.65,13.34a9.6,9.6,0,0,0,.95,3.75A21.11,21.11,0,0,0,86.13,20a7.14,7.14,0,0,0,.9-1.22,10.38,10.38,0,0,0,1.4-5.47,8.88,8.88,0,0,0-.63-3.89A1.81,1.81,0,0,0,86,8.55a1.72,1.72,0,0,0-1.67.81A7.9,7.9,0,0,0,83.65,13.34Z" style="fill:#aaa"/><path d="M119.2,23.75a7.09,7.09,0,0,1,2,5.38v8.46h-1.45V29.13c0-3.66-2.08-5.79-5.7-5.79H110V37.59h-1.4V7.1h5.47c4.88,0,7.06,2.53,7.06,8.1,0,2.71-.54,4.75-1.67,6.06a5.56,5.56,0,0,1-1.81,1.4A5.27,5.27,0,0,1,119.2,23.75ZM110,21.89h4.07c4,0,5.65-2,5.65-6.69s-1.63-6.65-5.65-6.65H110V21.89Z" style="fill:#aaa"/><path d="M135.25,7.15v1.4h-9.54V21.67h9.54v1.4h-9.54V36.23h9.54v1.4H124.31V7.15h10.95Z" style="fill:#aaa"/><path d="M144.53,37.59c-4.34,0-6.51-2.67-6.51-8.05V28.86h1.4v0.68c0,3,.77,4.66,1.76,5.56a4.8,4.8,0,0,0,3.35,1.08c3.26,0,5.11-2.4,5.11-6.42a5.91,5.91,0,0,0-1.9-4.57,11.22,11.22,0,0,0-3.08-1.76l-0.77-.32a10,10,0,0,1-3.57-2.26A7.48,7.48,0,0,1,138,15.2c0-4.57,2.35-8.1,6.51-8.1s6.56,2.85,6.56,8.1v0.72h-1.45V15.2c0-4.57-1.67-6.65-5.11-6.65-3.26,0-5.11,2.71-5.11,6.65a6.11,6.11,0,0,0,1.9,4.66,9.1,9.1,0,0,0,3.17,1.94l0.72,0.32a11,11,0,0,1,3.53,2,7.32,7.32,0,0,1,2.35,5.61C151.08,34.28,148.73,37.59,144.53,37.59Z" style="fill:#aaa"/><path d="M153.53,7.1h16V8.55h-7.33v29h-1.4v-29h-7.28V7.1Z" style="fill:#aaa"/><path d="M183.47,28.31h-8.05l-2.08,9.32h-1.45L174.29,27V26.91L178.9,7.15H180l7,30.48h-1.45Zm-7.69-1.4h7.37L179.44,11Z" style="fill:#aaa"/><path d="M195.55,37.59a5.71,5.71,0,0,1-4-1.4c-1.18-1.08-2-3-2-6.06V7.1h1.4v23c0,2.71.68,4.21,1.58,5.07a5.18,5.18,0,0,0,6.11,0c0.9-.86,1.58-2.35,1.58-5.07V7.1h1.4v23c0,3.08-.86,5-2,6.06A5.79,5.79,0,0,1,195.55,37.59Z" style="fill:#aaa"/><path d="M216,23.75a7.09,7.09,0,0,1,2,5.38v8.46h-1.45V29.13c0-3.66-2.08-5.79-5.7-5.79h-4.07V37.59h-1.4V7.1h5.47c4.88,0,7.06,2.53,7.06,8.1,0,2.71-.54,4.75-1.67,6.06a5.56,5.56,0,0,1-1.81,1.4A5.29,5.29,0,0,1,216,23.75Zm-9.18-1.85h4.07c4,0,5.65-2,5.65-6.69s-1.63-6.65-5.65-6.65h-4.07V21.89Z" style="fill:#aaa"/><path d="M232.68,28.31h-8.05l-2.08,9.32H221.1L223.5,27V26.91l4.61-19.76h1.13l7,30.48h-1.45ZM225,26.91h7.37L228.65,11Z" style="fill:#aaa"/><path d="M250.77,37.63l-10.54-26.1v26.1h-1.45V7.15H240l10.49,26.1V7.15h1.45V37.63h-1.18Z" style="fill:#aaa"/><path d="M254.89,7.1h16V8.55h-7.33v29h-1.4v-29h-7.28V7.1Z" style="fill:#aaa"/><path d="M279.76,37.59c-4.34,0-6.51-2.67-6.51-8.05V28.86h1.4v0.68c0,3,.77,4.66,1.76,5.56a4.81,4.81,0,0,0,3.35,1.08c3.26,0,5.11-2.4,5.11-6.42a5.91,5.91,0,0,0-1.9-4.57,11.21,11.21,0,0,0-3.08-1.76l-0.77-.32a10,10,0,0,1-3.57-2.26,7.48,7.48,0,0,1-2.31-5.65c0-4.57,2.35-8.1,6.51-8.1s6.56,2.85,6.56,8.1v0.72h-1.45V15.2c0-4.57-1.67-6.65-5.11-6.65-3.26,0-5.11,2.71-5.11,6.65a6.11,6.11,0,0,0,1.9,4.66,9.09,9.09,0,0,0,3.17,1.94l0.72,0.32a11,11,0,0,1,3.53,2,7.31,7.31,0,0,1,2.35,5.61C286.32,34.28,284,37.59,279.76,37.59Z" style="fill:#aaa"/></svg>    
            </div>
        </div>
    </a> 
    <a href="/vse-svoe">
        <div <% if cookies[:open_logo]=='yes'%>style="display:block"<%end%> class="left_bottom main_block main_block_mobile box_black_logo_mobile">
            <div class="box_black_logo logo_left_bottom">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126.04 166.27"><title>SVOЁ BURO</title><path d="M27.41,24.31c-8.71,0-13.56,5.34-13.56,14.63,0,8.14,5.67,12.58,11.1,16.85V55.71c4,3.12,7.81,6.17,7.81,10,0,4.36-1.89,5.84-5.34,5.84A4.83,4.83,0,0,1,24,70.51c-1.15-1-1.89-2.88-1.89-6.82V62.62a3,3,0,0,0-3-3h-2.3a3,3,0,0,0-3,3v1.07c0,10.77,4.52,16,13.56,16C36.12,79.72,41,74.78,41,65.58c0-8-5.51-12.17-10.93-16.36h0.08c-4-3.12-8.05-6.33-8.05-10.52s1.89-6.17,5.34-6.17c3.62,0,5.34,2.47,5.34,7.89v1.15a3,3,0,0,0,3,3H38a3,3,0,0,0,3-3V40.42C41,30,36.29,24.31,27.41,24.31" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M72.88,25.33H70.5a3.14,3.14,0,0,0-2.88,2.21L60.3,57.61,53,27.54a3.22,3.22,0,0,0-2.88-2.21h-2.3a2.75,2.75,0,0,0-2.88,3.47L56.6,76.31a3,3,0,0,0,2.88,2.21h1.73a3.12,3.12,0,0,0,2.88-2.21L75.75,28.81a2.83,2.83,0,0,0-2.88-3.47" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M93.8,79.8a12.76,12.76,0,0,0,9.2-3.29c2.55-2.55,4.27-6.33,4.27-12.82V40.42c0-10.44-4.44-16-13.48-16s-13.47,5.67-13.47,16V63.69c0,6.49,1.81,10.27,4.35,12.82A12.71,12.71,0,0,0,93.8,79.8M88.54,40.42c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89V63.69c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V40.42Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M117.05,78.52H134.8a2.89,2.89,0,0,0,3-2.84V73.56a2.89,2.89,0,0,0-3-2.84H122.23V55.83h10.36a2.89,2.89,0,0,0,3-2.84V50.87a2.89,2.89,0,0,0-3-2.84H122.23V33.22H134.8a2.89,2.89,0,0,0,3-2.84V28.25a2.89,2.89,0,0,0-3-2.84H117.05a2.89,2.89,0,0,0-3,2.84V75.69a2.89,2.89,0,0,0,3,2.84" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M117.05,14.85h2.38a3,3,0,0,0,3-3V8.76a3,3,0,0,0-3-3h-2.38a3,3,0,0,0-3,3v3.12a3,3,0,0,0,3,3" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M132.42,14.85h2.38a3,3,0,0,0,3-3V8.76a3,3,0,0,0-3-3h-2.38a3,3,0,0,0-3,3v3.12a3,3,0,0,0,3,3" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M26,88.45H17.88a3,3,0,0,0-3,3V140.9a3,3,0,0,0,3,3H26c9.61,0,13.89-5.26,13.89-15.86,0-5-1.4-9.21-3.54-11.84,0,0,3.54-4.19,3.54-11.84,0-10.61-4.27-15.87-13.89-15.87m0,47.27H23.14V120.18H26c4,0,5.67,2.22,5.67,7.81S30,135.72,26,135.72M26,112H23.14V96.59H26c4,0,5.67,2.22,5.67,7.73S30,112,26,112" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M70.06,89.42h-2.3a2.9,2.9,0,0,0-2.88,2.9V129c0,3.87-1.15,6.77-5.34,6.77-4,0-5.34-2.5-5.34-6.77V92.32a2.92,2.92,0,0,0-3-2.9h-2.3a2.9,2.9,0,0,0-2.88,2.9V129c0,8.55,3.62,14.76,13.48,14.76C69.07,143.78,73,138.05,73,129V92.32a2.92,2.92,0,0,0-3-2.9" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M103.83,116.24c2.55-2.55,3.45-6.66,3.45-11.76,0-11-3.54-16.11-13.64-16.11H83.28a3,3,0,0,0-3,3v49.49a3,3,0,0,0,3,3h2.3a2.93,2.93,0,0,0,2.88-3V120.68h3.7c4,0,6.33,2.3,6.33,6.41v13.73a3,3,0,0,0,3,3h2.3a3,3,0,0,0,3-3V127.09c0-4.27-1.15-7.64-3.54-10.19l0.66-.66m-11.67-3.86h-3.7V96.59h5.18c4.27,0,5.51,2.3,5.51,7.89s-2.38,7.89-7,7.89" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M126.42,88.45c-9,0-13.48,5.67-13.48,16v23.26c0,6.49,1.81,10.27,4.36,12.82a14.41,14.41,0,0,0,18.32,0c2.55-2.55,4.27-6.33,4.27-12.82V104.48c0-10.44-4.44-16-13.48-16m5.26,39.29c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V104.48c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89v23.26Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M24.86,162.55H23.52l0.65-3.26a0.7,0.7,0,0,0-.71-0.85H22.87a0.75,0.75,0,0,0-.71.59l-0.67,3.52H20.43l0.63-3.24a0.72,0.72,0,0,0-.71-0.87H19.74A0.72,0.72,0,0,0,19,159c-0.22,1.19-.46,2.33-0.69,3.52H16.2a0.74,0.74,0,0,0-.73.73v0.57a0.74,0.74,0,0,0,.73.73H18c-0.12.69-.2,1-0.28,1.4h-2a0.73,0.73,0,0,0-.73.73v0.57a0.73,0.73,0,0,0,.73.73h1.66l-0.65,3.24a0.7,0.7,0,0,0,.71.85H18a0.75,0.75,0,0,0,.71-0.59c0.22-1.19.45-2.31,0.69-3.5h1.07l-0.61,3.24a0.7,0.7,0,0,0,.71.85h0.57a0.72,0.72,0,0,0,.71-0.59c0.22-1.19.47-2.31,0.67-3.5h1.82a0.74,0.74,0,0,0,.73-0.73V166.7a0.74,0.74,0,0,0-.73-0.73h-1.4l0.26-1.4h1.7a0.72,0.72,0,0,0,.71-0.73v-0.57a0.72,0.72,0,0,0-.71-0.73m-4,3.42H19.74c0.12-.69.18-1,0.28-1.4h1.07c-0.12.69-.18,1-0.28,1.4" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M31.52,158.44H31a0.73,0.73,0,0,0-.73.73v9.21c0,1.17-.39,1.7-1.11,1.7a1,1,0,0,1-.73-0.2,2,2,0,0,1-.4-1.5v-0.28a0.74,0.74,0,0,0-.73-0.71H26.69a0.72,0.72,0,0,0-.73.71v0.28c0,2.43,1.05,3.7,3.16,3.7s3.11-1.28,3.11-3.7v-9.21a0.72,0.72,0,0,0-.71-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M38.81,158.44H34.44a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.73.73h4.37a0.73,0.73,0,0,0,.73-0.73V170.8a0.73,0.73,0,0,0-.73-0.73h-3.1v-3.82h2.55a0.73,0.73,0,0,0,.73-0.73V165a0.73,0.73,0,0,0-.73-0.73H35.71v-3.8h3.1a0.73,0.73,0,0,0,.73-0.73v-0.55a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M46.84,158.44H46.28a0.73,0.73,0,0,0-.73.73v6.68l-2.81-7a0.8,0.8,0,0,0-.67-0.45H41.58a0.74,0.74,0,0,0-.73.73v12.18a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45h0.47a0.73,0.73,0,0,0,.73-0.73V159.17a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M55.44,158.44H54.78a0.93,0.93,0,0,0-.67.43l-1.62,3.72-1.64-3.72a0.86,0.86,0,0,0-.67-0.43H49.54a0.7,0.7,0,0,0-.67,1c0.87,2,1.76,4,2.63,6.05v5.85a0.72,0.72,0,0,0,.71.73h0.57a0.73,0.73,0,0,0,.73-0.73v-5.83l2.61-6.07a0.71,0.71,0,0,0-.67-1" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M60.06,159a0.78,0.78,0,0,0-.71-0.57H58.91a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.71.87h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H58.56Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M69.63,159a0.78,0.78,0,0,0-.71-0.57H68.47a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.71.87h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H68.13Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M79,158.44H78.47a0.73,0.73,0,0,0-.73.73v6.68l-2.81-7a0.8,0.8,0,0,0-.67-0.45H73.78a0.74,0.74,0,0,0-.73.73v12.18a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45H79a0.73,0.73,0,0,0,.73-0.73V159.17a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M86.08,159a0.78,0.78,0,0,0-.71-0.57H84.93a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.71.87H82.7a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H84.58Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M95.49,158.44H94.92a0.73,0.73,0,0,0-.73.73v6.68l-2.81-7a0.8,0.8,0,0,0-.67-0.45H90.23a0.74,0.74,0,0,0-.73.73v12.18a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45h0.47a0.73,0.73,0,0,0,.73-0.73V159.17a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M99,158.44H98.47a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.73.73H99a0.74,0.74,0,0,0,.73-0.73V159.17a0.74,0.74,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M104.44,158.44a3.23,3.23,0,0,0-2.25.79,4.15,4.15,0,0,0-1.09,3.16v5.73a4.17,4.17,0,0,0,1.07,3.16,3.55,3.55,0,0,0,4.51,0,4.17,4.17,0,0,0,1.05-3.16v-0.28a0.72,0.72,0,0,0-.71-0.73h-0.59a0.73,0.73,0,0,0-.73.73v0.28a2.76,2.76,0,0,1-.34,1.6,1.32,1.32,0,0,1-.93.36c-0.87,0-1.3-.61-1.3-2v-5.73c0-1.36.45-1.94,1.3-1.94s1.27,0.59,1.27,1.94v0.28a0.73,0.73,0,0,0,.73.73H107a0.72,0.72,0,0,0,.71-0.73v-0.28a4.15,4.15,0,0,0-1.07-3.16,3.21,3.21,0,0,0-2.23-.79" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M114.68,158.44h-0.57a0.73,0.73,0,0,0-.73.73v5.1h-2.25v-5.1a0.73,0.73,0,0,0-.73-0.73h-0.57a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.73.73h0.57a0.72,0.72,0,0,0,.73-0.73v-5.08h2.25v5.08a0.72,0.72,0,0,0,.73.73h0.57a0.72,0.72,0,0,0,.73-0.73V159.17a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M122.16,158.44h-4.37a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.73.73h4.37a0.72,0.72,0,0,0,.73-0.73V170.8a0.72,0.72,0,0,0-.73-0.73h-3.1v-3.82h2.55a0.73,0.73,0,0,0,.73-0.73V165a0.73,0.73,0,0,0-.73-0.73h-2.55v-3.8h3.1a0.73,0.73,0,0,0,.73-0.73v-0.55a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M130.41,158.42h-0.59a0.78,0.78,0,0,0-.71.57l-1.8,7.71-1.8-7.71a0.8,0.8,0,0,0-.71-0.57h-0.57a0.7,0.7,0,0,0-.71.89l2.87,12.18a0.74,0.74,0,0,0,.71.57h0.42a0.77,0.77,0,0,0,.71-0.57l2.87-12.18a0.72,0.72,0,0,0-.71-0.89" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M137.57,171.19L134.78,159a0.78,0.78,0,0,0-.71-0.57h-0.45a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.71.87h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89m-4.29-4.84,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24h-1.13Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/></svg>
            </div>
            <div class="name_menu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 40"><title>Безымянный-1-01</title><path d="M96.47,34l6.69-26.9h1.49L97,37.59H95.93L88.28,7.1h1.45Z" style="fill:#aaa"/><path d="M113.39,37.59c-4.34,0-6.51-2.67-6.51-8V28.86h1.4v0.68c0,3,.77,4.66,1.76,5.56a4.8,4.8,0,0,0,3.35,1.08c3.26,0,5.11-2.4,5.11-6.42a5.91,5.91,0,0,0-1.9-4.57,11.21,11.21,0,0,0-3.08-1.76l-0.77-.32a10,10,0,0,1-3.57-2.26,7.48,7.48,0,0,1-2.31-5.65c0-4.57,2.35-8.1,6.51-8.1s6.56,2.85,6.56,8.1v0.72H118.5V15.2c0-4.57-1.67-6.65-5.11-6.65-3.26,0-5.11,2.71-5.11,6.65a6.11,6.11,0,0,0,1.9,4.66,9.08,9.08,0,0,0,3.17,1.94l0.72,0.32a11,11,0,0,1,3.53,2,7.31,7.31,0,0,1,2.35,5.61C119.94,34.28,117.59,37.59,113.39,37.59Z" style="fill:#aaa"/><path d="M133.56,7.15v1.4H124V21.67h9.54v1.4H124V36.23h9.54v1.4H122.61V7.15h10.95Z" style="fill:#aaa"/><path d="M152.33,37.59c-4.34,0-6.51-2.67-6.51-8V28.86h1.4v0.68c0,3,.77,4.66,1.76,5.56a4.81,4.81,0,0,0,3.35,1.08c3.26,0,5.11-2.4,5.11-6.42a5.91,5.91,0,0,0-1.9-4.57,11.21,11.21,0,0,0-3.08-1.76l-0.77-.32a10,10,0,0,1-3.57-2.26,7.48,7.48,0,0,1-2.31-5.65c0-4.57,2.35-8.1,6.51-8.1s6.56,2.85,6.56,8.1v0.72h-1.45V15.2c0-4.57-1.67-6.65-5.11-6.65-3.26,0-5.11,2.71-5.11,6.65a6.11,6.11,0,0,0,1.9,4.66,9.09,9.09,0,0,0,3.17,1.94L153,22.12a11,11,0,0,1,3.53,2,7.31,7.31,0,0,1,2.35,5.61C158.89,34.28,156.53,37.59,152.33,37.59Z" style="fill:#aaa"/><path d="M169.29,34L176,7.1h1.49l-7.64,30.48h-1.08L161.1,7.1h1.45Z" style="fill:#aaa"/><path d="M186.16,37.63a6,6,0,0,1-4.34-1.54c-1.27-1.22-2.13-3.17-2.13-6.56V15.2c0-5.2,2.17-8.05,6.47-8.05s6.51,2.8,6.51,8.05V29.54c0,3.39-.86,5.34-2.13,6.56A6.09,6.09,0,0,1,186.16,37.63Zm0-29.08c-3.44,0-5.07,2.13-5.07,6.65V29.54c0,4.57,1.67,6.69,5.07,6.69s5.07-2,5.07-6.69V15.2C191.23,10.54,189.55,8.55,186.16,8.55Z" style="fill:#aaa"/><path d="M206.74,7.15v1.4H197.2V21.67h9.54v1.4H197.2V36.23h9.54v1.4H195.79V7.15h11Z" style="fill:#aaa"/><path d="M125,3.32a1.17,1.17,0,0,1-1.25-1.19A1.17,1.17,0,0,1,125,1a1.16,1.16,0,0,1,1.23,1.19A1.16,1.16,0,0,1,125,3.32Zm7,0a1.17,1.17,0,0,1-1.25-1.19A1.17,1.17,0,0,1,132,1a1.16,1.16,0,0,1,1.23,1.19A1.16,1.16,0,0,1,132,3.32Z" style="fill:#aaa"/><path d="M198,3.32a1.18,1.18,0,0,1-1.25-1.19A1.17,1.17,0,0,1,198,1a1.16,1.16,0,0,1,1.23,1.19A1.16,1.16,0,0,1,198,3.32Zm7,0a1.17,1.17,0,0,1-1.25-1.19A1.17,1.17,0,0,1,205,1a1.16,1.16,0,0,1,1.23,1.19A1.16,1.16,0,0,1,205,3.32Z" style="fill:#aaa"/></svg>
            </div>
        </div>
    </a>
    <a href="/art">
        <div <% if cookies[:open_logo]=='yes'%>style="display:block"<%end%> class="right_bottom main_block main_block_mobile box_black_logo_mobile">
            <div class="box_black_logo logo_right_bottom">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126.04 166.27"><title>SVOЁ BURO</title><path d="M27.41,24.31c-8.71,0-13.56,5.34-13.56,14.63,0,8.14,5.67,12.58,11.1,16.85V55.71c4,3.12,7.81,6.17,7.81,10,0,4.36-1.89,5.84-5.34,5.84A4.83,4.83,0,0,1,24,70.51c-1.15-1-1.89-2.88-1.89-6.82V62.62a3,3,0,0,0-3-3h-2.3a3,3,0,0,0-3,3v1.07c0,10.77,4.52,16,13.56,16C36.12,79.72,41,74.78,41,65.58c0-8-5.51-12.17-10.93-16.36h0.08c-4-3.12-8.05-6.33-8.05-10.52s1.89-6.17,5.34-6.17c3.62,0,5.34,2.47,5.34,7.89v1.15a3,3,0,0,0,3,3H38a3,3,0,0,0,3-3V40.42C41,30,36.29,24.31,27.41,24.31" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M72.88,25.33H70.5a3.14,3.14,0,0,0-2.88,2.21L60.3,57.61,53,27.54a3.22,3.22,0,0,0-2.88-2.21h-2.3a2.75,2.75,0,0,0-2.88,3.47L56.6,76.31a3,3,0,0,0,2.88,2.21h1.73a3.12,3.12,0,0,0,2.88-2.21L75.75,28.81a2.83,2.83,0,0,0-2.88-3.47" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M93.8,79.8a12.76,12.76,0,0,0,9.2-3.29c2.55-2.55,4.27-6.33,4.27-12.82V40.42c0-10.44-4.44-16-13.48-16s-13.47,5.67-13.47,16V63.69c0,6.49,1.81,10.27,4.35,12.82A12.71,12.71,0,0,0,93.8,79.8M88.54,40.42c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89V63.69c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V40.42Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M117.05,78.52H134.8a2.89,2.89,0,0,0,3-2.84V73.56a2.89,2.89,0,0,0-3-2.84H122.23V55.83h10.36a2.89,2.89,0,0,0,3-2.84V50.87a2.89,2.89,0,0,0-3-2.84H122.23V33.22H134.8a2.89,2.89,0,0,0,3-2.84V28.25a2.89,2.89,0,0,0-3-2.84H117.05a2.89,2.89,0,0,0-3,2.84V75.69a2.89,2.89,0,0,0,3,2.84" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M117.05,14.85h2.38a3,3,0,0,0,3-3V8.76a3,3,0,0,0-3-3h-2.38a3,3,0,0,0-3,3v3.12a3,3,0,0,0,3,3" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M132.42,14.85h2.38a3,3,0,0,0,3-3V8.76a3,3,0,0,0-3-3h-2.38a3,3,0,0,0-3,3v3.12a3,3,0,0,0,3,3" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M26,88.45H17.88a3,3,0,0,0-3,3V140.9a3,3,0,0,0,3,3H26c9.61,0,13.89-5.26,13.89-15.86,0-5-1.4-9.21-3.54-11.84,0,0,3.54-4.19,3.54-11.84,0-10.61-4.27-15.87-13.89-15.87m0,47.27H23.14V120.18H26c4,0,5.67,2.22,5.67,7.81S30,135.72,26,135.72M26,112H23.14V96.59H26c4,0,5.67,2.22,5.67,7.73S30,112,26,112" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M70.06,89.42h-2.3a2.9,2.9,0,0,0-2.88,2.9V129c0,3.87-1.15,6.77-5.34,6.77-4,0-5.34-2.5-5.34-6.77V92.32a2.92,2.92,0,0,0-3-2.9h-2.3a2.9,2.9,0,0,0-2.88,2.9V129c0,8.55,3.62,14.76,13.48,14.76C69.07,143.78,73,138.05,73,129V92.32a2.92,2.92,0,0,0-3-2.9" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M103.83,116.24c2.55-2.55,3.45-6.66,3.45-11.76,0-11-3.54-16.11-13.64-16.11H83.28a3,3,0,0,0-3,3v49.49a3,3,0,0,0,3,3h2.3a2.93,2.93,0,0,0,2.88-3V120.68h3.7c4,0,6.33,2.3,6.33,6.41v13.73a3,3,0,0,0,3,3h2.3a3,3,0,0,0,3-3V127.09c0-4.27-1.15-7.64-3.54-10.19l0.66-.66m-11.67-3.86h-3.7V96.59h5.18c4.27,0,5.51,2.3,5.51,7.89s-2.38,7.89-7,7.89" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M126.42,88.45c-9,0-13.48,5.67-13.48,16v23.26c0,6.49,1.81,10.27,4.36,12.82a14.41,14.41,0,0,0,18.32,0c2.55-2.55,4.27-6.33,4.27-12.82V104.48c0-10.44-4.44-16-13.48-16m5.26,39.29c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V104.48c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89v23.26Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M24.86,162.55H23.52l0.65-3.26a0.7,0.7,0,0,0-.71-0.85H22.87a0.75,0.75,0,0,0-.71.59l-0.67,3.52H20.43l0.63-3.24a0.72,0.72,0,0,0-.71-0.87H19.74A0.72,0.72,0,0,0,19,159c-0.22,1.19-.46,2.33-0.69,3.52H16.2a0.74,0.74,0,0,0-.73.73v0.57a0.74,0.74,0,0,0,.73.73H18c-0.12.69-.2,1-0.28,1.4h-2a0.73,0.73,0,0,0-.73.73v0.57a0.73,0.73,0,0,0,.73.73h1.66l-0.65,3.24a0.7,0.7,0,0,0,.71.85H18a0.75,0.75,0,0,0,.71-0.59c0.22-1.19.45-2.31,0.69-3.5h1.07l-0.61,3.24a0.7,0.7,0,0,0,.71.85h0.57a0.72,0.72,0,0,0,.71-0.59c0.22-1.19.47-2.31,0.67-3.5h1.82a0.74,0.74,0,0,0,.73-0.73V166.7a0.74,0.74,0,0,0-.73-0.73h-1.4l0.26-1.4h1.7a0.72,0.72,0,0,0,.71-0.73v-0.57a0.72,0.72,0,0,0-.71-0.73m-4,3.42H19.74c0.12-.69.18-1,0.28-1.4h1.07c-0.12.69-.18,1-0.28,1.4" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M31.52,158.44H31a0.73,0.73,0,0,0-.73.73v9.21c0,1.17-.39,1.7-1.11,1.7a1,1,0,0,1-.73-0.2,2,2,0,0,1-.4-1.5v-0.28a0.74,0.74,0,0,0-.73-0.71H26.69a0.72,0.72,0,0,0-.73.71v0.28c0,2.43,1.05,3.7,3.16,3.7s3.11-1.28,3.11-3.7v-9.21a0.72,0.72,0,0,0-.71-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M38.81,158.44H34.44a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.73.73h4.37a0.73,0.73,0,0,0,.73-0.73V170.8a0.73,0.73,0,0,0-.73-0.73h-3.1v-3.82h2.55a0.73,0.73,0,0,0,.73-0.73V165a0.73,0.73,0,0,0-.73-0.73H35.71v-3.8h3.1a0.73,0.73,0,0,0,.73-0.73v-0.55a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M46.84,158.44H46.28a0.73,0.73,0,0,0-.73.73v6.68l-2.81-7a0.8,0.8,0,0,0-.67-0.45H41.58a0.74,0.74,0,0,0-.73.73v12.18a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45h0.47a0.73,0.73,0,0,0,.73-0.73V159.17a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M55.44,158.44H54.78a0.93,0.93,0,0,0-.67.43l-1.62,3.72-1.64-3.72a0.86,0.86,0,0,0-.67-0.43H49.54a0.7,0.7,0,0,0-.67,1c0.87,2,1.76,4,2.63,6.05v5.85a0.72,0.72,0,0,0,.71.73h0.57a0.73,0.73,0,0,0,.73-0.73v-5.83l2.61-6.07a0.71,0.71,0,0,0-.67-1" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M60.06,159a0.78,0.78,0,0,0-.71-0.57H58.91a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.71.87h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H58.56Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M69.63,159a0.78,0.78,0,0,0-.71-0.57H68.47a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.71.87h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H68.13Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M79,158.44H78.47a0.73,0.73,0,0,0-.73.73v6.68l-2.81-7a0.8,0.8,0,0,0-.67-0.45H73.78a0.74,0.74,0,0,0-.73.73v12.18a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45H79a0.73,0.73,0,0,0,.73-0.73V159.17a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M86.08,159a0.78,0.78,0,0,0-.71-0.57H84.93a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.71.87H82.7a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H84.58Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M95.49,158.44H94.92a0.73,0.73,0,0,0-.73.73v6.68l-2.81-7a0.8,0.8,0,0,0-.67-0.45H90.23a0.74,0.74,0,0,0-.73.73v12.18a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45h0.47a0.73,0.73,0,0,0,.73-0.73V159.17a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M99,158.44H98.47a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.73.73H99a0.74,0.74,0,0,0,.73-0.73V159.17a0.74,0.74,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M104.44,158.44a3.23,3.23,0,0,0-2.25.79,4.15,4.15,0,0,0-1.09,3.16v5.73a4.17,4.17,0,0,0,1.07,3.16,3.55,3.55,0,0,0,4.51,0,4.17,4.17,0,0,0,1.05-3.16v-0.28a0.72,0.72,0,0,0-.71-0.73h-0.59a0.73,0.73,0,0,0-.73.73v0.28a2.76,2.76,0,0,1-.34,1.6,1.32,1.32,0,0,1-.93.36c-0.87,0-1.3-.61-1.3-2v-5.73c0-1.36.45-1.94,1.3-1.94s1.27,0.59,1.27,1.94v0.28a0.73,0.73,0,0,0,.73.73H107a0.72,0.72,0,0,0,.71-0.73v-0.28a4.15,4.15,0,0,0-1.07-3.16,3.21,3.21,0,0,0-2.23-.79" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M114.68,158.44h-0.57a0.73,0.73,0,0,0-.73.73v5.1h-2.25v-5.1a0.73,0.73,0,0,0-.73-0.73h-0.57a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.73.73h0.57a0.72,0.72,0,0,0,.73-0.73v-5.08h2.25v5.08a0.72,0.72,0,0,0,.73.73h0.57a0.72,0.72,0,0,0,.73-0.73V159.17a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M122.16,158.44h-4.37a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.73.73h4.37a0.72,0.72,0,0,0,.73-0.73V170.8a0.72,0.72,0,0,0-.73-0.73h-3.1v-3.82h2.55a0.73,0.73,0,0,0,.73-0.73V165a0.73,0.73,0,0,0-.73-0.73h-2.55v-3.8h3.1a0.73,0.73,0,0,0,.73-0.73v-0.55a0.73,0.73,0,0,0-.73-0.73" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M130.41,158.42h-0.59a0.78,0.78,0,0,0-.71.57l-1.8,7.71-1.8-7.71a0.8,0.8,0,0,0-.71-0.57h-0.57a0.7,0.7,0,0,0-.71.89l2.87,12.18a0.74,0.74,0,0,0,.71.57h0.42a0.77,0.77,0,0,0,.71-0.57l2.87-12.18a0.72,0.72,0,0,0-.71-0.89" transform="translate(-13.85 -5.81)" style="fill:#fff"/><path d="M137.57,171.19L134.78,159a0.78,0.78,0,0,0-.71-0.57h-0.45a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.71.87h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89m-4.29-4.84,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24h-1.13Z" transform="translate(-13.85 -5.81)" style="fill:#fff"/></svg>
            </div>
            <div class="name_menu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 40"><title>ART</title><path d="M134.89,28.31h-8.05l-2.08,9.32h-1.45L125.71,27V26.91l4.61-19.76h1.13l7,30.48H137Zm-7.69-1.4h7.37L130.87,11Z" style="fill:#aaa"/><path d="M151.67,23.75a7.09,7.09,0,0,1,2,5.38v8.46h-1.45V29.13c0-3.66-2.08-5.79-5.7-5.79h-4.07V37.59h-1.4V7.1h5.47c4.88,0,7.06,2.53,7.06,8.1,0,2.71-.54,4.75-1.67,6.06a5.56,5.56,0,0,1-1.81,1.4A5.29,5.29,0,0,1,151.67,23.75Zm-9.18-1.85h4.07c4,0,5.65-2,5.65-6.69s-1.63-6.65-5.65-6.65h-4.07V21.89Z" style="fill:#aaa"/><path d="M156.56,7.1h16V8.55h-7.33v29h-1.4v-29h-7.28V7.1Z" style="fill:#aaa"/></svg>
            </div>
        </div>
    </a>


    <div class="main_logo <% if cookies[:open_logo]=='yes'%>main_logo_mobile<%end%>">
        <svg width='100%' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 126.04 166.27"><defs><clipPath id="a"><rect x="-371.69" y="-209.34" width="841.89" height="595.28" style="fill:none"/></clipPath></defs><title>logo</title><g style="clip-path:url(#a)"><path d="M13.56,18.5C4.85,18.5,0,23.84,0,33.13,0,41.27,5.67,45.71,11.1,50V49.9c4,3.12,7.81,6.17,7.81,10,0,4.36-1.89,5.84-5.34,5.84a4.83,4.83,0,0,1-3.42-1c-1.15-1-1.89-2.88-1.89-6.82V56.81a3,3,0,0,0-3-3H3a3,3,0,0,0-3,3v1.07c0,10.77,4.52,16,13.56,16,8.75,0,13.63-4.91,13.63-14.11,0-8-5.51-12.17-10.93-16.36H16.3c-4-3.12-8.05-6.33-8.05-10.52s1.89-6.17,5.34-6.17c3.62,0,5.34,2.47,5.34,7.89v1.15a3,3,0,0,0,3,3h2.22a3,3,0,0,0,3-3V34.61c0-10.42-4.71-16.11-13.59-16.11" style="fill:#1d1d1b"/><path d="M59,19.52H56.65a3.14,3.14,0,0,0-2.88,2.21L46.45,51.8l-7.3-30.07a3.22,3.22,0,0,0-2.88-2.21H34A2.75,2.75,0,0,0,31.09,23L42.75,70.5a3,3,0,0,0,2.88,2.21h1.73a3.12,3.12,0,0,0,2.88-2.21L61.9,23A2.83,2.83,0,0,0,59,19.53" style="fill:#1d1d1b"/><path d="M80,74a12.76,12.76,0,0,0,9.2-3.29c2.55-2.55,4.27-6.33,4.27-12.82V34.61c0-10.44-4.44-16-13.48-16s-13.47,5.67-13.47,16V57.88c0,6.49,1.81,10.27,4.35,12.82A12.71,12.71,0,0,0,80,74M74.69,34.61c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89V57.88c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V34.61Z" style="fill:#1d1d1b"/><path d="M103.2,72.71H121a2.89,2.89,0,0,0,3-2.78V67.75A2.89,2.89,0,0,0,121,64.91H108.38V50h10.36a2.89,2.89,0,0,0,3-2.78V45.06a2.89,2.89,0,0,0-2.94-2.84H108.38V27.41H121a2.89,2.89,0,0,0,3-2.78V22.44A2.89,2.89,0,0,0,121,19.6H103.2a2.89,2.89,0,0,0-3,2.78v47.5a2.89,2.89,0,0,0,2.94,2.84h0.06" style="fill:#1d1d1b"/><path d="M103.2,12h2.38a3,3,0,0,0,3-3V5.95a3,3,0,0,0-3-3H103.2a3,3,0,0,0-3,3V9.07a3,3,0,0,0,3,3" style="fill:#1d1d1b"/><path d="M118.57,12H121a3,3,0,0,0,3-3V5.95a3,3,0,0,0-3-3h-2.38a3,3,0,0,0-3,3V9.07a3,3,0,0,0,3,3" style="fill:#1d1d1b"/><path d="M12.15,82.64H4a3,3,0,0,0-3,3v49.45a3,3,0,0,0,3,3h8.12c9.61,0,13.89-5.26,13.89-15.86,0-5-1.4-9.21-3.54-11.84,0,0,3.54-4.19,3.54-11.84,0-10.61-4.27-15.87-13.89-15.87m0,47.27H9.29V114.37h2.86c4,0,5.67,2.22,5.67,7.81s-1.67,7.73-5.67,7.73m0-23.72H9.29V90.78h2.86c4,0,5.67,2.22,5.67,7.73s-1.67,7.68-5.67,7.68" style="fill:#1d1d1b"/><path d="M56.21,83.61h-2.3A2.9,2.9,0,0,0,51,86.51v36.68c0,3.87-1.15,6.77-5.34,6.77-4,0-5.34-2.5-5.34-6.77V86.51a2.92,2.92,0,0,0-2.94-2.9H35a2.9,2.9,0,0,0-2.88,2.9v36.68c0,8.55,3.62,14.76,13.48,14.76,9.57,0,13.5-5.71,13.5-14.76V86.51a2.92,2.92,0,0,0-2.94-2.9H56.15" style="fill:#1d1d1b"/><path d="M90,110.43c2.55-2.55,3.45-6.66,3.45-11.76,0-11-3.54-16.11-13.64-16.11H69.43a3,3,0,0,0-3,3V135a3,3,0,0,0,3,3h2.3a2.93,2.93,0,0,0,2.88-3v-20.2h3.7c4,0,6.33,2.3,6.33,6.41V135a3,3,0,0,0,3,3h2.3a3,3,0,0,0,3-3V121.28c0-4.27-1.15-7.64-3.54-10.19l0.66-.66m-11.67-3.86h-3.7V90.78h5.18c4.27,0,5.51,2.3,5.51,7.89s-2.38,7.89-7,7.89" style="fill:#1d1d1b"/><path d="M112.57,82.64c-9,0-13.48,5.67-13.48,16V121.9c0,6.49,1.81,10.27,4.36,12.82a14.41,14.41,0,0,0,18.32,0c2.55-2.55,4.27-6.33,4.27-12.82V98.67c0-10.44-4.44-16-13.48-16M117.82,122c0,5.59-1.81,8-5.26,8s-5.26-2.55-5.26-8V98.67c0-5.34,1.64-7.89,5.26-7.89s5.26,2.38,5.26,7.89V122Z" style="fill:#1d1d1b"/><path d="M11,156.74H9.67l0.65-3.26a0.7,0.7,0,0,0-.53-0.83l-0.18,0H9a0.75,0.75,0,0,0-.71.59l-0.67,3.52H6.58l0.63-3.24a0.72,0.72,0,0,0-.55-0.85l-0.16,0H5.89a0.72,0.72,0,0,0-.74.56c-0.22,1.19-.46,2.33-0.69,3.52H2.35a0.74,0.74,0,0,0-.73.73V158a0.74,0.74,0,0,0,.73.73h1.8c-0.12.69-.2,1-0.28,1.4h-2a0.73,0.73,0,0,0-.73.73v0.57a0.73,0.73,0,0,0,.73.73H3.53l-0.65,3.24a0.7,0.7,0,0,0,.53.83l0.18,0H4.15a0.75,0.75,0,0,0,.71-0.59c0.22-1.19.45-2.31,0.69-3.5H6.62L6,165.41a0.7,0.7,0,0,0,.53.83l0.18,0H7.29A0.72,0.72,0,0,0,8,165.67c0.22-1.19.47-2.31,0.67-3.5h1.82a0.74,0.74,0,0,0,.73-0.73v-0.55a0.74,0.74,0,0,0-.73-0.73H9.09l0.26-1.4H11a0.72,0.72,0,0,0,.71-0.73h0v-0.57a0.72,0.72,0,0,0-.71-0.73h0m-4,3.42H5.89c0.12-.69.18-1,0.28-1.4H7.24c-0.12.69-.18,1-0.28,1.4" style="fill:#1d1d1b"/><path d="M17.67,152.63H17.15a0.73,0.73,0,0,0-.73.73v9.21c0,1.17-.39,1.7-1.11,1.7a1,1,0,0,1-.73-0.2,2,2,0,0,1-.4-1.5v-0.28a0.74,0.74,0,0,0-.73-0.71H12.84a0.72,0.72,0,0,0-.73.71h0v0.28c0,2.43,1,3.7,3.16,3.7s3.11-1.28,3.11-3.7v-9.21a0.72,0.72,0,0,0-.71-0.73h0" style="fill:#1d1d1b"/><path d="M25,152.63H20.59a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.71.73H25a0.73,0.73,0,0,0,.73-0.73V165a0.73,0.73,0,0,0-.73-0.73h-3.1v-3.82h2.55a0.73,0.73,0,0,0,.73-0.73v-0.52a0.73,0.73,0,0,0-.73-0.73H21.86v-3.8H25a0.73,0.73,0,0,0,.73-0.73v-0.55a0.73,0.73,0,0,0-.73-0.73" style="fill:#1d1d1b"/><path d="M33,152.63H32.43a0.73,0.73,0,0,0-.73.73V160l-2.81-7a0.8,0.8,0,0,0-.67-0.45H27.73a0.74,0.74,0,0,0-.73.73V165.5a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45H33a0.73,0.73,0,0,0,.73-0.73V153.36a0.73,0.73,0,0,0-.73-0.73" style="fill:#1d1d1b"/><path d="M41.59,152.63H40.93a0.93,0.93,0,0,0-.67.43l-1.62,3.72L37,153.06a0.86,0.86,0,0,0-.67-0.43H35.69a0.7,0.7,0,0,0-.67,1c0.87,2,1.76,4,2.63,6.05v5.85a0.72,0.72,0,0,0,.71.73h0.57a0.73,0.73,0,0,0,.73-0.73V159.7l2.61-6.07a0.71,0.71,0,0,0-.67-1" style="fill:#1d1d1b"/><path d="M46.21,153.19a0.78,0.78,0,0,0-.71-0.57H45.06a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.51.85l0.2,0h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06L47,165.69a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H44.71Z" style="fill:#1d1d1b"/><path d="M55.78,153.19a0.78,0.78,0,0,0-.71-0.57H54.62a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.51.85l0.2,0h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06l0.69,3.16a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H54.28Z" style="fill:#1d1d1b"/><path d="M65.15,152.63H64.62a0.73,0.73,0,0,0-.73.73V160l-2.81-7a0.8,0.8,0,0,0-.67-0.45H59.93a0.74,0.74,0,0,0-.73.73V165.5a0.74,0.74,0,0,0,.73.73h0.59a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45h0.42a0.73,0.73,0,0,0,.73-0.73V153.36a0.73,0.73,0,0,0-.73-0.73" style="fill:#1d1d1b"/><path d="M72.23,153.19a0.78,0.78,0,0,0-.71-0.57H71.08a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.51.85l0.2,0h0.61a0.8,0.8,0,0,0,.71-0.57l0.71-3.16h2.06L73,165.69a0.8,0.8,0,0,0,.71.57h0.59a0.72,0.72,0,0,0,.71-0.89Zm-1.5,7.35,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24H70.73Z" style="fill:#1d1d1b"/><path d="M81.64,152.63H81.07a0.73,0.73,0,0,0-.73.73V160l-2.81-7a0.8,0.8,0,0,0-.67-0.45H76.38a0.74,0.74,0,0,0-.73.73V165.5a0.74,0.74,0,0,0,.73.73H77a0.74,0.74,0,0,0,.73-0.73v-6.68l2.81,7a0.83,0.83,0,0,0,.67.45h0.47a0.73,0.73,0,0,0,.73-0.73V153.36a0.73,0.73,0,0,0-.73-0.73" style="fill:#1d1d1b"/><path d="M85.15,152.63H84.62a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.71.73h0.55a0.74,0.74,0,0,0,.73-0.73V153.36a0.74,0.74,0,0,0-.73-0.73" style="fill:#1d1d1b"/><path d="M90.59,152.63a3.23,3.23,0,0,0-2.25.79,4.15,4.15,0,0,0-1.09,3.16v5.73a4.17,4.17,0,0,0,1.07,3.16,3.55,3.55,0,0,0,4.51,0,4.17,4.17,0,0,0,1.05-3.16V162a0.72,0.72,0,0,0-.71-0.73H92.58a0.73,0.73,0,0,0-.73.73v0.28a2.76,2.76,0,0,1-.34,1.6,1.32,1.32,0,0,1-.93.36c-0.87,0-1.3-.61-1.3-2v-5.73c0-1.36.45-1.94,1.3-1.94s1.27,0.59,1.27,1.94v0.28a0.73,0.73,0,0,0,.73.73h0.57a0.72,0.72,0,0,0,.71-0.73h0v-0.28a4.15,4.15,0,0,0-1.07-3.16,3.21,3.21,0,0,0-2.23-.79" style="fill:#1d1d1b"/><path d="M100.83,152.63h-0.57a0.73,0.73,0,0,0-.73.73v5.1H97.28v-5.1a0.73,0.73,0,0,0-.73-0.73H96a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.71.73h0.59a0.72,0.72,0,0,0,.73-0.71s0,0,0,0v-5.08h2.25v5.08a0.72,0.72,0,0,0,.71.73h0.59a0.72,0.72,0,0,0,.73-0.71s0,0,0,0V153.36a0.73,0.73,0,0,0-.73-0.73" style="fill:#1d1d1b"/><path d="M108.31,152.63h-4.37a0.73,0.73,0,0,0-.73.73v12.18a0.72,0.72,0,0,0,.71.73h4.39a0.72,0.72,0,0,0,.73-0.71s0,0,0,0V165a0.72,0.72,0,0,0-.71-0.73h-3.12v-3.82h2.55a0.73,0.73,0,0,0,.73-0.73v-0.52a0.73,0.73,0,0,0-.73-0.73h-2.55v-3.8h3.1a0.73,0.73,0,0,0,.73-0.73v-0.55a0.73,0.73,0,0,0-.73-0.73" style="fill:#1d1d1b"/><path d="M116.56,152.61H116a0.78,0.78,0,0,0-.71.57l-1.8,7.71-1.8-7.71a0.8,0.8,0,0,0-.71-0.57h-0.57a0.7,0.7,0,0,0-.71.89l2.87,12.18a0.74,0.74,0,0,0,.71.57h0.42a0.77,0.77,0,0,0,.71-0.57l2.87-12.18a0.72,0.72,0,0,0-.53-0.87l-0.18,0" style="fill:#1d1d1b"/><path d="M123.72,165.38l-2.79-12.19a0.78,0.78,0,0,0-.71-0.57h-0.45a0.8,0.8,0,0,0-.71.57l-1.84,7.91-1,4.29a0.7,0.7,0,0,0,.51.85l0.2,0h0.59a0.8,0.8,0,0,0,.71-0.57l0.71-3.16H121l0.69,3.16a0.8,0.8,0,0,0,.71.57H123a0.72,0.72,0,0,0,.71-0.89m-4.29-4.84,0.57-3.24c0.39,1.72.34,2.27,0.57,3.24h-1.14Z" style="fill:#1d1d1b"/></g></svg>
    </div>

</div>

<div class="block_social">
    <a target="_blank" href="https://www.facebook.com/svoeburo/?pnref=story" class="point_social">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.92 29.92"><title>social</title><path d="M21.44,9.58h3.68V5H21.44a5.76,5.76,0,0,0-5.51,6v2.3H12.25v4.56h3.67V28.92h4.59V17.86h4.59V13.3H20.52V11A1.26,1.26,0,0,1,21.44,9.58Z" transform="translate(0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1px"/><path d="M24.24,1H5.63A4.67,4.67,0,0,0,1,5.65V24.26a4.67,4.67,0,0,0,4.65,4.65H24.24a4.66,4.66,0,0,0,4.65-4.65V5.65A4.67,4.67,0,0,0,24.24,1h0Z" transform="translate(0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1px"/></svg>
    </a>
    <a target="_blank" href="https://www.instagram.com/svoeburo/" class="point_social">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.89 28.91"><title>icon</title><path d="M23.76,0.5H5.15A4.67,4.67,0,0,0,.52,5.15V23.76a4.67,4.67,0,0,0,4.65,4.65H23.76a4.66,4.66,0,0,0,4.65-4.65V5.15A4.67,4.67,0,0,0,23.76.5h0Z" transform="translate(-0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10"/><line x1="0.5" y1="9.67" x2="8.98" y2="9.67" style="fill:none;stroke:#000;stroke-miterlimit:10"/><line x1="3.28" y1="0.9" x2="3.28" y2="7.73" style="fill:none;stroke:#000;stroke-miterlimit:10"/><line x1="5.42" y1="0.9" x2="5.42" y2="7.73" style="fill:none;stroke:#000;stroke-miterlimit:10"/><line x1="7.35" y1="0.9" x2="7.35" y2="7.73" style="fill:none;stroke:#000;stroke-miterlimit:10"/><rect x="20.97" y="3.59" width="3.18" height="3.18" style="fill:none;stroke:#000;stroke-miterlimit:10"/><circle cx="14.44" cy="13.73" r="3.5" style="fill:none;stroke:#000;stroke-miterlimit:10"/><circle cx="14.44" cy="13.73" r="6.95" style="fill:none;stroke:#000;stroke-miterlimit:10"/><line x1="19.91" y1="9.67" x2="28.39" y2="9.67" style="fill:none;stroke:#000;stroke-miterlimit:10"/></svg>
    </a>
    <a target="_blank" href="https://new.vk.com/svoeburoja">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.89 28.91"><title>icon</title><path d="M23.76,0.5H5.15A4.67,4.67,0,0,0,.52,5.15V23.76a4.67,4.67,0,0,0,4.65,4.65H23.76a4.66,4.66,0,0,0,4.65-4.65V5.15A4.67,4.67,0,0,0,23.76.5h0Z" transform="translate(-0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10"/><path d="M20.38,14.79c-1.29-1-3.29-.51-1.84-0.9s2.16-2.27,2.16-3.68A3.46,3.46,0,0,0,17,6.64H8.71v16.3h8a4.92,4.92,0,0,0,5.09-4.43C21.83,17,21.68,15.81,20.38,14.79ZM12.78,9.5h2.27a1.52,1.52,0,0,1,1.63,1.63,1.65,1.65,0,0,1-1.82,1.82H12.78V9.5ZM15.4,20H12.78V15.69h2.87a1.91,1.91,0,0,1,2.05,2.05A2.08,2.08,0,0,1,15.4,20Z" transform="translate(-0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10"/></svg>
    </a>
</div>
