<%@art.each do |item|%>
    <div class="point_art_slide" id="<%=item.id%>">
       <div class="image_art" style="background-image:url(<%=item.photo.url()%>)"></div>
       <div class="info_art">

          <div class="scroll_to_up">
                        Вверх
                    </div> 

           <div class="description_art">
               <%=item.detail%>
           </div>

           <% if not item.href.blank? %>
               <a href="<%=item.href%>" style="text-decoration: none;">
                   <div class="look_interior">
                       Посмотреть <br/> в интерьере
                   </div>

               </a>
            <% end %>

           <div class="social_art">
               <div class="title_social_art">
                   Поделиться:
               </div>
               <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://svoeburo.com/share_art/<%=item.id%>">
                   <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.92 29.92"><title>FaceBook</title><path d="M21.44,9.58h3.68V5H21.44a5.76,5.76,0,0,0-5.51,6v2.3H12.25v4.56h3.67V28.92h4.59V17.86h4.59V13.3H20.52V11A1.26,1.26,0,0,1,21.44,9.58Z" transform="translate(0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1px"/><path d="M24.24,1H5.63A4.67,4.67,0,0,0,1,5.65V24.26a4.67,4.67,0,0,0,4.65,4.65H24.24a4.66,4.66,0,0,0,4.65-4.65V5.65A4.67,4.67,0,0,0,24.24,1h0Z" transform="translate(0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1px"/></svg>
                </a>
               <a target="_blank" href="http://vk.com/share.php?url=http://svoeburo.com/share_art/<%=item.id%>">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.89 28.91"><title>Вконтакте</title><path d="M23.76,0.5H5.15A4.67,4.67,0,0,0,.52,5.15V23.76a4.67,4.67,0,0,0,4.65,4.65H23.76a4.66,4.66,0,0,0,4.65-4.65V5.15A4.67,4.67,0,0,0,23.76.5h0Z" transform="translate(-0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10"/><path d="M20.38,14.79c-1.29-1-3.29-.51-1.84-0.9s2.16-2.27,2.16-3.68A3.46,3.46,0,0,0,17,6.64H8.71v16.3h8a4.92,4.92,0,0,0,5.09-4.43C21.83,17,21.68,15.81,20.38,14.79ZM12.78,9.5h2.27a1.52,1.52,0,0,1,1.63,1.63,1.65,1.65,0,0,1-1.82,1.82H12.78V9.5ZM15.4,20H12.78V15.69h2.87a1.91,1.91,0,0,1,2.05,2.05A2.08,2.08,0,0,1,15.4,20Z" transform="translate(-0.02 0)" style="fill:none;stroke:#000;stroke-miterlimit:10"/></svg>
                </a>
               <a target="_blank" data-pin-do="buttonPin" data-pin-count="above" href="https://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fsvoeburo.com%2Fart&media=http%3A%2F%2Fsvoeburo.com<%=item.photo.url(:big)%>%3F1458848162&description=<%=item.detail%>">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.92 28.92"><title>Pinterest</title><path d="M24.24,1H5.63A4.67,4.67,0,0,0,1,5.65V24.26a4.67,4.67,0,0,0,4.65,4.65H24.24a4.66,4.66,0,0,0,4.65-4.65V5.65A4.67,4.67,0,0,0,24.24,1h0Z" transform="translate(-0.48 -0.5)" style="fill:none;stroke:#000;stroke-miterlimit:10"/><path d="M13.8,18.65l0,0.18-0.61,2.4a7.21,7.21,0,0,1-.66,1.65,12.63,12.63,0,0,1-1.16,1.76l-0.06.07a0.12,0.12,0,0,1-.21-0.06q0-.08,0-0.15a13.8,13.8,0,0,1-.12-1.6,9.9,9.9,0,0,1,0-1.49,9.8,9.8,0,0,1,.2-1L12,17l0.35-1.48a0.63,0.63,0,0,1,0-.08,0.19,0.19,0,0,0,0-.15A3.94,3.94,0,0,1,12,13.71a3.27,3.27,0,0,1,.27-1.32,2.36,2.36,0,0,1,.56-0.77,1.63,1.63,0,0,1,.81-0.42,1.55,1.55,0,0,1,.77.05,1.17,1.17,0,0,1,.67.63,1.75,1.75,0,0,1,.16.68,3.13,3.13,0,0,1-.07.77,13.17,13.17,0,0,1-.3,1.31c-0.15.47-.29,0.94-0.42,1.42q0,0.18-.08.36a1.55,1.55,0,0,0,1.1,1.67,1.82,1.82,0,0,0,.71.08,2.37,2.37,0,0,0,1.41-.62,3.82,3.82,0,0,0,.72-0.93A6.18,6.18,0,0,0,19,15.08a7.83,7.83,0,0,0,.23-1.39,3.66,3.66,0,0,1,0-.65A4.37,4.37,0,0,0,19,11.37a3.42,3.42,0,0,0-1.83-2A4.4,4.4,0,0,0,16,9,5.82,5.82,0,0,0,15,9a5.19,5.19,0,0,0-2,.42,4.79,4.79,0,0,0-2.84,4.73,2.77,2.77,0,0,0,.63,1.61l0.12,0.15a0.39,0.39,0,0,1,.06.34l-0.16.66,0,0.19a0.94,0.94,0,0,1,0,.11,0.32,0.32,0,0,1-.41.21h0l-0.13-.05a2.88,2.88,0,0,1-1.21-1A4,4,0,0,1,8.37,15a5.76,5.76,0,0,1,.46-4.11A6.44,6.44,0,0,1,11.77,8a7.33,7.33,0,0,1,1.82-.61,9.06,9.06,0,0,1,1.2-.15h0.56a7,7,0,0,1,.82,0,6.35,6.35,0,0,1,4,2,5.52,5.52,0,0,1,1.39,2.61,5,5,0,0,1,.12,1,9.27,9.27,0,0,1-.36,2.8,7,7,0,0,1-1,2,5.22,5.22,0,0,1-1.75,1.61,4.7,4.7,0,0,1-1.63.56,4.39,4.39,0,0,1-.9,0,3.09,3.09,0,0,1-1.86-.73,1.85,1.85,0,0,1-.36-0.42l-0.08-.1h0Z" transform="translate(-0.48 -0.5)" style="fill:#000"/></svg>
               </a>
           </div>
       </div>
       <div class="clear"></div>
    </div>
    
    
    
<%end%>


<div class="loader_new_art">
    
</div>
