<% if params[:id].blank?%>
    <input type="hidden" class="js-page-object" value="yes">
<% end%>
<% @work.each do |item |%>
    <input type="hidden" class="point_work" marker='<%if not item.marker.blank?%>/system/dragonfly/development/<%=item.marker_uid%><%end%>' coord='<%=item.coordinate%>' value="<%=item.name%>">
<% end %>

<div class="detail_block" style="<% if not params[:id].blank?%>display:block<% end %>">
    <div class="content_detail_block">
        <div class="block_load_detail">
            <% if not params[:id].blank?%>
                <% @page=Work.find(params[:id])%>
                <input type="hidden" class="js-load_detail" value="yes">
                <input type="hidden" class="js-coord-detail" value="<%=@page.coordinate%>">
                
                <div class="title_object">
                    <%=@page.name%>
                    
                    <% if not @page.development.blank?%>
                        (В проекте)
                    <% end %>
                    
                    
                    <% if not @page.href.blank?%>
                        <a href="http://<%=@page.href%>"><%=@page.href%></a>
                    <% end %>
                </div>

                <div class="slider_detail">

                    <% if not @page.panoram.blank?%>
                        <div class="slide">
                            <iframe src="http://1panorama.ru/embed/<%=@page.panoram%>" frameborder="0" scrolling="no" allowfullscreen></iframe>
                        </div>
                    <% end %>
                    <% @page.images.each do |img|%>
                        <a class="gallery_detail" data-fancybox-group="gallery_detail_<%=@page.id%>" href="<%=img.image.url()%>">
                            <div class="slide">
                                <img src="<%=img.image.url()%>" alt="">
                            </div>
                        </a>
                    <% end %>

                    <% @page.visuals.each do |img|%>
                        <a class="gallery_detail" data-fancybox-group="gallery_detail_<%=@page.id%>" href="<%=img.image.url()%>">
                            <div class="slide">
                                <img src="<%=img.image.url()%>" alt="">
                                <div class="slide_info three_d_icon"></div>
                            </div>
                        </a>
                    <% end %>


                </div>
            <% end %>
        </div>
       
    </div>
</div>

<div class="object_block">

    <div class="left_menu"> 
        <a href="/">
            <div class="mini_logo_block_object">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.45 110.06"><title>23123123213</title><path d="M0,42.27A2.25,2.25,0,0,1,2.26,40h2a2.34,2.34,0,0,1,2.36,2.25v0.81c0,3,.59,4.42,1.51,5.17a4,4,0,0,0,2.76.81c2.76,0,4.27-1.13,4.27-4.42,0-2.93-3-5.23-6.24-7.6v0.06C4.54,33.85,0,30.49,0,24.32c0-7,3.87-11.09,10.83-11.09s10.83,4.3,10.83,12.21v0.88a2.25,2.25,0,0,1-2.25,2.25h-2a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V25.44c0-4.11-1.37-6-4.27-6S6.57,20.9,6.57,24.14s3.22,5.63,6.43,8H12.93c4.33,3.17,8.72,6.36,8.72,12.38,0,7-3.87,10.72-10.83,10.72C3.61,55.22,0,51.23,0,43.06V42.27H0Z" transform="translate(0 0)" style="fill:#fff"/><path d="M37.11,38.71L43,15a2.5,2.5,0,0,1,2.25-1.74h1.9A2.25,2.25,0,0,1,49.36,16L40.13,53.48a2.49,2.49,0,0,1-2.25,1.74H36.46a2.36,2.36,0,0,1-2.25-1.74L24.81,16a2.18,2.18,0,0,1,2.25-2.75H29A2.57,2.57,0,0,1,31.22,15Z" transform="translate(0 0)" style="fill:#fff"/><path d="M52.27,25.44c0-7.88,3.61-12.15,10.76-12.15S73.8,17.53,73.8,25.44V43.08c0,4.92-1.37,7.79-3.38,9.73a10.54,10.54,0,0,1-7.34,2.49A10.48,10.48,0,0,1,55.8,52.8c-2-1.94-3.48-4.8-3.48-9.73V25.44h0Zm6.56,17.64c0,4.11,1.37,6,4.2,6s4.2-1.81,4.2-6V25.44c0-4.18-1.37-6-4.2-6s-4.2,1.94-4.2,6V43.08Z" transform="translate(0 0)" style="fill:#fff"/><path d="M95.39,13.29a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12v1.68a2.25,2.25,0,0,1-2.25,2.25H85.34v11.7h8.27A2.25,2.25,0,0,1,96,33.31s0,0.08,0,.12V35.1a2.25,2.25,0,0,1-2.25,2.25H85.34V49.12h10a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12v1.68a2.25,2.25,0,0,1-2.25,2.25H81.21a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V15.48a2.25,2.25,0,0,1,2.25-2.25H95.39v0.07Z" transform="translate(0 0)" style="fill:#fff"/><path d="M2.39,110A2.25,2.25,0,0,1,0,107.9s0-.08,0-0.12V70.25A2.25,2.25,0,0,1,2.28,68H8.89C16.57,68,20,72,20,80a14.15,14.15,0,0,1-2.83,9A13.88,13.88,0,0,1,20,98c0,8-3.38,12-11.09,12H2.39v0ZM6.59,74.2V85.89H8.84c3.22,0,4.5-1.68,4.5-5.85S12,74.18,8.84,74.18H6.59v0Zm0,17.89v11.75H8.84c3.22,0,4.5-1.68,4.5-5.85s-1.24-6-4.46-6H6.64Z" transform="translate(0 0)" style="fill:#fff"/><path d="M24.5,70.19a2.25,2.25,0,0,1,2.25-2.25h1.83a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12V98.54c0,3.3,1,5.23,4.27,5.23s4.27-2.25,4.27-5.23V70.19a2.25,2.25,0,0,1,2.25-2.25h1.83a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12V98.54c0,7-3.15,11.4-10.76,11.4-7.88,0-10.76-4.8-10.76-11.4V70.19H24.5Z" transform="translate(0 0)" style="fill:#fff"/><path d="M72.94,107.7A2.25,2.25,0,0,1,70.69,110h-2a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V97.29c0-3.12-1.83-4.86-5.05-4.86H58.37v15.26a2.25,2.25,0,0,1-2.25,2.25H54.24a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V70.19a2.25,2.25,0,0,1,2.25-2.25h8.39c8.07,0,10.9,3.86,10.9,12.21,0,3.86-.72,7-2.76,8.92l-0.53.5A10.48,10.48,0,0,1,73,97.28v10.41h0ZM58.37,86.14h2.95c3.68,0,5.63-1.74,5.63-6s-1-6-4.4-6H58.37v12Z" transform="translate(0 0)" style="fill:#fff"/><path d="M77.93,80.16C77.93,72.28,81.54,68,88.69,68s10.76,4.23,10.76,12.15V97.8c0,4.92-1.37,7.79-3.38,9.73a12,12,0,0,1-14.63,0c-2-1.94-3.48-4.8-3.48-9.73V80.16h0ZM84.47,97.8c0,4.11,1.37,6,4.2,6s4.2-1.81,4.2-6V80.16c0-4.18-1.37-6-4.2-6s-4.2,1.92-4.2,6V97.8Z" transform="translate(0 0)" style="fill:#fff"/><circle cx="82.53" cy="4.28" r="4.28" style="fill:#fff"/><circle cx="94.98" cy="4.28" r="4.28" style="fill:#fff"/></svg> 
            </div>
        </a>

        <div class="clear"></div>
        <div class="box_object">
            <% @work.each do |item |%>
                <div class="point_object" coord='<%=item.coordinate%>'>
                    <%=item.name%>
                </div>
            <% end %>
            
        </div>
    </div>

    <div class="detail_box">
        
    </div>
    
    
    <div id="big_map">
        <div class="info_object_map">
            РЕАЛИЗУЕМ ПРОЕКТЫ <br/> В ЛЮБОЙ ТОЧКЕ МИРА
        </div>
    </div>
    
</div>

<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>


