<input type="hidden" class="mobile_site_object" value="yes">
<input type="hidden" class="js-load-detail-page" value="<%=params[:id]%>">
<style>
    body{
        background-color: #000;
    }
</style>
<div id='mySwipe' style='max-width:500px;margin:0 auto' class='swipe'>
    <div class='swipe-wrap'>
        <div class="scroll_box_object_mobile">
            <div class="object_block_mobile">
                <div class="head_block">
                    <a href="/">
                        <div class="mini_logo_block">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.45 110.06"><title>23123123213</title><path d="M0,42.27A2.25,2.25,0,0,1,2.26,40h2a2.34,2.34,0,0,1,2.36,2.25v0.81c0,3,.59,4.42,1.51,5.17a4,4,0,0,0,2.76.81c2.76,0,4.27-1.13,4.27-4.42,0-2.93-3-5.23-6.24-7.6v0.06C4.54,33.85,0,30.49,0,24.32c0-7,3.87-11.09,10.83-11.09s10.83,4.3,10.83,12.21v0.88a2.25,2.25,0,0,1-2.25,2.25h-2a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V25.44c0-4.11-1.37-6-4.27-6S6.57,20.9,6.57,24.14s3.22,5.63,6.43,8H12.93c4.33,3.17,8.72,6.36,8.72,12.38,0,7-3.87,10.72-10.83,10.72C3.61,55.22,0,51.23,0,43.06V42.27H0Z" transform="translate(0 0)" style="fill:#fff"/><path d="M37.11,38.71L43,15a2.5,2.5,0,0,1,2.25-1.74h1.9A2.25,2.25,0,0,1,49.36,16L40.13,53.48a2.49,2.49,0,0,1-2.25,1.74H36.46a2.36,2.36,0,0,1-2.25-1.74L24.81,16a2.18,2.18,0,0,1,2.25-2.75H29A2.57,2.57,0,0,1,31.22,15Z" transform="translate(0 0)" style="fill:#fff"/><path d="M52.27,25.44c0-7.88,3.61-12.15,10.76-12.15S73.8,17.53,73.8,25.44V43.08c0,4.92-1.37,7.79-3.38,9.73a10.54,10.54,0,0,1-7.34,2.49A10.48,10.48,0,0,1,55.8,52.8c-2-1.94-3.48-4.8-3.48-9.73V25.44h0Zm6.56,17.64c0,4.11,1.37,6,4.2,6s4.2-1.81,4.2-6V25.44c0-4.18-1.37-6-4.2-6s-4.2,1.94-4.2,6V43.08Z" transform="translate(0 0)" style="fill:#fff"/><path d="M95.39,13.29a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12v1.68a2.25,2.25,0,0,1-2.25,2.25H85.34v11.7h8.27A2.25,2.25,0,0,1,96,33.31s0,0.08,0,.12V35.1a2.25,2.25,0,0,1-2.25,2.25H85.34V49.12h10a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12v1.68a2.25,2.25,0,0,1-2.25,2.25H81.21a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V15.48a2.25,2.25,0,0,1,2.25-2.25H95.39v0.07Z" transform="translate(0 0)" style="fill:#fff"/><path d="M2.39,110A2.25,2.25,0,0,1,0,107.9s0-.08,0-0.12V70.25A2.25,2.25,0,0,1,2.28,68H8.89C16.57,68,20,72,20,80a14.15,14.15,0,0,1-2.83,9A13.88,13.88,0,0,1,20,98c0,8-3.38,12-11.09,12H2.39v0ZM6.59,74.2V85.89H8.84c3.22,0,4.5-1.68,4.5-5.85S12,74.18,8.84,74.18H6.59v0Zm0,17.89v11.75H8.84c3.22,0,4.5-1.68,4.5-5.85s-1.24-6-4.46-6H6.64Z" transform="translate(0 0)" style="fill:#fff"/><path d="M24.5,70.19a2.25,2.25,0,0,1,2.25-2.25h1.83a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12V98.54c0,3.3,1,5.23,4.27,5.23s4.27-2.25,4.27-5.23V70.19a2.25,2.25,0,0,1,2.25-2.25h1.83a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12V98.54c0,7-3.15,11.4-10.76,11.4-7.88,0-10.76-4.8-10.76-11.4V70.19H24.5Z" transform="translate(0 0)" style="fill:#fff"/><path d="M72.94,107.7A2.25,2.25,0,0,1,70.69,110h-2a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V97.29c0-3.12-1.83-4.86-5.05-4.86H58.37v15.26a2.25,2.25,0,0,1-2.25,2.25H54.24a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V70.19a2.25,2.25,0,0,1,2.25-2.25h8.39c8.07,0,10.9,3.86,10.9,12.21,0,3.86-.72,7-2.76,8.92l-0.53.5A10.48,10.48,0,0,1,73,97.28v10.41h0ZM58.37,86.14h2.95c3.68,0,5.63-1.74,5.63-6s-1-6-4.4-6H58.37v12Z" transform="translate(0 0)" style="fill:#fff"/><path d="M77.93,80.16C77.93,72.28,81.54,68,88.69,68s10.76,4.23,10.76,12.15V97.8c0,4.92-1.37,7.79-3.38,9.73a12,12,0,0,1-14.63,0c-2-1.94-3.48-4.8-3.48-9.73V80.16h0ZM84.47,97.8c0,4.11,1.37,6,4.2,6s4.2-1.81,4.2-6V80.16c0-4.18-1.37-6-4.2-6s-4.2,1.92-4.2,6V97.8Z" transform="translate(0 0)" style="fill:#fff"/><circle cx="82.53" cy="4.28" r="4.28" style="fill:#fff"/><circle cx="94.98" cy="4.28" r="4.28" style="fill:#fff"/></svg> 
                        </div>

                        <div class="title_page">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 40"><path d="M15.67,37.63a6.09,6.09,0,0,1-4.39-1.54C10,34.87,9.15,32.93,9.15,29.54V15.2c0-3.3.86-5.38,2.13-6.56a6.25,6.25,0,0,1,4.39-1.49A6.21,6.21,0,0,1,20,8.64c1.27,1.18,2.13,3.26,2.13,6.56v0.72H20.69V15.2c0-4.66-1.76-6.65-5-6.65s-5.07,2-5.07,6.65V29.54c0,4.66,1.67,6.69,5.07,6.69a4.62,4.62,0,0,0,3.75-1.58,8.34,8.34,0,0,0,1.27-5.11V28.81h1.45v0.72c0,3.39-.86,5.34-2.13,6.56A6.05,6.05,0,0,1,15.67,37.63Z" style="fill:#eee"/><path d="M36.38,28.31H28.33l-2.08,9.32H24.8L27.2,27V26.91L31.81,7.15h1.13l7,30.48H38.46Zm-7.69-1.4h7.37L32.36,11Z" style="fill:#eee"/><path d="M53.34,7.15v1.4H43.8V21.67h9.54v1.4H43.8V37.63H42.4V7.15H53.34Z" style="fill:#eee"/><path d="M67.41,7.15v1.4H57.87V21.67h9.54v1.4H57.87V36.23h9.54v1.4H56.46V7.15H67.41Z" style="fill:#eee"/><path d="M86,37.63c-4.21,0-6.83-3.21-6.83-7.51a7.91,7.91,0,0,1,1.36-4.66,17.2,17.2,0,0,1,3-3c0.23-.23.5-0.5,0.77-0.72L85.14,21a22.48,22.48,0,0,1-1.76-3.21,11.37,11.37,0,0,1-1.18-4.48A10.12,10.12,0,0,1,83,8.91,3.25,3.25,0,0,1,86,7.15a3.2,3.2,0,0,1,3.21,2.08,10.74,10.74,0,0,1,.63,4.12,12.72,12.72,0,0,1-1.13,5.25,11,11,0,0,1-1.81,2.67l5.92,10.18a19.76,19.76,0,0,0,.9-6.83V24.15h1.45v0.45a20.06,20.06,0,0,1-1.4,8.28v0s0,0,0,0l2.71,4.66H94.86L93,34.37A7.92,7.92,0,0,1,86,37.63ZM84.46,23.52a14,14,0,0,0-2.71,2.71,6.31,6.31,0,0,0-1.13,3.89,6.85,6.85,0,0,0,1.31,4.21A5.06,5.06,0,0,0,86,36.23,6.59,6.59,0,0,0,92.15,33L85.86,22.3a7.83,7.83,0,0,1-.68.59C85,23.11,84.69,23.29,84.46,23.52ZM83.65,13.34a9.6,9.6,0,0,0,.95,3.75A21.11,21.11,0,0,0,86.13,20a7.14,7.14,0,0,0,.9-1.22,10.38,10.38,0,0,0,1.4-5.47,8.88,8.88,0,0,0-.63-3.89A1.81,1.81,0,0,0,86,8.55a1.72,1.72,0,0,0-1.67.81A7.9,7.9,0,0,0,83.65,13.34Z" style="fill:#eee"/><path d="M119.2,23.75a7.09,7.09,0,0,1,2,5.38v8.46h-1.45V29.13c0-3.66-2.08-5.79-5.7-5.79H110V37.59h-1.4V7.1h5.47c4.88,0,7.06,2.53,7.06,8.1,0,2.71-.54,4.75-1.67,6.06a5.56,5.56,0,0,1-1.81,1.4A5.27,5.27,0,0,1,119.2,23.75ZM110,21.89h4.07c4,0,5.65-2,5.65-6.69s-1.63-6.65-5.65-6.65H110V21.89Z" style="fill:#eee"/><path d="M135.25,7.15v1.4h-9.54V21.67h9.54v1.4h-9.54V36.23h9.54v1.4H124.31V7.15h10.95Z" style="fill:#eee"/><path d="M144.53,37.59c-4.34,0-6.51-2.67-6.51-8.05V28.86h1.4v0.68c0,3,.77,4.66,1.76,5.56a4.8,4.8,0,0,0,3.35,1.08c3.26,0,5.11-2.4,5.11-6.42a5.91,5.91,0,0,0-1.9-4.57,11.22,11.22,0,0,0-3.08-1.76l-0.77-.32a10,10,0,0,1-3.57-2.26A7.48,7.48,0,0,1,138,15.2c0-4.57,2.35-8.1,6.51-8.1s6.56,2.85,6.56,8.1v0.72h-1.45V15.2c0-4.57-1.67-6.65-5.11-6.65-3.26,0-5.11,2.71-5.11,6.65a6.11,6.11,0,0,0,1.9,4.66,9.1,9.1,0,0,0,3.17,1.94l0.72,0.32a11,11,0,0,1,3.53,2,7.32,7.32,0,0,1,2.35,5.61C151.08,34.28,148.73,37.59,144.53,37.59Z" style="fill:#eee"/><path d="M153.53,7.1h16V8.55h-7.33v29h-1.4v-29h-7.28V7.1Z" style="fill:#eee"/><path d="M183.47,28.31h-8.05l-2.08,9.32h-1.45L174.29,27V26.91L178.9,7.15H180l7,30.48h-1.45Zm-7.69-1.4h7.37L179.44,11Z" style="fill:#eee"/><path d="M195.55,37.59a5.71,5.71,0,0,1-4-1.4c-1.18-1.08-2-3-2-6.06V7.1h1.4v23c0,2.71.68,4.21,1.58,5.07a5.18,5.18,0,0,0,6.11,0c0.9-.86,1.58-2.35,1.58-5.07V7.1h1.4v23c0,3.08-.86,5-2,6.06A5.79,5.79,0,0,1,195.55,37.59Z" style="fill:#eee"/><path d="M216,23.75a7.09,7.09,0,0,1,2,5.38v8.46h-1.45V29.13c0-3.66-2.08-5.79-5.7-5.79h-4.07V37.59h-1.4V7.1h5.47c4.88,0,7.06,2.53,7.06,8.1,0,2.71-.54,4.75-1.67,6.06a5.56,5.56,0,0,1-1.81,1.4A5.29,5.29,0,0,1,216,23.75Zm-9.18-1.85h4.07c4,0,5.65-2,5.65-6.69s-1.63-6.65-5.65-6.65h-4.07V21.89Z" style="fill:#eee"/><path d="M232.68,28.31h-8.05l-2.08,9.32H221.1L223.5,27V26.91l4.61-19.76h1.13l7,30.48h-1.45ZM225,26.91h7.37L228.65,11Z" style="fill:#eee"/><path d="M250.77,37.63l-10.54-26.1v26.1h-1.45V7.15H240l10.49,26.1V7.15h1.45V37.63h-1.18Z" style="fill:#eee"/><path d="M254.89,7.1h16V8.55h-7.33v29h-1.4v-29h-7.28V7.1Z" style="fill:#eee"/><path d="M279.76,37.59c-4.34,0-6.51-2.67-6.51-8.05V28.86h1.4v0.68c0,3,.77,4.66,1.76,5.56a4.81,4.81,0,0,0,3.35,1.08c3.26,0,5.11-2.4,5.11-6.42a5.91,5.91,0,0,0-1.9-4.57,11.21,11.21,0,0,0-3.08-1.76l-0.77-.32a10,10,0,0,1-3.57-2.26,7.48,7.48,0,0,1-2.31-5.65c0-4.57,2.35-8.1,6.51-8.1s6.56,2.85,6.56,8.1v0.72h-1.45V15.2c0-4.57-1.67-6.65-5.11-6.65-3.26,0-5.11,2.71-5.11,6.65a6.11,6.11,0,0,0,1.9,4.66,9.09,9.09,0,0,0,3.17,1.94l0.72,0.32a11,11,0,0,1,3.53,2,7.31,7.31,0,0,1,2.35,5.61C286.32,34.28,284,37.59,279.76,37.59Z" style="fill:#eee"/></svg>    
                        </div>
                    </a>
                    <div class="clear"></div>
                    <div class="content" style="position:relative">

                        <div class="box_object_mobile" >
                            <% @work.each do |item |%>
                                <div class="point_object_mobile" onclick='mySwipe.next()' id='<%=item.id%>'>
                                    <%=item.name%>
                                </div>
                            <% end %>

                        </div>

                        <div class="copyright copyright_white">
                            © Mayakovsky, 2016-2018
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="scroll_box_object_detail_mobile">



        </div>
    </div>
</div>


