<div class="team_block">
    <div class="head_block">
        <a href="/">
            <div class="mini_logo_block">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.45 110.06"><title>23123123213</title><path d="M0,42.27A2.25,2.25,0,0,1,2.26,40h2a2.34,2.34,0,0,1,2.36,2.25v0.81c0,3,.59,4.42,1.51,5.17a4,4,0,0,0,2.76.81c2.76,0,4.27-1.13,4.27-4.42,0-2.93-3-5.23-6.24-7.6v0.06C4.54,33.85,0,30.49,0,24.32c0-7,3.87-11.09,10.83-11.09s10.83,4.3,10.83,12.21v0.88a2.25,2.25,0,0,1-2.25,2.25h-2a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V25.44c0-4.11-1.37-6-4.27-6S6.57,20.9,6.57,24.14s3.22,5.63,6.43,8H12.93c4.33,3.17,8.72,6.36,8.72,12.38,0,7-3.87,10.72-10.83,10.72C3.61,55.22,0,51.23,0,43.06V42.27H0Z" transform="translate(0 0)" style="fill:#fff"/><path d="M37.11,38.71L43,15a2.5,2.5,0,0,1,2.25-1.74h1.9A2.25,2.25,0,0,1,49.36,16L40.13,53.48a2.49,2.49,0,0,1-2.25,1.74H36.46a2.36,2.36,0,0,1-2.25-1.74L24.81,16a2.18,2.18,0,0,1,2.25-2.75H29A2.57,2.57,0,0,1,31.22,15Z" transform="translate(0 0)" style="fill:#fff"/><path d="M52.27,25.44c0-7.88,3.61-12.15,10.76-12.15S73.8,17.53,73.8,25.44V43.08c0,4.92-1.37,7.79-3.38,9.73a10.54,10.54,0,0,1-7.34,2.49A10.48,10.48,0,0,1,55.8,52.8c-2-1.94-3.48-4.8-3.48-9.73V25.44h0Zm6.56,17.64c0,4.11,1.37,6,4.2,6s4.2-1.81,4.2-6V25.44c0-4.18-1.37-6-4.2-6s-4.2,1.94-4.2,6V43.08Z" transform="translate(0 0)" style="fill:#fff"/><path d="M95.39,13.29a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12v1.68a2.25,2.25,0,0,1-2.25,2.25H85.34v11.7h8.27A2.25,2.25,0,0,1,96,33.31s0,0.08,0,.12V35.1a2.25,2.25,0,0,1-2.25,2.25H85.34V49.12h10a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12v1.68a2.25,2.25,0,0,1-2.25,2.25H81.21a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V15.48a2.25,2.25,0,0,1,2.25-2.25H95.39v0.07Z" transform="translate(0 0)" style="fill:#fff"/><path d="M2.39,110A2.25,2.25,0,0,1,0,107.9s0-.08,0-0.12V70.25A2.25,2.25,0,0,1,2.28,68H8.89C16.57,68,20,72,20,80a14.15,14.15,0,0,1-2.83,9A13.88,13.88,0,0,1,20,98c0,8-3.38,12-11.09,12H2.39v0ZM6.59,74.2V85.89H8.84c3.22,0,4.5-1.68,4.5-5.85S12,74.18,8.84,74.18H6.59v0Zm0,17.89v11.75H8.84c3.22,0,4.5-1.68,4.5-5.85s-1.24-6-4.46-6H6.64Z" transform="translate(0 0)" style="fill:#fff"/><path d="M24.5,70.19a2.25,2.25,0,0,1,2.25-2.25h1.83a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12V98.54c0,3.3,1,5.23,4.27,5.23s4.27-2.25,4.27-5.23V70.19a2.25,2.25,0,0,1,2.25-2.25h1.83a2.25,2.25,0,0,1,2.36,2.14s0,0.08,0,.12V98.54c0,7-3.15,11.4-10.76,11.4-7.88,0-10.76-4.8-10.76-11.4V70.19H24.5Z" transform="translate(0 0)" style="fill:#fff"/><path d="M72.94,107.7A2.25,2.25,0,0,1,70.69,110h-2a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V97.29c0-3.12-1.83-4.86-5.05-4.86H58.37v15.26a2.25,2.25,0,0,1-2.25,2.25H54.24a2.25,2.25,0,0,1-2.36-2.14s0-.08,0-0.12V70.19a2.25,2.25,0,0,1,2.25-2.25h8.39c8.07,0,10.9,3.86,10.9,12.21,0,3.86-.72,7-2.76,8.92l-0.53.5A10.48,10.48,0,0,1,73,97.28v10.41h0ZM58.37,86.14h2.95c3.68,0,5.63-1.74,5.63-6s-1-6-4.4-6H58.37v12Z" transform="translate(0 0)" style="fill:#fff"/><path d="M77.93,80.16C77.93,72.28,81.54,68,88.69,68s10.76,4.23,10.76,12.15V97.8c0,4.92-1.37,7.79-3.38,9.73a12,12,0,0,1-14.63,0c-2-1.94-3.48-4.8-3.48-9.73V80.16h0ZM84.47,97.8c0,4.11,1.37,6,4.2,6s4.2-1.81,4.2-6V80.16c0-4.18-1.37-6-4.2-6s-4.2,1.92-4.2,6V97.8Z" transform="translate(0 0)" style="fill:#fff"/><circle cx="82.53" cy="4.28" r="4.28" style="fill:#fff"/><circle cx="94.98" cy="4.28" r="4.28" style="fill:#fff"/></svg>
            </div>

            <div class="title_page">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 40"><title>team-01</title><path d="M0.22,7.16H16.14V8.6H8.86V37.47H7.46V8.6H0.22V7.16Z" style="fill:#eee"/><path d="M29.36,7.2V8.6H19.88v13h9.49V23H19.88V36.12h9.49v1.39H18.48V7.2H29.36Z" style="fill:#eee"/><path d="M43.62,28.25h-8l-2.07,9.26H32.11L34.49,27V26.85L39.08,7.2H40.2l6.92,30.31H45.69ZM36,26.85h7.3L39.62,11Z" style="fill:#eee"/><path d="M58,37.51L51,13V37.51H49.6V7.2h1.21l7.78,27,7.73-27h1.26V37.51H66.15V13l-7,24.55H58v0Z" style="fill:#eee"/></svg>
            </div>
        </a>
        <div class="clear"></div>
        <div class="content" style="position:relative">

           <div class="block_team_box">

                <% @team.each_with_index do |item,index|
                  index=index+1%>
                    <div class="point_team point_team_<%=item.id%> <% if index==1 or index==4%>center_point_team<%end%>" id="4">
                        <div class="info_team_detail">
                            <i class="fa fa-close close_team close_info_team"></i>
                            <div class="avatar_team_detail" style="background-image:url(<%=item.avatar.url()%>)" ></div>
                            <div class="info_team_text">
                                <div class="name_team_detail"><%=item.name%></div>
                                <%=item.occupation%>
                                <%=raw item.detail%>
                            </div>

                        </div>
                        <div class="avatar_team" style="background-image:url(<%=item.avatar.url()%>)" ></div>
                        <div class="name_team"><%=item.name%></div>
                        <div class="info_team"><%=item.occupation%></div>
                    </div>
                    <% if index%4==0%>
                      <div class="clear"></div>
                    <% end %>
                <% end %>


                <div class="mobile_team">
                    <% @team.each_with_index do |item,index| %>
                        <div class="point_team point_team_<%=item.id%> <% if index==1 or index==4%>center_point_team<%end%>" id="4">
                            <div class="info_team_detail">
                                <i class="fa fa-close close_team close_info_team"></i>
                                <div class="avatar_team_detail" style="background-image:url(<%=item.avatar.url()%>)" ></div>
                                <div class="info_team_text">
                                    <div class="name_team_detail"><%=item.name%></div>
                                    <%=item.occupation%>
                                    <%=raw item.detail%>
                                </div>

                            </div>
                            <div class="avatar_team" style="background-image:url(<%=item.avatar.url()%>)" ></div>
                            <div class="name_team"><%=item.name%></div>
                            <div class="info_team"><%=item.occupation%></div>
                        </div>
                    <% end %>
                </div>

                <div class="clear_mobile"></div>
                <div class="block_team_mobile">
                  <div class="point_team point_info_team_content" id="5">
                      <div class="info_team_content">
                          <p>
                              <b>Мы проектируем рестораны, <br/> потому что умеем и любим!</b>
                          </p><p>
              Считаем интерьер ресторана важным маркетинговым инструментом для привлечения денег. И в тот самый момент, когда в наших ресторанах полная посадка, мы понимаем, что все делаем правильно!
                          </p>
                      </div>
                  </div>
                </div>

            </div>



            <div class="clear"></div>



            <div class="title_page big_title_page">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 40"><title>contact</title><path d="M7.54,37.51A6.06,6.06,0,0,1,3.18,36c-1.26-1.21-2.11-3.15-2.11-6.52V15.21c0-3.28.85-5.35,2.11-6.52a7.09,7.09,0,0,1,8.68,0C13.12,9.86,14,11.93,14,15.21v0.72H12.53V15.21c0-4.63-1.75-6.61-5-6.61s-5,2-5,6.61V29.46c0,4.63,1.66,6.66,5,6.66a4.6,4.6,0,0,0,3.73-1.57,8.29,8.29,0,0,0,1.26-5.08V28.74H14v0.72c0,3.37-.85,5.31-2.11,6.52A6,6,0,0,1,7.54,37.51Z" style="fill:#eee"/><path d="M23,37.51A6,6,0,0,1,18.74,36c-1.26-1.21-2.11-3.15-2.11-6.52V15.21c0-5.17,2.16-8,6.43-8s6.48,2.79,6.48,8V29.46c0,3.37-.85,5.31-2.11,6.52A6.06,6.06,0,0,1,23,37.51ZM23,8.6c-3.42,0-5,2.11-5,6.61V29.46c0,4.54,1.66,6.66,5,6.66s5-2,5-6.66V15.21C28.09,10.58,26.42,8.6,23,8.6Z" style="fill:#eee"/><path d="M44.5,37.51L34,11.56V37.51H32.58V7.2h1.21l10.43,26V7.2h1.44V37.51H44.5Z" style="fill:#eee"/><path d="M48.59,7.16H64.51V8.6H57.22V37.47H55.83V8.6H48.59V7.16Z" style="fill:#eee"/><path d="M78.36,28.25h-8l-2.07,9.26H66.85L69.23,27V26.85L73.82,7.2H75L81.9,37.51H80.46Zm-7.64-1.39H78L74.36,11Z" style="fill:#eee"/><path d="M90.86,37.51A6,6,0,0,1,86.5,36c-1.26-1.21-2.12-3.15-2.12-6.52V15.21c0-3.28.86-5.35,2.12-6.52a7.09,7.09,0,0,1,8.68,0c1.26,1.17,2.11,3.24,2.11,6.52v0.72H95.85V15.21c0-4.63-1.75-6.61-5-6.61s-5,2-5,6.61V29.46c0,4.63,1.66,6.66,5,6.66a4.6,4.6,0,0,0,3.73-1.57,8.3,8.3,0,0,0,1.26-5.08V28.74h1.44v0.72c0,3.37-.85,5.31-2.11,6.52A6,6,0,0,1,90.86,37.51Z" style="fill:#eee"/><path d="M99.72,7.16h15.92V8.6h-7.29V37.47H107V8.6H99.73V7.16h0Z" style="fill:#eee"/><path d="M133.31,37.47a5.68,5.68,0,0,1-4-1.39c-1.17-1.08-2-3-2-6V7.16h1.39V30c0,2.7.67,4.18,1.57,5a5.15,5.15,0,0,0,6.07,0c0.9-.85,1.57-2.34,1.57-5V7.16h1.39V30c0,3.06-.85,5-2,6A5.74,5.74,0,0,1,133.31,37.47Z" style="fill:#eee"/><path d="M149.55,37.47c-4.32,0-6.47-2.65-6.47-8V28.79h1.39v0.67c0,3,.76,4.63,1.75,5.53a4.77,4.77,0,0,0,3.33,1.08c3.24,0,5.08-2.38,5.08-6.38a5.88,5.88,0,0,0-1.89-4.54,11.17,11.17,0,0,0-3.06-1.75l-0.76-.31a9.9,9.9,0,0,1-3.55-2.25,7.44,7.44,0,0,1-2.29-5.62c0-4.54,2.34-8,6.47-8s6.52,2.83,6.52,8v0.72h-1.44V15.21c0-4.54-1.66-6.61-5.08-6.61-3.24,0-5.08,2.7-5.08,6.61a6.07,6.07,0,0,0,1.89,4.63,9,9,0,0,0,3.15,1.93l0.72,0.31a10.92,10.92,0,0,1,3.51,2,7.28,7.28,0,0,1,2.34,5.58C156.07,34.18,153.73,37.47,149.55,37.47Z" style="fill:#eee"/></svg>
            </div>

            <div class="clear"></div>
            <div class="block_contact">

                <p class="gray_contact">
                    <i class="fa fa-map-marker"></i> Москва, Чистопрудный бульвар, д.9
                </p>
                <p class="gray_contact">
                    <i class="fa fa-envelope"></i> <a href="mailto:j@svoeburo.com">j@svoeburo.com</a>
                </p>
                <p>
                    <i class="fa fa-phone"></i>+7 905 541-76-99
                </p>
            </div>

            <div class="block_contact block_contact_mobile">

                <p class="gray_contact">
                    <i class="fa fa-map-marker"></i> Москва, Чистопрудный бульвар, д.9
                </p>
                <p class="gray_contact">
                    <i class="fa fa-envelope"></i> <a href="mailto:j@svoeburo.com">j@svoeburo.com</a>
                </p>
                <p>
                    <i class="fa fa-phone"></i>+7 905 541-76-99
                </p>

            </div>

            <div class="block_social_contact">
                <a target="_blank" href="https://www.facebook.com/svoeburo/?pnref=story" class="point_social">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.92 29.92"><title>FaceBook</title><path d="M21.44,9.58h3.68V5H21.44a5.76,5.76,0,0,0-5.51,6v2.3H12.25v4.56h3.67V28.92h4.59V17.86h4.59V13.3H20.52V11A1.26,1.26,0,0,1,21.44,9.58Z" transform="translate(0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:1px"/><path d="M24.24,1H5.63A4.67,4.67,0,0,0,1,5.65V24.26a4.67,4.67,0,0,0,4.65,4.65H24.24a4.66,4.66,0,0,0,4.65-4.65V5.65A4.67,4.67,0,0,0,24.24,1h0Z" transform="translate(0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:1px"/></svg>
                </a>
                <a target="_blank" href="https://www.instagram.com/svoeburo/" class="point_social">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.89 28.91"><title>Instagram</title><path d="M23.76,0.5H5.15A4.67,4.67,0,0,0,.52,5.15V23.76a4.67,4.67,0,0,0,4.65,4.65H23.76a4.66,4.66,0,0,0,4.65-4.65V5.15A4.67,4.67,0,0,0,23.76.5h0Z" transform="translate(-0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><line x1="0.5" y1="9.67" x2="8.98" y2="9.67" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><line x1="3.28" y1="0.9" x2="3.28" y2="7.73" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><line x1="5.42" y1="0.9" x2="5.42" y2="7.73" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><line x1="7.35" y1="0.9" x2="7.35" y2="7.73" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><rect x="20.97" y="3.59" width="3.18" height="3.18" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><circle cx="14.44" cy="13.73" r="3.5" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><circle cx="14.44" cy="13.73" r="6.95" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><line x1="19.91" y1="9.67" x2="28.39" y2="9.67" style="fill:none;stroke:#fff;stroke-miterlimit:10"/></svg>
                </a>
                <a target="_blank" href="https://new.vk.com/svoeburoja">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.89 28.91"><title>Вконтакте</title><path d="M23.76,0.5H5.15A4.67,4.67,0,0,0,.52,5.15V23.76a4.67,4.67,0,0,0,4.65,4.65H23.76a4.66,4.66,0,0,0,4.65-4.65V5.15A4.67,4.67,0,0,0,23.76.5h0Z" transform="translate(-0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/><path d="M20.38,14.79c-1.29-1-3.29-.51-1.84-0.9s2.16-2.27,2.16-3.68A3.46,3.46,0,0,0,17,6.64H8.71v16.3h8a4.92,4.92,0,0,0,5.09-4.43C21.83,17,21.68,15.81,20.38,14.79ZM12.78,9.5h2.27a1.52,1.52,0,0,1,1.63,1.63,1.65,1.65,0,0,1-1.82,1.82H12.78V9.5ZM15.4,20H12.78V15.69h2.87a1.91,1.91,0,0,1,2.05,2.05A2.08,2.08,0,0,1,15.4,20Z" transform="translate(-0.02 0)" style="fill:none;stroke:#fff;stroke-miterlimit:10"/></svg>
                </a>
            </div>
            <div class="clear"></div>

            <div class="profile_list">
                <a target="_blank" href="http://archiprofi.ru/user/evgeniya-ananicheva--/">
                    <img height="30px" src="/img/logo-arch.png" alt="">
                </a>
                <br/>
                <a target="_blank" href="http://www.houzz.ru/pro/svoeburo/evgeniya-ananicheva">
                    <img height="50px" src="/img/houzz-logo.png" alt="">
                </a>
            </div>



            <form action="" class="form_contact">
                <div class="title_form">
                    Обратная связь
                </div>
                <input type="text" name="name" placeholder="Имя">
                <input type="tel" name="phone" placeholder="Телефон">
                <input type="tel" name="email" placeholder="E-mail">
                <textarea name="message" id="" cols="30" rows="10" placeholder="Текст сообщения"></textarea>
                <div class="button_send">
                    Отправить
                </div>
            </form>


            <div class="clear"></div>

        </div>


        <div class="copyright copyright_white">
            © Mayakovsky, 2016-2018
        </div>





    </div>

</div>
