@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: "Lato-Light";
    src: url("/fonts/Lato-Light.eot");
    src: url("/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"),
         url("/fonts/Lato-Light.woff") format("woff"),
         url("/fonts/Lato-Light.ttf") format("truetype"),
         url("/fonts/Lato-Light.svg#false") format("svg");
    font-weight: false;
    font-style: false;
}


@font-face {
    font-family: ostrich-sans-heavy;
    src: url("/fonts/ostrich-sans-heavy.eot");
    src: url("/fonts/ostrich-sans-heavy.eot?#iefix") format("embedded-opentype"),
         url("/fonts/ostrich-sans-heavy.woff") format("woff"),
         url("/fonts/ostrich-sans-heavy.ttf") format("truetype"),
         url("/fonts/ostrich-sans-heavy.svg#false") format("svg");
    font-weight: false;
    font-style: false;
}


@font-face {
    font-family: Pharmadin; /* имя шрифта для CSS правил */
    src: local("Pharmadin"), /* проверяем наличие шрифта в ОС пользователя */
         url(/fonts/Pharmadin.otf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
    font-family: ostrich-sans-medium;
    src: url("/fonts/ostrich-sans-medium.eot");
    src: url("/fonts/ostrich-sans-medium.eot?#iefix") format("embedded-opentype"),
         url("/fonts/ostrich-sans-medium.woff") format("woff"),
         url("/fonts/ostrich-sans-medium.ttf") format("truetype"),
         url("/fonts/ostrich-sans-medium.svg#false") format("svg");
    font-weight: false;
    font-style: false;
}
.font-title{
    font-family: ostrich-sans-medium;
}

@font-face {
    font-family: Arial_Narrow; /* имя шрифта для CSS правил */
    src: local("Arial Narrow"), /* проверяем наличие шрифта в ОС пользователя */
         url(/fonts/Arial_Narrow.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}



BODY{
    margin:0px auto;
    font-family: Arial_Narrow;
    line-height: 1;
    overflow-x: hidden;
}

.content_mobile{
    width: 330px;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
}
.content{
    width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px auto;
}

input,textarea{
    font-family: Arial_Narrow;
    outline: none;
    resize: none;
    box-shadow: none;
    border-radius: 0px;
}

.clear{
    clear: both;
}

.placebo{
    height: 200px;
}

.main_block{
    position: absolute;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}
.main_block:hover{
    z-index: 11;
}
.main_block:hover .box_black_logo{
    display: block;
}
.left_top{
    width: 50%;
    height: 48%;
    left: 0px;
    top: 0px;
}
.left_top:hover{
    background: #006666;
}

.right_top{
    width: 50%;
    height: 48%;
    right: 0px;
    top: 0px;
}
.right_top:hover{
    background: #000;
}



.left_bottom{
    width: 50%;
    height: 52%;
    left: 0px;
    bottom: 0px;
}
.left_bottom:hover{
    background: #660033;
}

.right_bottom{
    width: 50%;
    height: 52%;
    right: 0px;
    bottom: 0px;
}
.right_bottom:hover{
    background: #330066;
}
.js-open-logo{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 0;
}
.main_logo{
    position: absolute;
    width: 150px;
    height: 180px;
    top: calc(48% - 90px);
    left: calc(50% - 75px);
    z-index: 10;
    transition: 0.3s;
}
.main_logo_mobile{
    width: 100px;
    height: 120px;
    left: calc(50% - 50px);
    top: calc(48% - 60px);
}
.box_black_logo{
    position: absolute;
    width: 150px;
    height: 180px;
    display: none;
}
.box_black_logo_mobile .box_black_logo{
    width: 100px;
    height: 120px;
}
.logo_left_top{
    right: -75px;
    bottom: -90px;
}
.box_black_logo_mobile .logo_left_top{
    right: -50px;
    bottom: -60px;
}
.main_block_mobile{
    display: none;
}
.main_block_mobile .name_menu{
    width: 130px;
    left: calc(50% - 65px);
}

.logo_right_top{
    left: -75px;
    bottom: -90px;
}
.box_black_logo_mobile .logo_right_top{
    left: -50px;
    bottom: -60px;
}
.logo_left_bottom{
    right: -75px;
    top: -90px;
}
.box_black_logo_mobile .logo_left_bottom{
    right: -50px;
    top: -60px;
}
.logo_right_bottom{
    left: -75px;
    top: -90px;
}
.box_black_logo_mobile .logo_right_bottom{
    left: -50px;
    top: -60px;
}

.name_menu{
    width: 225px;
    height: 30px;
    position: absolute;
    left: calc(50% - 110px);
    top: calc(50% - 20px);
}
.block_social{
    position: absolute;
    z-index: 22;
    left: 20px;
    bottom: 20px;
}
.block_social svg{
    width: 20px;
}

.block_social_contact{
    float: left;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.block_social_contact a{
    display: block;
    margin-right: 30px;
}
.block_social_contact svg{
    width: 30px;
}
.point_social{
    float: left;
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 10px;
}

.descr_main{
    position: absolute;
    z-index: 22;
    bottom: 20px;
    width: 300px;
    left: -webkit-calc(50% - 150px);
    left: calc(50% - 150px);
    font-size: 22px;
    color: #000;
    cursor: pointer;
    text-align: center;
    font-family: ostrich-sans-medium;
}
/*
.descr_main:hover{
    color: #000 !important;
}
*/

.contact_main{
    position: absolute;
    left:calc(50% - 145px);
    width:250px;
    background:#FFF;
    bottom: 50px;
    color:#000;
    text-align:left;
    padding:20px;
    line-height:30px;
    z-index: 5;
}
.contact_main a{
    color:#000;
    text-decoration:none;
    margin-left:10px;
}
.close_main_contact{
    position: absolute;
    color:#000;
    right:0px;
    top:0px;
    cursor: pointer;
}
.box_contact_main{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 6;
    background: #FFF;
}
.back_white_contact_us{
    display: none;
}
/*ART*/

.art_block{
    position: relative;
    background: #FFF;
    overflow: hidden;
}
.main_art{
    width: 100%;
    background: #330066;
    position: relative;
}
.main_art_mobile{
    display: none;
}


.logo_art{
    width: 80px;
    height: 80px;
    margin: 40px auto;
}
.box_ugol_art{
    width: 30px;
    margin: 80px auto;
    cursor: pointer;
    position: relative;
}
.one_ugol{
    border: 15px solid transparent;
    border-top: 22.5px solid #fff;
    position: relative;
    z-index: 1;
}
.two_ugol{
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 0px;
    border: 15px solid transparent;
    border-top: 22.5px solid #660033;
}
.news_block{
    position: relative;
    background: #660033;
    overflow: hidden;
}
.point_art{
    width:250px;
    height:250px;
    background-size:cover;
    float:left;
    position: relative;
    overflow: hidden;
}
.point_art_1{
    width:445px;
    height:445px;
    margin-right:5px
}
.point_art_2,.point_art_6{
    margin-right:10px;
    height:217.5px
}
.point_art_2{
    width:217.5px;
    margin-bottom:10px
}
.point_art_3{
    width:217.5px;
    height:217.5px;
    margin-bottom:10px
}
.point_art_4,.point_art_5{
    width:217.5px;
    height:217.5px
}
.point_art_5{
    float: right;
}
.point_art_6{
    width:217.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.point_art_7{
    margin-top: 10px;
    width:672.5px;
    height:217.5px;
    margin-bottom: 10px;
}
.point_art_10,.point_art_8,.point_art_9{
    margin-right:10px;
    width:217.5px;
    height:217.5px
}
.point_art_11{
    width:217.5px;
    height:217.5px
}
.point_art_12{
    width:445px;
    height:217.5px;
    margin-top: 10px;
}
.point_art_13{
    margin-top: 10px;
}
.point_art_13,.point_art_14{
    width:217.5px;
    height:217.5px
}
.point_art_13{
    margin-bottom:10px
}
.point_art_14{
    margin-left: 10px;
    margin-top: 10px;
}
.point_art_15{
    width:445px;
    height:445px;
    margin-top: 10px;
    float: right;
}
.point_art_16,.point_art_17{
    width:445px;
    height:217.5px;
    margin-bottom:10px;
}
.point_art_18,.point_art_19{
    height:445px;
    width:217.5px;
    margin-bottom:10px
}
.right_two_block{
    width:445px;
    float:right
}
.left_two_block{
    width:445px;
    float:left
}


.black_art{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    transition: 0.3s;
}
.point_art:hover .black_art{
    opacity: 1;
}
.name_art{
    position: absolute;
    width: calc(100% - 20px);
    left: 10px;
    color: #FFF;
    top: calc(110% - 20px);
    transition: all 0.4s ease 0s;
}
.detail_name_art{
    position: absolute;
    width: calc(100% - 20px);
    left: 10px;
    color: #FFF;
    top: calc(100% + 10px);
    transition: all 0.6s ease 0s;
}
.point_art:hover .name_art{
    top: calc(50% - 20px);
}
.point_art:hover .detail_name_art{
    top: calc(50% + 10px);
}


.mini_logo_block{
    width: 110px;
    height: 120px;
    margin: 20px;
    float: left;
}
.mini_logo_block_object{
    width: 110px;
    height: 120px;
    margin-top: 10px;
    float: left;
}
.head_block{
    max-width: 1220px;
    margin: 20px auto 0px auto;
    width: 100%;
}

.title_page{
    width: calc(100% - 190px);
    float: left;
    line-height: 120px;
    margin-top: 25px;
    color: #FFF;
    font-size: 30px;
    text-align: left;
    width: 220px;
    margin-left: 10px;
    height: 30px;
}
.big_title_page{
    margin-bottom: 70px;
}
.block_contact{
    color: #FFF;
    font-size: 20px;
}
.block_contact a{
    color: #FFF;
    text-decoration: none;
}

.block_contact i{
    text-align: center;
    margin-right: 10px;
    width: 30px;
}

.gray_contact{
    color: #ddd;
}
.gray_contact a{
    color: #ddd;
}
/* Объекты*/


.box_object_mobile{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.point_object_mobile{
    padding-top: 7px;
    padding-bottom: 7px;
    color: #FFF;
    border-bottom: 1px solid #222;
    cursor: pointer;
    width: calc(100% - 10px);
    padding-left: 10px;
    transition: 0.3s;
}
.scroll_box_object_mobile{
    width: 100%;
    position: fixed;
    height: 100%;
    overflow: auto;
    left: 0px;
    top: 0px;
    transition: 0.3s;
    left: 0px;
}

.scroll_box_object_detail_mobile{
    width: 330px;
    height: inherit !important;
    background: #000;
    position: relative;
    top: 0px;
    left: 330px;
    //overflow: auto;
    transition: 0.3s;
}


.object_block{
    position: fixed;
    background: #000;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.object_block_mobile{
    position: relative;
    background: #000;
    overflow: hidden;
    width: 330px;
}

.left_menu{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 240px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}
.point_object{
    padding-top: 7px;
    padding-bottom: 7px;
    color: #FFF;
    border-bottom: 1px solid #222;
    cursor: pointer;
    width: calc(100% - 10px);
    padding-left: 10px;
    transition: .3s;
}
.box_object{
    top: 145px;
    height: calc(100% - 155px);
    position: absolute;
    left: 0px;
    width: 100%;
}

#big_map{
    position: absolute;
    right: 0px;
    top: 0px;
    width: calc(100% - 260px);
    height: 100%;
    background: #fff;
    z-index: 0;
}
.info_object_map{
    position: absolute;
    z-index: 10000;
    right: 50px;
    top: 50px;
    font-size: 33px;
    font-family: Pharmadin;
}
.active_object{
    background: rgba(255,255,255,0.2);
}

.detail_block{
    position: absolute;
    right: 0px;
    top: 0px;
    width: calc(100% - 260px);
    height: 100%;
    background: #000;
    z-index: 2;
    display: none;
}
.content_detail_block{
    width: calc(100% - 130px);
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

#map_list{
    position: absolute;
    height: 150px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.title_object{
    line-height: 50px;
    color: #FFF;
    font-size: 20px;
}
.title_object a{
    color: #FFF;
    margin-left: 20px;
    font-size: 18px;
}
.title_object_mobile{
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-bottom: 20px;
}
.slider_detail{
    position: absolute;
    left: 0px;
    top: 50px;
    height: calc(100% - 50px);
    width: 100%;
}
.slide{
    position:relative;
    height:100%;
    width:100%;
    overflow:hidden;
    text-align: center;
}
.slide img{
    height: 100%;
    max-height: 100%;
}
.slide iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}


.slide_mobile{
    width: 330px;
    margin-bottom: 30px;

}
.slide_mobile img{
    width: 100%;
}

.box_button_mobile_object{
    position: fixed;
    transition: 0.3s;
    bottom: -50px;
    left: 0px;
    z-index: 1000;
    height: 50px;
    width: 330px;
}
.button_mobile_object{
    position: absolute;
    width: calc(50% - 1px);
    left: 0px;
    bottom: 0px;
    text-align: center;
    line-height: 50px;
    color: #000;
    height: 50px;
    background: #FFF;
    border-top: 2px solid #000;
}
.js-button-back-object{
    border-right: 1px solid #000;
}
.js-button-to-up-object{
    border-left: 1px solid #000;
    left: 50%;
}
/*Команда*/

.team_block{
    position: relative;
    background: #006666;
    overflow: hidden;

}
.point_info_team_content_mobile{
    display: none;
}
.clear_mobile{
    display: none;
}
.point_team{
    width: 200px;
    float: right;
    margin-top: 50px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    z-index: 2;
}
.point_info_team_content{
    padding: 0px;
    width: 220px;
    margin: 0px;
    float: left;
    margin-top: 50px;
}
.info_team_detail{
    display: none;
    transition: 0.3s;
    position: absolute;
    left: -20px;
    top: 0px;
    color: #000;
    width: calc(100% + 20px);
    padding-left: 10px;
    padding-right: 10px;
    background: #FFF;
    min-height: 620px;
    text-align: left;
    font-size: 14px;
}

.point_team:hover{
    z-index: 3;
}
.avatar_team{
    width: 196px;
    height: 196px;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}
.avatar_team_detail{
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
    float: left;
    margin: 20px;
}
.avatar_team_1{
    background-image: url(../img/team_1.jpg);

}
.avatar_team_2{
    background-image: url(../img/team_2.jpg);

}
.avatar_team_3{
    background-image: url(../img/team_3.jpg);

}
.avatar_team_4{
    background-image: url(../img/team_4.jpg);

}
.avatar_team_5{
    background-image: url(../img/team_5.jpg);

}
.avatar_team_6{
    background-image: url(../img/team_6.jpg);

}
.name_team{
    margin: 10px auto;
    font-size: 20px;
}
.info_team{
    font-size: 14px;
}

.point_vse_svoe{
    float: left;
    width: 280px;
    height: 280px;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
}
.center_point_vse_svoe{
    margin-left: 30px;
    margin-right: 30px;
}

.box_info_team{
    left: 0px;
    top: 0px;
    width: calc(100% - 40px);
    padding: 20px;
    height: 540px;
    background: #FFF;
    color: #000;
    display: none;
    text-align: center;
    z-index: 0;
    position: absolute;

}
.box_info_team div{
    display: table-cell;
    vertical-align: middle;
}
.close_info_team{
    position: absolute;
    right: 30px;
    top: 10px;
    color: #000;
    font-size: 30px !important;
    cursor: pointer;
}


.three_block_contact{
    float: left;
    width: 33.33%;
    color: #FFF;
    font-size: 22px;

}
.three_block_contact a{
    color: #FFF;
    text-decoration: none;

}
.three_block_contact i{
    margin-right: 10px;
}

.info_team_content{
    color: #FFF;
    font-size: 18px;
}

.back_vse_svoe{
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    background:rgba(0,0,0,0.5);
    visibility: hidden;
}
.name_vse_svoe{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #FFF;
    width: calc(100% - 40px);
    padding: 20px;
}
.point_vse_svoe:hover .back_vse_svoe{
    visibility: visible;
}

.pagination a{
    color: #FFF;
}
.button_detail_news{
    width: 150px;
    height: 30px;
    background: #fff;
    color: #000;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    margin: 10px auto;
}

.h1_news{
    font-weight: normal;

    color: #000;
    font-size: 30px;
}

.image_news{
    display: block;
}

.mobile_team{
    display: none;
}

.content_news{
    background: #FFF;
    overflow: hidden;
    width: calc(100% - 30px);
    padding: 15px;
}
.share_news{
    margin-bottom: 5px;
}

.back_href{
    color: #FFF;
    float: right;
    font-size: 40px;
    line-height: 120px;
    margin-top: 20px;
}
.back_href a{
    color: #FFF;
    text-decoration: none;
}


.image_news{
    text-align: center;
}

#disqus_thread{
    margin-top: 50px;
}

.title_form{
    font-size: 20px;
    color: #FFF;
}
.profile_list img{
    margin-top: 20px;
}

.title_profile{
    font-size: 20px;
    color: #FFF;
    margin-top: 30px;
}
.form_contact{
    margin-top: 50px;
    width: 300px;
    float: left;
}
.form_contact input{
    padding: 0px;
    margin: 0px;
    width: 300px;
    height: 40px;
    text-indent: 15px;
    margin-top: 20px;
    font-size: 14px;
    border: none;
    font-family: Arial_Narrow;
}

.form_contact textarea{
    padding: 0px;
    margin: 0px;
    width: 270px;
    height: 140px;
    padding: 15px;
    margin-top: 20px;
    font-size: 14px;
    border: none;
    font-family: Arial_Narrow;
}
.button_send{
    background: #000;
    height: 50px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
.thanks{
    text-align: center;
    font-size: 20px;
    color: #FFF;
}
.point_art_slide{
    width: calc(100% - 20px);
    max-width: calc(1220px + (50% - 630px));
    position: relative;
    margin-top: 20px;
}
.image_art{
    width: calc(100% - 250px);
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-position: center;
}
.info_art{
    width: 250px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
}
.year_art{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #FFF;
    bottom: 20px;
}
.look_interior{
    position: absolute;
    text-align: center;
    left: 10px;
    bottom: 120px;
    color: #fff;
    width: calc(100% - 20px);
    cursor: pointer;
    background: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
.description_art{
    position: absolute;
    left: 10px;
    bottom: 220px;
    text-align: center;
    color: #000;
    width: calc(100% - 20px);
    left: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:20px;
}

.social_art{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.social_art img{
    margin-left: 2px;
    margin-right: 2px;
}
.social_art a{
    text-decoration: none;
}
.social_art svg{
    width: 25px;
    margin-right: 5px;
}
.title_social_art{
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    font-size: 23px;
}

.info_team_text{
    width: calc(100% - 300px);
    float: right;
    margin: 20px;
    font-size: 20px;
}

.close_team{
    position: absolute;
    right: 0px;
    top: -40px;
    color: #FFF;
    font-size: 30px !important;
}

.name_team_detail{
    font-size: 30px;
    margin-bottom: 30px;
}


.center_text_art{
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0px;
    text-align: center;
    top: calc(50% - 180px);
    text-align: center;
    color: #FFF;
    font-size: 60px;
    font-family: ostrich-sans-heavy;
}
.center_text_art span{
    font-size: 30px;
    font-family: ostrich-sans-medium;
}

.loader_new_art{
    text-align: center;
    margin: 50px auto;
    display: none;
}

.content_news a{
    text-decoration: none;
}
.name_comment{
    width: 300px;
    height: 30px;
    border: 1px solid #ddd;
    text-indent: 10px;
    margin-top: 50px;
    font-size: 16px;
    float: left;
}
.title_comment{
    line-height: 30px;
    margin-top: 50px;
    float: right;
    font-size: 18px;
    text-transform: uppercase;
}
.text_comment{
    width: calc(100% - 22px);
    padding: 10px;
    height: 100px;
    border: 1px solid #ddd;
    margin: 20px auto;
    font-size: 16px;
}

.button_comment{
    height: 30px;
    width: 150px;
    line-height: 25px;
    color: #FFF;
    text-align: center;
    background: #660033;
    float: right;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.point_comment{
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.name_comment_show{
    font-size: 20px;
    color: #660033;
}
.date_comment{
    color: #aaa;
    font-size: 14px;
    margin-top: 10px;
}
.text_comment_show{
    margin-top: 10px;

}

.title_comment_show{
    font-size: 20px;
    margin-top: 50px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.block_comment{
    margin-top: 50px;
}

.scroll_to_up{
    position: absolute;
    z-index: 1000000;
    width: calc(100% - 20px);
    left: 10px;
    top: 20px;
    color: #000;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.index_mobile{
    display: block;
}

.block_mobile{
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
    color: #FFF;
}

.block_restourant{

    background: #000;
}
.block_art_mobile{
    background: #330066;
}
.block_vse_svoe_mobile{
    background: #660033;
}
.block_contact_mobile{
    background: #006666;
}

.text_block_mobile{
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
}
.text_block_mobile div{
    display: table-cell;
    vertical-align: middle;
    font-family: ostrich-sans-medium;
    font-size: 50px;
}

.style_a{
    text-decoration: none;
    color: #FFF;
}


.social_object a{
    text-decoration: none;
}
.social_object svg{
    width: 25px;
    margin-left: 10px;
    float: right;
}
.social_object{
    margin: 10px;
}

.select_view {
    display: none;
  width: 300px;
  height: 30px;
  border-radius: 0px;
  -webkit-appearance: none;
  background: #FFF;
    border: 1px solid #fff;
    font-size: 16px;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
    font-family: Arial_Narrow;
    color: #000;
    margin-top: 40px;
    text-indent: 10px;
}

.select_view::-ms-expand {
  display: none;
}

.block_contact_mobile{
    display: none;
}
.box_vse_svoe_mobile{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: calc(100% - 100px);
}
.block_vse_svoe_menu{
    width: 50%;
    height: 50%;
    position: absolute;
    background: #660033;
}
.block_vse_svoe_menu:hover{
    background: #000;
}
.icon_vse_svoe{
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: 30px auto;
}

.name_vse_svoe_block{
    font-size: 20px;
    color: #FFF;
    text-align: center;
    width: 100%;
}
.box_element_vse_svoe{
    width: 100%;
    height: 130px;
    position: absolute;
    left: 0px;
    top: calc(50% - 75px);
}
.icon_vse_svoe_1{
    background-image: url(../img/vse-svoe-1.png);
}
.icon_vse_svoe_2{
    background-image: url(../img/vse-svoe-2.png);
}
.icon_vse_svoe_3{
    background-image: url(../img/vse-svoe-3.png);
}
.icon_vse_svoe_4{
    background-image: url(../img/vse-svoe-4.png);
}


.point_vse_svoe iframe{
    width: 300px;
    height: 300px;
}
.block_team_box{
    position: relative;

    z-index: 5;
}

.svg_phone{
    margin-right: 37.5px;
}

.load_more{
    width: 100px;
    height: 100px;
    border: 3px solid #000;
    margin: 30px auto;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1000000;
}

.copyright{
    text-align: center;
    margin: 30px auto;
    font-size: 14px;
    margin-top: 50px;
}

.copyright_white{
    color: #FFF;
}
.text_load_art{
    position: relative;
    z-index: 0;
}

.load_icon_art{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background-color: #FFF;
    background-position: center;
    background-image: url(../img/load.gif);
}




.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
