@media screen and (max-width: 800px){
    .content{
        width: 740px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .back_vse_svoe{
        display: none !important;
    }
    .point_vse_svoe{
        width: 350px;
        height: 350px;
        float: left;
        margin-top: 40px;
    }
    .center_point_vse_svoe{
        margin-left: 0px;
        margin-right: 0px;
    } 
    .point_vse_svoe_right{
        float: right;
    }

    .head_block{
        max-width: 765px;
    }
    
    .image_art{
        height: calc(100% - 150px);
        width: 100%;
    }
    
    .info_art{
        width: 100%;
        height: 250px;
        position: absolute;
        right: 0px;
        top: calc(100% - 150px);
    }
    .scroll_to_up{
        width: 33.33%;
        left: 0px;
        top: 20px;
    }
    .description_art{
        width: 33.33%;
        left: 33.33%;
        bottom: inherit;
        top: 20px;
    }
    .social_art{
        right: 0px;
        top: 15px;
        width: 33.33%;
        margin-top: 0px;
      
    }
    .content_detail_block{
        width: 100% ;
    }
    .point_team{
        float: right;
        margin-left: 0px;
        margin-right: 0px;
    }
    .center_point_team{
        margin-left: 70px;
        margin-right: 70px;
    }
    .point_info_team_content{
        margin-right: 70px;
        width: 230px !important;
        display: block !important;
        line-height: 25px;
        margin-bottom: 0px !important;
        height: inherit !important;
    }
    .info_team_detail{
        left: 20px;
        width: calc(100% - 90px);
    }
   
    .look_interior{
        width: 27%;
        left: 3%;
        height: 14px;
        top: 50px;
        font-size: 14px;
    }
    .look_interior br{
        display: none
    }

}
 

@media screen and (max-width: 330px){
    
    .content{
        width: 300px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .point_art_slide{
        width: 100%;
    }
    .scroll_to_up{
        display: none;
    }
    .description_art{
        width: calc(100% - 20px);
        display: block;
        margin: 10px;
        left: 0px;
        top: 0px;
        position: relative;
    }
    .social_art{
        position: relative;
        float: left;
        width: 50%;
        margin-top: 0px;
        top: 0px;
        left: 0px;
    }
    .info_art{
        height: inherit;
    } 
    
    .point_vse_svoe{
        height: 300px;
        width: 300px;
    }
    .title_page{
        width: 200px;
        margin-top: 30px;
    }
    .title_page svg{
        float: left;

    }
    .content_news{
        width: 100%;
        padding: 0px;
    }
    .title_comment{
        float: left;
    }
    .name_comment{
        width: 196px;
        margin-top: 15px;
    }
    .point_team{
        float: none;
        margin: 10px auto;
        width: 150px;
        display: none;
        margin-bottom: 20px;
    }
    .big_title_page{
        margin-bottom: 0px;
    }
    .point_team_1{
        display: block;
    }
    .point_info_team_content{
        display: block;
        width: 100% !important;
    }
    .clear_mobile{
        display: block;
        clear: both;
    }
    .block_team_mobile{
        padding-top: 30px;
        padding-bottom: 30px;
        background: #FFF;
        color: #006666 !important;
        width: calc(100% + 30px);
        margin-left: -15px;
        position: relative;
        z-index: 0;
    }
    .block_team_mobile p{
        color: #006666;
    }
    .avatar_team{
        width: 150px;
        height: 150px;
    }
    iframe{
        width: 100%;
        height: 200px;
    }
    .box_ugol_art{
        margin: 30px auto;
    }
    .look_interior{
        float: right;
        position: relative;
        margin-right: 10px;
        float: right;
        width: calc(50% - 10px);
        top: 0px;
        left: 0px;
    }
    .mini_logo_block{
        width: 50px;
        height: 60px;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    .title_social_art{
        text-transform: uppercase;
        font-size: 17px;
    }
    .mobile_team{
        display: block;
    }
    .mobile_team .point_team{
        float: left;
        display: block;
        width: 70px;
       
        margin-left: 15px;
        margin-right: 15px;
    }
    .mobile_team .point_team .avatar_team{
        width: 70px;
        height: 70px;
    }
    .mobile_team .point_team_1{
        display: none;
    }
    .mobile_team .name_team{
        font-size: 14px;
    }
    
    .info_team_detail{
        width: calc(100% + 15px);
        left: -15px;
        min-height: 520px;
    }
    .info_team_text{
        margin: 0px auto;
        float: none;
        width: 280px;
    }
    .avatar_team_detail{
        margin: 20px auto;
        float: none;
    }
    .close_team{
        display: none;
    }
    .back_white_contact_us{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: 100;
        background: #FFF;
    }
    .box_contact_main{
        display: block;
        height: 100px;
        top: calc(50% - 0px);
        background: #fff;
        z-index: 100;
    }
    .main_art{
        display: none;
    }
    .main_art_mobile{
        display: block;
    }
    .main_art_mobile .main_logo{
        top: calc(50% - 135px);
    }
    .main_art_mobile .center_text_art{
        position: absolute;
        top: calc(50% + 5px);
    }
    .select_view{
        display: block;
    } 
    .info_team{
        display: none !important;
    }
    .block_contact{
        display: none;
    }
    .block_contact_mobile{
        font-size: 18px;
        line-height: 23px;
        display: block;
    }
}