<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <title>SVOЁBURO & JenyaAnanicheva</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <% if not @description.blank?%>
        <meta name="Description" content="<%=@description%>">
    <%else%>
        <meta name="Description" content="Создание дизайна интерьера, концепции, фирменного стиля ресторанов и общественных мест "под ключ". Интерьер, как инструмент маркетинга.">
    <%end%>


    <% if not @keywords.blank?%>
        <meta name="Keywords" content="<%=@keywords%>">
    <%else%>
        <meta name="Keywords" content="SVOE BURO & JenyaAnanicheva , JenyaAnanicheva,Дизайн интерьеров, дизайн бюро, дизайн, Женя Ананичева, Женя Ананичева дизанер интерьера, Евгения Ананичева дизайнер интерьера, дизайн интерьера ресторана, дизайн интерьера кафе, ресторан Наш Бараш, чайхона номер один, Евгения Ананичева дизайнер, Евгения Ананичева, Свое Бюро, Svoe Buro, Vse Svoe, для своих,дизайнер чайхоны">
    <%end%>

    <% if params[:pattern]=='share_art'%>
        <meta property="og:title" content="SVOЁBURO & JenyaAnanicheva" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://svoeburo.com/share_image/<%=params[:id]%>" />
        <meta property="og:image" content="http://svoeburo.com<%=@image.photo.url(:big)%>" />
    <% else %>
        <% if params[:pattern]=='share_image'%>
            <meta property="og:title" content="SVOЁBURO & JenyaAnanicheva" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="http://svoeburo.com/share_image/<%=params[:id]%>" />
            <meta property="og:image" content="http://svoeburo.com<%=@image.image.url()%>" />
        <% else %>

            <% if params[:pattern]=='share_visual'%>
                <meta property="og:title" content="SVOЁBURO & JenyaAnanicheva" />
                <meta property="og:type" content="website" />
                <meta property="og:url" content="http://svoeburo.com/share_image/<%=params[:id]%>" />
                <meta property="og:image" content="http://svoeburo.com<%=@image.image.url()%>" />
            <% else %>

                <% if params[:pattern]=='news'%>
                    <meta property="og:title" content="SVOЁBURO & JenyaAnanicheva" />
                    <meta property="og:type" content="website" />
                    <meta property="og:url" content="http://svoeburo.com/news/<%=@page.id%>" />
                    <meta property="og:image" content="http://svoeburo.com<%=@page.image.url(:normal)%>" />

                <% else %>
                    <meta property="og:title" content="SVOЁBURO & JenyaAnanicheva" />
                    <meta property="og:type" content="website" />
                    <meta property="og:url" content="http://svoeburo.com" />
                    <meta property="og:image" content="http://svoeburo.com/img/logo.jpg" />
                <% end %>
            <%end%>
        <% end %>
    <% end %>

    <meta name='yandex-verification' content='791f45d66d0e846d' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

</head>

<body>

<input type="hidden" name="test">

<div style="display:none">Дизайн интерьеров, дизайн бюро, дизайн, Женя Ананичева, Женя Ананичева дизанер интерьера, Евгения Ананичева дизайнер интерьера, дизайн интерьера ресторана, дизайн интерьера кафе, ресторан Наш Бараш, чайхона номер один, Евгения Ананичева дизайнер, Евгения Ананичева, Свое Бюро, Svoe Buro, Vse Svoe, для своих</div>

<%= yield %>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter36953105 = new Ya.Metrika({
                    id:36953105,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/36953105" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


</body>
</html>
